<div class="empty"></div>
<div class="banner d-flex termsofuse-banner contact-banner">
    <figure>
        <img
          src="{{ subscribeData?.data?.media.url }}"
          width="1440"
          height="493"
          alt="termsofuse-banner"
        />
      </figure>
    <div class="termsofuse-banner-main text-center">
        <div class="container">
            <div class="termsofuse-banner-content">
                <h1 class="text-uppercase">{{ subscribeData?.data?.title }}</h1>
            </div>
        </div>
    </div>
</div>