@import "../../../assets/scss/theme-color.scss";
.articles {
  .banner {
    max-height: 754px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .userDetail {
    max-width: 300px;

    .userImage {
      width: 179px;
      margin: 80px 0 0 15px;
      background: white;
      border-radius: 100%;
      height: 179px;
      img {
        bottom: -11px;
        border-radius: 100%;
      }
    }
    h1 {
      font-family: "Ballinger Condensed Medium";
      font-weight: bold;
      font-size: 42px;
      line-height: 90px;
      letter-spacing: -0.015em;
      color: #243444;
    }
    h5 {
      font-family: "Ballinger Condensed Medium";
    }
    hr {
      background: #243444;
      margin: 13px 0;
    }
    .fs-21 {
      font-size: 21px;
    }

    .social {
      > li {
        > a {
          height: 33px;
          width: 33px;
          transition: all 0.5s ease;
          color: $white;
          &:hover,
          &:focus {
            background-color: $white;
            color: $primary;
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      max-width: inherit;
      .userImage {
        margin: 80px auto 0;
      }
      img {
        border-radius: 100%;
      }
      h1,
      h1 + h5 {
        text-align: center;
      }
      ul.social {
        justify-content: center;
      }
    }
  }

  .most-like-articles {
    font-family: "Roboto";
    // height: calc(100% - 27px);
    // width: calc(100% - 30px);
    li {
      display: flex;
      img {
        min-width: 100px;
      }
      p {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        a {
          color: #243444;
        }
        // word-break: break-all;
      }
      span {
        font-size: 11px;
        line-height: 13px;
      }
    }

    @media screen and (max-width: 960px) {
      position: relative;
      height: 100%;
      overflow: visible;
      width: 100%;
    }
  }

  //   articles detail style
  .details {
    line-height: 141.19%;
    .detailHead {
      bottom: 100%;
      font-family: "Ballinger Condensed Medium";
      min-height: 186px;
    }
    .category,
    .authorName,
    .subTitle {
      min-width: 141px;
      font-size: 20px;
      font-family: "Ballinger Condensed Medium";
      line-height: 141.19%;
    }
    .description {
      p {
        font-family: "Roboto";
        font-size: 17px;
      }
    }

    @media screen and (max-width: 767px) {
      .detailHead {
        position: relative !important;
        border-top: 1px solid $dark-gray;
      }
    }
  }

  .nextLine {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: $primary;
      transform: translateY(-50%);
    }
    .nextBtn {
      font-family: "ProximaNova-Regular";
      font-size: 17px;
      z-index: 1;
      img,
      span {
        cursor: pointer;
      }
    }
  }
  .ArticlesNewsSection {
    h4 {
      font-family: "Ballinger Condensed Medium";
      font-size: 18px;
      line-height: 22px;
    }
    .items {
      font-family: "Roboto";
      background: #e8eef2;
      .card-body {
        h6,
        h6 a {
          font-size: 18px;
          font-family: "Ballinger Condensed Medium";
        }
        span,
        span a {
          // font-family: "Roboto";
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: #243444;
        }
        p,
        p a {
          // font-family: "Roboto";
          font-size: 10px;
          line-height: 141.19%;
        }
      }
    }
  }
}
