<div [ngClass]="commonService.trendingClass"></div>
<div
  *ngIf="isBrowser"
  class="search-results sidebar-blur"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
>
    <div *ngIf="detailsData && detailsData.length">
      <app-item
        *ngFor="let details of detailsData; let i = index"
        class="element"
        [details]="details"
        attr.data-title="{{ details['slug'] }}"
        attr.data-id="{{ details['id'] }}"
        [mainNewsData]="mainNews"
        [brandNewsData]="brandNews"
        [brandSlug]="brandSlug"
        [index]="i"
        [type]="type"
        [isLoading]="isLoading"
        [socialImage]="social_image"
        [isSmallWindow]="isSmallWindow"
        [publication]="publication"
        [hasMore] = "hasMore"
      ></app-item>
    </div>
</div>

<ngx-json-ld [json]="schema"></ngx-json-ld>
