<div class="contact-editorial">
    <div class="container">
        <div class="contact-editorial col-xl-5 col-lg-8">
            <div class="editors">
                <h4 class="text-center">Have a great story that you'd like to see featured on <span> 1851 </span>?</h4>
                <p class="text-center">Send us a message and we'll have one of our editors look into it.</p>
                <form class="fill-form ng-untouched ng-pristine ng-invalid">
                    <ul class="d-flex">
                        <li class="col-xl-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control feild1"
                                    placeholder="FIRST NAME*"
                                    id="fname"
                                    name="fname"
                                    >
                            </div>
                        </li>
                        <li class="col-xl-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control feild1"
                                    placeholder="LAST NAME*"
                                    id="lname"
                                    name="lname">
                                
                            </div>
                        </li>
                        <li class="col-xl-12">
                            <div class="form-group">
                                <input
                                    type="email"
                                    class="form-control feild1"
                                    placeholder="EMAIL ADDRESS*"
                                    id="femail"
                                    name="femail">
                            </div>
                        </li>
                        <li class="col-xl-12">
                            <div class="form-group">
                                <textarea
                                    class="form-control form-control1"
                                    placeholder="YOUR MESSAGE"
                                    id="fmessage"
                                    name="fmessage"></textarea>
                
                            </div>
                        </li>
                    </ul>
                    <div class="contact-editorial-main">
                        <h6>Click all of which apply to you:</h6>
                        <ul>
                            <li>
                                <div class="form-group">
                                <label for="current" class="radio_btns1">
                                    <input
                                        type="checkbox"
                                        class="text-field"
                                        id="current"
                                        >
                                    <span>Current Franchisee</span>
                                </label>
                                <div class="editors-details">
                                    <strong class="d-block">Number of Units</strong>
                                    <ul>
                                    <li class="d-inline-block">
                                        <label for="units" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="units"
                                            name="unit"
                                            class="unit"
                                            value="1-10">
                                        <span>1-10</span>
                                        </label>
                                    </li>
                                    <li class="d-inline-block">
                                        <label for="units1" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="units1"
                                            name="unit"
                                            class="unit"
                                            value="10+">
                                        <span>10+</span>
                                        </label>
                                    </li>
                                    </ul>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                <label for="prospective" class="radio_btns1">
                                    <input
                                        type="checkbox"
                                        class="text-field"
                                        id="prospective"
                                        >
                                    <span>Prospective Franchisee</span>
                                </label>
                                <div class="editors-details">
                                    <strong class="d-block">How soon do you want to become a franchisee?</strong>
                                    <ul>
                                    <li class="d-inline-block">
                                        <label for="months" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="months"
                                            name="unit1"
                                            class="unit"
                                            value="Under 6 months">
                                        <span>Under 6 months</span>
                                        </label>
                                    </li>
                                    <li class="d-inline-block">
                                        <label for="months1" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="months1"
                                            name="unit1"
                                            class="unit"
                                            value="Over 6 months">
                                        <span>Over 6 months</span>
                                        </label>
                                    </li>
                                    </ul>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                <label for="executive" class="radio_btns1">
                                    <input
                                        type="checkbox"
                                        class="text-field"
                                        id="executive"
                                        >
                                    <span>Franchise Executive</span>
                                </label>
                                <div class="editors-details">
                                    <ul>
                                    <li class="d-inline-block">
                                        <label for="leadership" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="leadership"
                                            name="unit2"
                                            class="unit"
                                            value="Executive leadership">
                                        <span>Executive leadership</span>
                                        </label>
                                    </li>
                                    <li class="d-inline-block">
                                        <label for="leadership1" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="leadership1"
                                            name="unit2"
                                            class="unit"
                                            value="Non-executive leadership">
                                        <span>Non-executive leadership</span>
                                        </label>
                                    </li>
                                    </ul>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                <label for="executive1" class="radio_btns1">
                                    <input
                                        type="checkbox"
                                        class="text-field"
                                        id="executive1"
                                        >
                                    <span>Business Executive</span>
                                </label>
                                <div class="editors-details">
                                    <ul>
                                    <li class="d-inline-block">
                                        <label for="leadership2" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="leadership2"
                                            name="unit3"
                                            class="unit"
                                            value="Executive leadership">
                                        <span>Executive leadership</span>
                                        </label>
                                    </li>
                                    <li class="d-inline-block">
                                        <label for="leadership3" class="radio_btns">
                                        <input
                                            type="radio"
                                            id="leadership3"
                                            name="unit3"
                                            class="unit"
                                            value="Non-executive leadership"
                                            >
                                        <span>Non-executive leadership</span>
                                        </label>
                                    </li>
                                    </ul>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                <label for="other" class="radio_btns1">
                                    <input
                                        type="checkbox"
                                        class="text-field"
                                        id="other"
                                       >
                                    <span>Other</span>
                                </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="back d-block submit_btn">
                        SUBMIT 
                        <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    </button>
                    <a class="text-center d-block" href="javascript::void(0)">*Indicates required field</a>
                </form>
            </div>
        </div>
    </div>
</div>