<div class="featured-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="featured-left">
          <img src="../assets/img/maxresdefault.jpg" alt="" class="img-fluid" />
          <!-- <img appyoutubeimage
          sizes="(max-width: 576px) 600px,
          (max-width: 768px) 800px,
          (max-width: 992px) 600px,
          (max-width: 1200px) 700px,
          1300px"  
          src="{{featuredData.data[0].media | defaultImage:1300:730}}"> -->
          <div class="how-to-succeed">
            <h2>{{ featuredData.data[0].title }}</h2>
            <p>
              {{ featuredData.data[0].short_description }}
            </p>
          </div>
          <div class="readmore-block">
              <a class="">READ MORE</a>
            </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="featured-right">
          <div class="feature-block">
            <div class="row" *ngFor="let item of featuredData.data.slice(1)" >
              <div class="col-md-6">
                <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
              </div>
              <div class="col-md-6">
                <p> {{ item.title }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

