<div class="menu-details">
  <div class="menu-logo text-center">
    <a href="/">
      <figure>
        <img
          class="logo-img"
          src="{{ sidebar?.logo }}"
          width="{{ publication.id === 'EE' ? 200 : 53 }}"
          height="53"
          alt="logo1"
        />
      </figure>
    </a>
  </div>
  <div class="s-menu-search">
    <input
      class="form-control"
      type="text"
      placeholder="Search 1851franchise.com"
    />
  </div>
  <div class="s-menu-list-block">
    <h4>
      <i class="fa fa-database"></i
      ><a routerLink="/monthlycovers">MONTHLY COVERS</a>
    </h4>
    <a routerLink="{{ sidebar?.data['monthly-cover']?.url }}">
      <img
        appYoutubeImage
        src="{{ sidebar?.data['monthly-cover']?.media | defaultImage: 97:127 }}"
        width="100"
        alt="img27"
      />
    </a>
  </div>
  <div class="s-menu-list-block">
    <h4><i class="fa fa-server"></i>{{ sidebar?.data?.category?.label }}</h4>
    <ul>
      <li class="d-block">
        <div class="monthly-covers-main">
          <a routerLink="/monthlycovers">
            <figure>
              <i class="fa fa-database"></i>
            </figure>
            <strong>MONTHLY COVERS</strong>
          </a>
          <div class="monthly-covers-img">
            <a routerLink="{{ sidebar['monthly-cover']?.url }}">
              <figure>
                <img
                  appYoutubeImage
                  src="{{
                    sidebar['monthly-cover']?.media | defaultImage: 97:127
                  }}"
                  width="97"
                  height="127"
                  alt="img27"
                />
              </figure>
            </a>
          </div>
        </div>
        <div class="monthly-covers-main">
          <a class="cursor-default" href="javascript:;">
            <figure>
              <i class="fa fa-server"></i>
            </figure>
            <strong>{{ sidebar?.category?.label }}</strong>
          </a>
          <div class="monthly-covers-details">
            <p *ngFor="let item of sidebar?.category?.items">
              <a routerLink="{{ item?.url }}">{{ item.title }}</a>
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="sidebar?.awards" class="d-block">
        <div class="monthly-covers-main">
          <a class="cursor-default" href="javascript:;">
            <figure>
              <i class="fa fa-trophy"></i>
            </figure>
            <strong>AWARDS</strong>
          </a>
          <div class="monthly-covers-details">
            <p *ngFor="let item of sidebar?.awards">
              <a *ngIf="item" routerLink="{{ item }}">{{ item.title }}</a>
            </p>
          </div>
        </div>
        <div class="monthly-covers-main" *ngIf="sidebar['power-rankings']">
          <a routerLink="{{ sidebar['power-rankings'].url }}">
            <figure>
              <i class="fa fa-star"></i>
            </figure>
            <strong>POWER RANKINGS</strong>
          </a>
        </div>
      </li>
      <li class="d-block">
        <div class="monthly-covers-main">
          <a routerLink="{{ sidebar['about-1851']?.url }}">
            <figure>
              <i class="fa fa-question-circle"></i>
            </figure>
            <strong
              >ABOUT
              <span>{{ publication?.title?.toUpperCase() }}</span></strong
            >
          </a>
        </div>
        <div class="monthly-covers-main">
          <a routerLink="/termsofuse#sponsored" (click)="closeMenu()">
            <figure>
              <i class="fa fa-usd"></i>
            </figure>
            <strong>SPONSORED CONTENT</strong>
          </a>
        </div>
        <div class="monthly-covers-main">
          <a routerLink="about#tellus">
            <figure>
              <i class="fa fa-rss"></i>
            </figure>
            <strong
              >ADVERTISE ON
              <span>{{ publication?.title?.toUpperCase() }}</span></strong
            >
          </a>
        </div>
        <div class="monthly-covers-main">
          <a href="{{ sidebar['contact-editorial']?.url }}">
            <figure>
              <i class="fa fa-envelope-open"></i>
            </figure>
            <strong
              >CONTACT <span>{{ publication?.title?.toUpperCase() }}</span
              >&nbsp;<span *ngIf="publication?.id != 'EE'"
                >EDITORIAL</span
              ></strong
            >
          </a>
        </div>
        <div class="monthly-covers-main">
          <a routerLink="{{ sidebar['terms-of-use']?.url }}">
            <figure>
              <i class="fa fa-list"></i>
            </figure>
            <strong>TERMS OF USE</strong>
          </a>
        </div>
      </li>
      <li class="d-block">
        <div class="monthly-covers-main">
          <a href="{{ sidebar?.login?.url }}">
            <figure>
              <i class="fa fa-home"></i>
            </figure>
            <strong>LOGIN</strong>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="line-divider-menu"></div>
  <div class="s-menu-list-block">
    <h4 *ngIf="sidebar?.data['awards']"><i class="fa fa-trophy"></i>AWARDS</h4>
    <ul>
      <li *ngFor="let item of sidebar?.data['awards']">
        <a routerLink="/frandevplayers2021">{{ item.title }}</a>
      </li>
    </ul>
    <div class="s-menu-list-s p-0" *ngIf="sidebar?.data['power-rankings']">
      <a href="{{ sidebar?.data['power-rankings']?.url }}"
        ><i class="fa fa-star"></i>POWER RANKINGS</a
      >
    </div>
  </div>
  <div class="line-divider-menu"></div>
  <div class="s-menu-list-s">
    <a href="{{ sidebar?.data['about-1851']?.url }}"
      ><i class="fa fa-question-circle"></i>ABOUT
      <span>{{ publication?.title?.toUpperCase() }}</span></a
    >
  </div>
  <div class="s-menu-list-s">
    <a href="home/termsofuse#sponsored"
      ><i class="fa fa-rss"></i>SPONSORED CONTENT</a
    >
  </div>
  <div class="s-menu-list-s">
    <a href="about#tellus"
      ><i class="fa fa fa-rss"></i>ADVERTISE ON
      <span>{{ publication?.title?.toUpperCase() }}</span></a
    >
  </div>
  <div class="s-menu-list-s">
    <a href="{{ sidebar?.data['contact-editorial']?.url }}"
      ><i class="fa fa-envelope-open"></i>CONTACT
      <span>{{ publication?.title?.toUpperCase() }}</span
      >&nbsp;<span *ngIf="publication.id !== 'EE'">EDITORIAL</span></a
    >
  </div>

  <div class="s-menu-list-s">
    <a href="{{ sidebar?.data['terms-of-use']?.url }}"
      ><i class="fa fa-list"></i>TERMS OF USE</a
    >
  </div>

  <div class="line-divider-menu"></div>

  <div class="s-menu-list-s">
    <a href="{{ sidebar?.login?.url }}"><i class="fa fa-home"></i>LOGIN</a>
  </div>
</div>
