<!-- Uncomment this if you want to close menu bar on click outside menu -->
<!-- <div
  [ngClass]="common.showmenu ? 'closeMenu' : ''"
  (click)="common.toggle()"
></div> -->
<div
  *ngIf="isMain"
  class="menu-details header-left"
  [ngClass]="common.showmenu ? 'show' : ''"
>
  <div class="menu-logo text-center">
    <a
      routerLink="/"
      [ngClass]="common.showmenu ? 'closeMenu' : ''"
      (click)="common.toggle()"
    >
      <figure>
        <img
          class="logo-img"
          src="{{ sidebar.logo }}"
          width="{{ publication.id === 'EE' ? 200 : 53 }}"
          height="53"
          alt="logo"
        />
      </figure>
    </a>
  </div>
  <div class="menu-search">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm)">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [placeholder]="sidebar?.search?.placeholder"
          formControlName="searchInput"
        />
        <button type="button" (click)="onSearchSubmit(searchForm)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="monthly-covers">
    <ul>
      <li class="d-block">
        <div class="monthly-covers-main">
          <a
            routerLink="/monthlycovers"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-database"></i>
            </figure>
            <strong>MONTHLY COVERS</strong>
          </a>
          <div class="monthly-covers-details monthly-covers-details1">
            <a
              routerLink="{{ sidebar['monthly-cover']?.url }}"
              [ngClass]="common.showmenu ? 'closeMenu' : ''"
              (click)="common.toggle()"
            >
              <figure>
                <img
                  appYoutubeImage
                  src="{{
                    sidebar['monthly-cover']?.media | defaultImage: 97:127
                  }}"
                  width="97"
                  height="127"
                  alt="monthly cover"
                />
              </figure>
            </a>
          </div>
        </div>
        <div class="monthly-covers-main">
          <a class="cursor-default" href="#" onclick="return false;">
            <figure>
              <i class="fa fa-server"></i>
            </figure>
            <strong>{{ sidebar?.category?.label }}</strong>
          </a>
          <div class="monthly-covers-details">
            <p *ngFor="let item of sidebar?.category?.items">
              <a
                routerLink="{{ item.url.replace('+', '-') }}"
                [ngClass]="common.showmenu ? 'closeMenu' : ''"
                (click)="common.toggle()"
                >{{ item.title }}</a
              >
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="sidebar['awards']" class="d-block">
        <div class="monthly-covers-main">
          <a class="cursor-default" href="#" onclick="return false;">
            <figure>
              <i class="fa fa-trophy"></i>
            </figure>
            <strong>AWARDS</strong>
          </a>
          <div class="monthly-covers-details">
            <p *ngFor="let item of sidebar['awards']">
              <a routerLink="/{{ item?.url }}">{{ item?.title }}</a>
            </p>
          </div>
        </div>
        <div class="monthly-covers-main" *ngIf="sidebar['power-rankings']">
          <a
            routerLink="{{ sidebar['power-rankings']?.url }}"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-star"></i>
            </figure>
            <strong>POWER RANKINGS</strong>
          </a>
        </div>
      </li>
      <li class="d-block">
        <div class="monthly-covers-main">
          <a
            routerLink="{{ sidebar['about-1851']?.url }}"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-question-circle"></i>
            </figure>
            <strong
              >ABOUT
              <span>{{ publication?.shortTitle?.toUpperCase() }}</span></strong
            >
          </a>
        </div>
        <div class="monthly-covers-main">
          <a
            routerLink="/termsofuse"
            fragment="sponsored"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-usd"></i>
            </figure>
            <strong>SPONSORED CONTENT</strong>
          </a>
        </div>
        <div class="monthly-covers-main">
          <a
            routerLink="/about"
            fragment="tellus"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-rss"></i>
            </figure>
            <strong
              >ADVERTISE ON
              <span>{{ publication?.shortTitle?.toUpperCase() }}</span></strong
            >
          </a>
        </div>
        <div class="monthly-covers-main">
          <a
            routerLink="{{ sidebar['contact-editorial']?.url }}"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-envelope-open"></i>
            </figure>
            <strong
              >CONTACT <span>{{ publication?.shortTitle?.toUpperCase() }}</span
              >&nbsp;<span *ngIf="publication.id != 'EE'"
                >EDITORIAL</span
              ></strong
            >
          </a>
        </div>
        <div class="monthly-covers-main">
          <a
            routerLink="{{ sidebar['terms-of-use']?.url }}"
            [ngClass]="common.showmenu ? 'closeMenu' : ''"
            (click)="common.toggle()"
          >
            <figure>
              <i class="fa fa-list"></i>
            </figure>
            <strong>TERMS OF USE</strong>
          </a>
        </div>
      </li>
      <li class="d-block">
        <div class="monthly-covers-main">
          <a href="{{ sidebar['login']?.url }}">
            <figure>
              <i class="fa fa-home"></i>
            </figure>
            <strong>LOGIN</strong>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <nav class="d-sm-block d-md-none">
    <ul>
      <li *ngIf="header['Franchise Brands']" class="has_dd d-block float-none">
        <a class="text-uppercase">
          {{ header["Franchise Brands"]?.title }}
          <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
        </a>
        <div class="megamenu">
          <ul>
            <li *ngFor="let subItem of header['Franchise Brands']?.dropdown">
              <a
                href="{{ subItem.url }}"
                [target]="subItem['isExternalLink'] ? '_blank' : ''"
                class="text-uppercase"
                >{{ subItem.title }}</a
              >
            </li>
          </ul>
        </div>
      </li>
      <!-- Learn -->
      <li *ngIf="header['Learn']" class="has_dd d-block float-none">
        <a class="text-uppercase">
          {{ header["Learn"]?.title }}
          <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
        </a>
        <div class="megamenu">
          <ul>
            <li *ngFor="let subItem of header['Learn']?.dropdown">
              <a
                href="{{ subItem.url }}"
                [target]="subItem['isExternalLink'] ? '_blank' : ''"
                class="text-uppercase"
                >{{ subItem.title }}</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>
</div>

<!-- Brand -->

<div
  *ngIf="!isMain"
  class="menu-details brand-menu-details header-left"
  [ngClass]="common.showmenu ? 'show' : ''"
>
  <div class="menu-logo text-center">
    <a
      routerLink="{{ brandSlug }}"
      [ngClass]="common.showmenu ? 'closeMenu' : ''"
      (click)="common.toggle()"
    >
      <figure>
        <img
          class="logo-img sidebar-brand-images"
          src="{{ sidebar?.logo }}"
          alt="logo"
        />
      </figure>
    </a>
  </div>
  <div class="sponsored">
    <h6 class="d-block text-uppercase text-center">
      <small class="d-inline-block"></small>
      SPONSORED CONTENT
    </h6>
    <div class="menu-search">
      <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm)">
        <div class="form-group">
          <input
            formControlName="searchInput"
            type="text"
            class="form-control"
            [placeholder]="sidebar?.search?.placeholder"
          />
          <button type="button" (click)="onSearchSubmit(searchForm)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="monthly-covers">
      <ul>
        <li class="d-block">
          <div class="monthly-covers-main">
            <a
              routerLink="/"
              [ngClass]="common.showmenu ? 'closeMenu' : ''"
              (click)="common.toggle()"
            >
              <figure>
                <i class="fa fa-database"></i>
              </figure>
              <strong>RETURN TO MAIN SITE</strong>
            </a>
          </div>
          <div class="monthly-covers-main">
            <a
              routerLink="{{ brandSlug }}"
              [ngClass]="common.showmenu ? 'closeMenu' : ''"
              (click)="common.toggle()"
            >
              <figure>
                <i class="fa fa-server"></i>
              </figure>
              <strong>{{ brandTitle }}</strong>
            </a>
            <div *ngIf="downloadPdfUrl" class="monthly-covers-details">
              <p>
                <a
                  *ngIf="isPdfEmail == 'true'"
                  data-bs-toggle="modal"
                  data-bs-target="#pdfModal1"
                  class="text-uppercase"
                  href="#"
                >
                  Download PDF
                </a>
                <a
                  *ngIf="isPdfEmail == 'false'"
                  href="{{ downloadPdfUrl }}"
                  target="blank"
                >
                  Download PDF
                </a>
              </p>
            </div>
            <div class="monthly-covers-details">
              <p>
                <a href="{{ visitSite }}" target="blank">Visit Website</a>
              </p>
            </div>
          </div>
        </li>
        <li class="d-block">
          <div class="monthly-covers-main">
            <a href="#" onclick="return false;">
              <figure>
                <i class="fa fa-trophy"></i>
              </figure>
              <strong>SOCIAL MEDIA</strong>
            </a>
            <div
              *ngFor="let item of sidebar['social_media']"
              class="monthly-covers-details"
            >
              <p>
                <a href="{{ item.url }}" target="blank">{{ item.title }}</a>
              </p>
            </div>
          </div>
          <div class="monthly-covers-main">
            <a
              routerLink="{{ brandSlug }}"
              [ngClass]="common.showmenu ? 'closeMenu' : ''"
              (click)="common.toggle()"
            >
              <figure>
                <i class="fa fa-star"></i>
              </figure>
              <strong>{{ brandTitle }} MOST READ STORIES</strong>
            </a>
            <div
              *ngFor="let story of sidebar['most-read-stories']"
              class="monthly-covers-details"
            >
              <p>
                <a
                  [ngClass]="common.showmenu ? 'closeMenu' : ''"
                  (click)="common.toggle()"
                  routerLink="/{{ story.brand.slug }}/{{ story.slug }}"
                  fragment="stories"
                  >{{ story?.title }}</a
                >
              </p>
            </div>
          </div>
        </li>
        <li class="d-block">
          <div class="monthly-covers-main">
            <a href="https://brand.1851franchise.com">
              <figure>
                <i class="fa fa-home"></i>
              </figure>
              <strong>LOGIN</strong>
            </a>
          </div>
        </li>
        <li class="d-block">
          <div class="monthly-covers-main">
            <a
              routerLink="{{ sidebar['about']?.url }}"
              [ngClass]="common.showmenu ? 'closeMenu' : ''"
              (click)="common.toggle()"
            >
              <figure>
                <i class="fa fa-envelope-open"></i>
              </figure>
              <strong>ABOUT {{ brandTitle }}</strong>
            </a>
          </div>
          <div *ngIf="isContact" class="monthly-covers-main">
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#contactModal"
              [ngClass]="common.showmenu ? 'closeMenu' : ''"
              (click)="common.toggle()"
            >
              <figure>
                <i class="fa fa-usd"></i>
              </figure>
              <strong>CONTACT {{ brandTitle }}</strong>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Contact Modal -->
<div
  *ngIf="isBrowser && isContact"
  class="search_pop_up modal"
  id="contactModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button
        id="contactModalClose"
        type="button"
        class="close text-right"
        data-bs-dismiss="modal"
      >
        &times;
      </button>
      <div class="modal-header">
        <h1>{{ contactTitle }}</h1>
      </div>
      <form
        *ngIf="contactForm"
        [formGroup]="contactForm"
        (ngSubmit)="submitContactForm(contactForm.value)"
      >
        <div *ngFor="let fields of contactFields" class="form-row mb-3">
          <!-- <div class="form-group"> -->
          <label class="form-label"
            >{{ fields.title }}
            <sup *ngIf="fields.required" class="text-danger">*</sup>
          </label>
          <input
            *ngIf="fields.type === 'text'"
            [formControlName]="fields.key"
            [id]="fields.key"
            [type]="fields.type"
            class="form-control rounded-0"
            [pattern]="fields.pattern"
            [maxLength]="fields.maxLength || 1000"
            [ngClass]="{
              'is-invalid':
                (formControlsValues[fields.key].touched ||
                  submittedContactForm) &&
                formControlsValues[fields.key].errors?.required
            }"
          />
          <textarea
            *ngIf="fields.type === 'textarea'"
            [formControlName]="fields.key"
            [id]="fields.key"
            class="form-control rounded-0"
            rows="3"
            [ngClass]="{
              'is-invalid':
                (formControlsValues[fields.key].touched ||
                  submittedContactForm) &&
                formControlsValues[fields.key].errors?.required
            }"
          ></textarea>
          <select
            *ngIf="fields.type === 'dropdown'"
            [formControlName]="fields.key"
            [id]="fields.key"
            class="form-control rounded-0"
            [ngClass]="{
              'is-invalid':
                (formControlsValues[fields.key].touched ||
                  submittedInquireForm) &&
                formControlsValues[fields.key].errors?.required
            }"
          >
            <option *ngFor="let value of fields.enum" value="{{ value }}">
              <span>{{ value }}</span>
            </option>
          </select>
          <div
            class="invalid-feedback d-block"
            *ngIf="
              (formControlsValues[fields.key].touched ||
                submittedContactForm) &&
              (formControlsValues[fields.key].errors?.required ||
                formControlsValues[fields.key].errors?.email ||
                formControlsValues[fields.key].errors?.pattern)
            "
          >
            {{ fields.errorMsg }}
          </div>
        </div>
        <div class="d-grid contactSubmit">
          <button
            type="submit"
            class="btn btn-danger text-end rounded-0 btn-sm nextBtn"
          >
            Next
          </button>
        </div>
        <br />
        <span *ngIf="isSubmitted && isSubmitFailed" class="errS">{{
          submitErrMsg
        }}</span>
      </form>
    </div>
  </div>
</div>
<!-- Thanks -->
<div *ngIf="isBrowser" class="thanks-modal modal" id="thanksModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close text-right"
        (click)="closeModal('thanksModal')"
      >
        &times;
      </button>
    </div>
  </div>
</div>
<!-- PDF Modal -->
<div
  *ngIf="isBrowser && downloadPdfUrl"
  class="search_pop_up modal"
  id="pdfModal1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="sponsored-modal-content">
        <button type="button" class="close text-right" data-bs-dismiss="modal">
          &times;
        </button>
        <h2 class="text-uppercase">Download PDF</h2>
        <div class="email-content">
          <form [formGroup]="pdfForm" (ngSubmit)="emailSubscribe(pdfForm)">
            <div class="form-group">
              <label>Enter Email:</label>
              <input
                type="text"
                [formControl]="pdfForm.controls['emailInput']"
                class="form-control"
              />
              <app-error-message
                *ngIf="isEmailSubmit"
                class="full-width"
                [control]="pdfForm.controls['emailInput']"
              ></app-error-message>
              <p *ngIf="emailSubValid" class="invalid">{{ emailSubMessage }}</p>
              <button type="button" (click)="emailSubscribe(pdfForm)">
                Download
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
