.d-flex {
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}
.termsofuse-banner-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin: 0 auto;
    background: #263645;
}
.text-center {
    text-align: center!important;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    display: block;
}
.termsofuse-banner-content {
    padding: 43px 5px 33px;
}
.termsofuse-banner-main h1, .termsofuse-banner-main h2 {
    font-size: 28.92px;
    line-height: 31px;
    color: #fff;
    font-family: ProximaNova-Medium;
}
.main-content {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.the-publication {
    background: #fff;
    border-bottom: 1px solid #adaeb0;
}
.the-publication-details {
    margin: 0 auto;
    padding: 97px 37px 222px 45px;
}
