<div [ngClass]="commonService.trendingClass"></div>
<div *ngIf="termsData?.data" class="sidebar-blur">
  <div class="banner d-flex termsofuse-banner">
    <figure>
      <img
        src="{{ termsData?.data?.media.url }}"
        width="1440"
        height="493"
        alt="termsofuse-banner"
        (load)="imageLoaded()"
        (error)="errorHandler($event)"
        loading="lazy"
        class="lazyload"
      />
    </figure>
    <div class="termsofuse-banner-main text-center">
      <div class="container">
        <div class="termsofuse-banner-content">
          <h2>TERMS OF USE</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="the-publication">
      <div class="container">
        <div class="the-publication-details col-xl-8">
          <ul *ngIf="termsData?.data?.content">
            <li *ngFor="let item of termsData.data.content">
              <h3 id="{{ item.id }}">{{ item.title }}</h3>
              <div
                class="termsofuse-content"
                [innerHTML]="item.short_description"
              ></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
