@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.article {
  img {
    height: 118px;

    @include tablet-landscape {
      height: 180px;
    }  
    @include mobile-landscape {
      height: auto;    
    }           
  }
  .fourColumn {
    img {
      @include tablet-landscape {
        height: auto;    
      } 
      height:150px;
    }
  }
  .threeColumn {
    img {
      @include tablet-landscape {
        height: auto;    
      } 
      height:180px;
    }
  }
  .small-red-headers {
    padding-bottom: 5px;
  }
  .card-footer {
    border-radius: 0px;
    background-color: unset;
  }
  
  &.monthlyDetail,
  &.trending {
    .card {
      background-color: $white_8;
      position: initial;
    }
  }
  &.spotlight {
    .card-title,
    .card-footer {
      padding: 0 !important;
    }
  }
  .sponsored{
    position: absolute;
    span{
      background: $red;
      font-size: 17px;
      line-height: 19px;
      color: $white;
      font-weight: 400;
      font-family: $roboto;
      vertical-align: top;
      width: 35px;
      padding: 7px 5px 9px;
    }
  }
}
.searchPage{
  &.brandNews{
    a{
       padding: 8px 0 !important;
    }
    .threeColumn {
      img {
        height: auto;
      }
    }  
  }
}