<div class="article row row-cols-sm-2" [ngClass]="class">
  <ng-container *ngFor="let item of contents; index as i">
    <a
      routerLink="/{{ commonService.readMore(item) }}"
      fragment="{{ typeSlug | lowercase }}"
      class="py-2"
    >
      <div
        class="sponsored justify-content-center"
        *ngIf="type === 'trendingbrandbuzz'"
      >
        <span class="d-inline-block text-center">
          {{ i + 1 }}
        </span>
      </div>
      <div class="card rounded-0 border-0 h-100 position-initial">
          <ng-container [ngSwitch]="column">
            <figure class="fourColumn" *ngSwitchCase="'four'">
              <img
                data-src="{{ item.media | defaultImage: 266:150 }}"
                data-srcset="{{item.media | defaultImage:545:305}} 545w, {{item.media | defaultImage:355:199}} 355w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:266:150}} 266w"
                class="w-100 lazyload img-fluid card-img-top"
                alt="story"
                width="266"
                height="150"
                loading="lazy"
                sizes="{{
                  '(max-width: 576px) 545px,
                   (max-width: 768px) 355px,
                   (max-width: 992px) 300px,
                   266px'
                }}"
              /></figure>
              <figure class="fiveColumn" *ngSwitchCase="'five'">
                <img
                data-src="{{ item.media | defaultImage: 212:119 }}"
                data-srcset="{{item.media | defaultImage:400:225}} 400w, {{item.media | defaultImage:355:199}} 355w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:212:119}} 212w"
                class=" lazyload img-fluid card-img-top d-inline"
                alt="story"
                width="212"
                height="119"
                loading="lazy"
                sizes="{{
                  '(max-width: 576px) 400px,
                   (max-width: 768px) 355px,
                   (max-width: 992px) 300px,
                   212px'
                }}"
              /></figure>
                <figure class="threeColumn" *ngSwitchCase="'three'">
                  <img
                    data-src="{{ item.media | defaultImage: 320:180 }}"
                    data-srcset="{{item.media | defaultImage:545:305}} 545w, {{item.media | defaultImage:355:199}} 355w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:320:180}} 320"
                    class="w-100 lazyload img-fluid card-img-top"
                    alt="story"
                    width="320"
                    height="180"
                    loading="lazy"
                    sizes="{{
                      '(max-width: 576px) 545px,
                       (max-width: 768px) 355px,
                       (max-width: 992px) 300px,
                       320px'
                    }}"
                  /></figure>
          </ng-container>
       
      
        <div class="card-body p-0 pt-2 rounded-0">
          <h3 class="card-title articleTitles mb-0 px-3">
            {{ item.title }}
          </h3>
        </div>
        <div class="card-footer ps-3 border-0 pt-0">
          <span *ngIf="commonService.isUpdate(item)" class="timeStamp"
            >{{ commonService.formatDate(item.last_modified) }} |
            {{ commonService.formatTime(item.last_modified) }}
          </span>
          <span *ngIf="!commonService.isUpdate(item)" class="timeStamp"
            >{{ commonService.formatDate(item.posted_on) }} |
            {{ commonService.formatTime(item.posted_on) }}
          </span>
        </div>
      </div>
    </a>
  </ng-container>
</div>
