@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.article {
  img {
    @include mobile-landscape {
      height: auto;    
    }            
    height: 118px;
  }
  .small-red-headers {
    padding-bottom: 5px;
  }
  .card-footer {
    border-radius: 0px;
    background-color: unset;
  }
  
  &.monthlyDetail,
  &.trending {
    .card {
      background-color: $white_8;
      position: initial;
    }
  }
  &.spotlight {
    .card-title,
    .card-footer {
      padding: 0 !important;
    }
  }
  .sponsored{
    position: absolute;
    span{
      background: $red;
      font-size: 17px;
      line-height: 19px;
      color: $white;
      font-weight: 400;
      font-family: $proxiBold;
      vertical-align: top;
      width: 35px;
      padding: 7px 5px 9px;
    }
  }
}
