<div
  *ngIf=" trending?.data?.length"
  class="frannews frannews-trending sidebar-blur"
>
  <div class="container">
    <div class="frannews-details col-xl-11">
      <div class="frannews-top d-flex">
        <div class="frannews-top-left col-lg-9 col-sm-10 col-md-10 col-10 p-0">
          <ul>
            <li>
              <h4>TRENDING BRAND BUZZ</h4>
            </li>
            <li class="frannews-subtitle">
              <span>SPONSORED</span>
            </li>
          </ul>
        </div>
        <div class="frannews-top-right col-lg-3 col-md-2">
          <a routerLink="/trendingbrandbuzz" class="seeMore"
            >READ MORE
            <i class="fa fa-angle-right fw-bold" aria-hidden="true"></i>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
        <app-home-article [typeSlug]="'trendingbrandbuzz'" [contents]="trending?.data" [class]="'row-cols-lg-5'"></app-home-article>
    </div>
  </div>
</div>
