.trendingbuzz-details {
  padding: 66px 41px 0 40px;
  margin: 0 auto;
}

.fran-block {
  margin-top: 0px;
  padding-top: 40px;
}

.socialmedia {
  padding: 21px 0 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.socialmedia p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 54px;
  font-size: 15px;
  line-height: 18px;
  color: #272525;
  letter-spacing: -.1px;
  margin-bottom: 21px;
  text-align: left;
  -webkit-box-orient: vertical
}
