<div class="fran-block" *ngIf="trending.data?.length">
  <div class="container">
    <div class="trendingbuzz-details col-xl-11 row">
      <div class="col-md-12">
        <div class="fran-top-block">
          <div class="row">
            <div class="col-md-9">
              <ul>
                <li>
                  <h4>TRENDING BRAND BUZZ</h4>
                </li>
                <li class="frannews-subtitle">
                  <span>SPONSORED</span>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <a class="read-more-btn"
                >READ MORE <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <app-five-column
          [slug]="'1851'"
          [contents]="trending.data"
        ></app-five-column>
      </div>
    </div>
  </div>
</div>
