<div class="fran-block">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="fran-top-block">
            <div class="row">
                <div class="col-md-9">
                  <ul>
                    <li>
                      <h4>HOW TO SUCCEED AS A MULTI-UNIT FRANCHISEE</h4>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                      <a class="read-more-btn">READ MORE</a>
                    </div>
              </div>
            </div>
            <div class="fran-two-block">
              <div class="row">
                  <div class="col-md-6">
                    <div class="fran-two-l">
                        <img src="../assets/img/max-350.jpg" alt="" class="img-fluid"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="fran-two-r">
                          <h2>How To Succeed as A Multi-Unit Franchisee: Letha Tran, Togo’s</h2>
                          <p>
                            Tran shares how she went from being a longtime Togo’s customer to a successful owner of four Togo’s franchises.
                            </p>
                            <a class="">READ MORE</a>
                        </div>
                      </div>
                </div>
              </div>
            <div class="fran-content-block">
              <ul>
                <li>
                  <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                  <p>
                    How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                    </p>
                  </li>
                  <li>
                    <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid" />
                    <p>
                      How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                      </p>
                    </li>
                    <li>
                      <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                      <p>
                        How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                        </p>
                      </li>
                      <li>
                        <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                        <p>
                          How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                          </p>
                        </li>
                        <li>
                          <img src="../assets/img/fran-1.jpg" alt=""class="img-fluid" />
                          <p>
                            How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                            </p>
                          </li>

                </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
