.d-flex {
    display: flex!important;
}
.flex-row-reverse {
    flex-direction: row-reverse!important;
}
.banner {
    box-shadow: 0 20px 8px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 0 20px 8px rgb(0 0 0 / 8%);
    -ms-box-shadow: 0 20px 8px rgba(0,0,0,.078);
    -o-box-shadow: 0 20px 8px rgba(0,0,0,.078);
    -moz-box-shadow: 0 20px 8px rgba(0,0,0,.078);
    position: relative;
    z-index: 5;
}
.trendingbrandbuzz-banner .banner-right {
    max-width: 71%;
    flex: 0 0 71%;
    -webkit-flex: 0 0 71%;
}
.d-block {
    display: block!important;
}
.trendingbrandbuzz-banner figure {
    max-height: 680px;
}
.trendingbrandbuzz-banner figure img {
    display: block;
    width: 100%;
}
.banner .banner-left {
    box-shadow: 5px 4px 10px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 5px 4px 10px rgb(0 0 0 / 15%);
    -moz-box-shadow: 5px 4px 10px rgba(0,0,0,.15);
    -ms-box-shadow: 5px 4px 10px rgba(0,0,0,.15);
    -o-box-shadow: 5px 4px 10px rgba(0,0,0,.15);
}
.trendingbrandbuzz-content {
    padding: 15px 59px 75px 49px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.trendingbrandbuzz-banner .buffalowings-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ec0044;
}
.monthlydetails-banner h4 {
    padding: 17px 21px 13px 22px;
    margin: 0;
}
.trendingbrandbuzz-content h4 {
    background: #ec0044;
    color: #fff;
    font-family: ProximaNova-Light;
    margin: 0 7px 0 0;
    padding: 17px 0 13px;
    letter-spacing: .5px;
}
.monthlydetails-banner h1, .monthlydetails-banner h2 {
    padding: 27px 0 7px;
    font-family: ProximaNova-Bold;
}
.trendingbrandbuzz-content h1, .trendingbrandbuzz-content h2 {
    font-size: 27px;
    line-height: 32px;
    color: #fff;
    padding: 16px 0 5px;
}
.trendingbrandbuzz-content p {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-family: ProximaNova-LightIt;
}
.buffalowings-bottom a, .buffalowings-bottom span {
    font-size: 9.1px;
    line-height: 11px;
    color: #fff;
    font-weight: 400;
    font-family: ProximaNova-Regular;
}
.buffalowings-bottom a .fa, .buffalowings-bottom span .fa {
    font-size: 25px;
    line-height: 11px;
    color: #fff;
    padding: 0 0 0 7px;
    vertical-align: top;
}
.trendingbrandbuzz-banner .banner-left {
    max-width: 29%;
    flex: 0 0 29%;
    -webkit-flex: 0 0 29%;
    background: #263645;
}
.brandbuzz-frannews {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}
.category-frannews {
    box-shadow: 0 13px 21px rgb(0 0 0 / 18%);
    -webkit-box-shadow: 0 13px 21px rgb(0 0 0 / 18%);
    -ms-box-shadow: 0 13px 21px rgba(0,0,0,.178);
    -o-box-shadow: 0 13px 21px rgba(0,0,0,.178);
    -moz-box-shadow: 0 13px 21px rgba(0,0,0,.178);
    position: relative;
}
.frannews {
    background: #fff;
}