.loadmore-btn .fa {
    font-size: 50px;
    line-height: 50px;
    color: #ec0044;
}
.loadmore-btn {
    width: 50px;
    margin: 0 auto;
}
.text-center {
    text-align: center!important;
}
.d-block {
    display: block!important;
}
.monthly-coverpage-in {
    padding: 0 0 88px;
}
.monthly-coverpage-details {
    padding: 0 0 90px;
}
.monthly-coverpage {
    background: #fff;
    border-bottom: 1px solid #b0b2b3;
}

.d-flex {
    display: flex!important;
}
.monthly-coverpage-left {
    max-width: 40.03%;
    flex: 0 0 40.03%;
    -webkit-flex: 0 0 40.03%;
}
.p-0 {
    padding: 0!important;
}
.monthly-covers-left-content {
    position: relative;
}
.monthly-coverpage-details figure img {
    display: block;
    width: 100%;
}
.current-issue {
    position: absolute;
    bottom: 0;
    left: 0;
}
.current-issue h4 {
    background: #ec0044;
    color: #fff;
    padding: 15px 29px 12px 23px;
    font-family: ProximaNova-Medium;
}
.monthly-covers-left-content h4 {
    padding: 15px 48px 12px;
}
.monthly-coverpage-right {
    max-width: 59.97%;
    flex: 0 0 59.97%;
    -webkit-flex: 0 0 59.97%;
}
.monthly-covers1 {
    position: relative;
}
.brandbuzz-frannews {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}
.category-frannews {
    box-shadow: 0 13px 21px rgb(0 0 0 / 18%);
    -webkit-box-shadow: 0 13px 21px rgb(0 0 0 / 18%);
    -ms-box-shadow: 0 13px 21px rgba(0,0,0,.178);
    -o-box-shadow: 0 13px 21px rgba(0,0,0,.178);
    -moz-box-shadow: 0 13px 21px rgba(0,0,0,.178);
    position: relative;
}

.frannews {
    background: #fff;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    display: block;
}
.brandbuzz-frannews .legalplayers-frannews {
    padding: 79px 41px 2px 40px;
}
.frannews-bottom {
    padding: 35px 0 0;
}
.category-frannews .category-list {
    display: inline-block;
    float: left;
    width: 20%;
    padding: 0 15px;
}
.brandbuzz-frannews-bottom .frannews-bottom-details {
    position: relative;
}
.socialmedia {
    padding: 21px 0 10px;
    overflow: hidden;
    margin-bottom: 50px;
}
.brandbuzz-frannews-bottom .sponsored {
    position: absolute;
    top: -6px;
    left: 0;
}
.brandbuzz-frannews-bottom .sponsored span {
    background: #ec0044;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    font-weight: 400;
    font-family: ProximaNova-Bold;
    vertical-align: top;
    padding: 7px 5px 9px;
    width: 35px;
}
