@import "mixins";

.five-col-art-block{
  h4{
    color:$color-white;
  }
  .read-more-btn{
    color:$color-white!important;
  }
  .fran-top-block{
    border-bottom: 2px solid #ec0044;
  }

}


.fran-slider-block{
  .video-btn {
    cursor: pointer;
    position: relative;
    .video-maker {
        position: absolute;
        left: calc(50% - 45px);
        top: calc(50% - 45px);
        z-index: 1000;
        height: 90px;
        width: 90px;
    }
  }
  .items {
      width: 100%;
      margin: 0px auto;
      margin-top: 20px;
      .items-block{
        img{
          height: 230px;
        }
        h5{
          background-color: #fff;
          padding: 10px 15px;
          margin: 0;
          height: 40px;
          overflow: hidden;
          font-size: 16px;
        }
        p{
          background-color: #fff;
          padding: 10px 15px;
          margin: 0;
          height: 100px;
          overflow: hidden;
          font-size: 14px;
        }
        .read-more-btn{
          background-color: #ec0044;
          text-align: right;
          text-decoration: none;
          width: 100%;
          display: inline-block;
          padding: 5px 10px;
          font-size: 12px;
        }
      }
  }
  .slick-slide{
    background-color: $color-white;
    margin: 10px;
    .read-more-btn{
      width: 100%;
      background: #b00034;
      display: inline-block;
      text-align: right;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      padding: 5px 15px;
    }
    img{
      width: 100%;
      border: 0px solid #fff
    }
  }
}
