@import "mixins";

.btn{
  box-shadow: none!important;
}
a{
  cursor: pointer;
  text-decoration: none;
}

.bg-dark-color{
  background-color: $dark-blue;
}
body{
  font-family: 'ProximaNova-Regular';
}
body.sb-sidenav-toggled {
    overflow: hidden;
}
body.sb-sidenav-toggled .sidebar-block{
  position: fixed;
  height: 100%;
  overflow: auto;
}
 body.sb-sidenav-toggled #page-content-wrapper {
    margin-left: 300px;
}
.mt-15{
  margin-left: 15px;
}
.mt-20{
  margin-left: 20px;
}
.mt-25{
  margin-left: 25px;
}
