@import "./variables.scss";

.timeStamp{
    font-family: $roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: $red;
    padding: 10px 0 10px;
}
.articleTitles{
font-size: 16px;
line-height: 117%;
color: $black;
font-weight: 700;
font-family: $aktiv;
}
.description {
font-weight: 400;
font-size: 12px;
color: $dark_gray_5;
font-family: $roboto;
line-height: 128.7%;
}
.sectionTitle{
    font-family: $aktiv;
    font-size: 20px;
    font-weight: 800;
    color: $white;
    text-transform: uppercase;
}
.video-btn {
    cursor: pointer;
    position: relative;
    .vide-play {
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% - 20px);
      z-index: 1000;
      height: 28px;
      width: 49px;
      border-radius: 5px;
    }
  }
  .modal-body {
    padding: 0rem !important;
  }
  .btn-close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 1rem;
    font-weight: 400;
    opacity: 1;
  }