@import "mixins";

.featured-block {
  padding-top: 80px;
  .featured-left,.featured-right{
   
    overflow: hidden;
  }
  .featured-left {
    


    .how-to-succeed {
      background-color: $color-red;
      overflow: hidden;

      h2 {
        font-size: 31px;
        color: $color-white;
      }

      p {
        color: $color-white;
        font-size: 18px;
      }
    }
    .readmore-block{
      background: #b00034;
      padding: 12px 19px 11px;
      a{
        text-align: right;
        color:$color-white;
        font-size: 12px;
        width: 100%;
        display: inline-block;
      }
    }
  }


.featured-right::-webkit-scrollbar-thumb {
    background-color: #263645; /* Matches the background color of content-wrapper */
  }
  
  .featured-right:hover::-webkit-scrollbar-thumb {
    background-color: #4f6477;
  }


.featured-right::-webkit-scrollbar {
    width: .2em;
  }

  .featured-right {
    background-color: $dark-blue;
    overflow: auto;
    overflow-x: hidden;
    .feature-block {
      img {
        padding: 0 10px 0 15px;
      }

      p {
        color: $color-white;
        padding-right: 20px;
      }
      .adweek-left {
        padding: 0 4px 0 0;
     }
    .adweek-right {
      padding:0 31px 0 10px;;
     }
    }
  }
}
