@import "mixins";


.more-franchise-block{
  background-color:#f1f1f2;
  padding: 102px 80px 62px;
}

/*footer section start */
footer {
  background-color: $color-white;
  color: $dark-blue;
  .lets-talk-b{
  background: url("../img/bg-lets.png") right top no-repeat;
  width: 108px;
  height: 49px;
  text-align: right;
      a{
        color: #263645;
        text-decoration: none;
        font-size: 14px;
        line-height: 21px;
        padding: 6px 5px;
        display: inline-block;
      }
    }

  .footer-menu-block {
    .footer-logo-l{
      float: left;
      width: 30%;
    }
    .footer-logo-r{
      float: right;
      width: 70%;
    }
    h2 {
      color: $color-red;
      font-size: 25px;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }
  }
}
/*footer section end */
