@import "mixins";

.more-franchise-block {
  background-color: #f1f1f2;
  padding: 102px 93px 62px;
  .learnmore {
    position: relative;
    a {
      width: 100%;
      height: 50px;
      line-height: 46px;
      color: #263645;
      font-weight: 400;
      font-family: ProximaNova-Medium;
      font-size: 16px;
      padding: 0 54px 0 24px;
      border: 2px solid #263645;
      letter-spacing: 0.7px;
      text-decoration: none;
      span {
        width: 50px;
        height: 50px;
        background: #263645;
        position: absolute;
        top: 0;
        right: 0;
        .fa {
          font-size: 33px;
          line-height: 50px;
          color: #fff;
          font-weight: 300;
        }
      }
    }
  }
}

/*footer section start */
footer {
  background-color: $color-white;
  color: $dark-blue;
  .lets-talk-b {
    background: url("../img/bg-lets.png") right top no-repeat;
    width: 108px;
    height: 49px;
    text-align: right;
    a {
      color: #263645;
      text-decoration: none;
      font-size: 14px;
      line-height: 21px;
      padding: 6px 5px;
      display: inline-block;
    }
  }

  .footer-menu-block {
    .footer-logo-l {
      float: left;
      width: 30%;
    }
    .footer-logo-r {
      float: right;
      width: 70%;
    }
    h2 {
      color: $color-red;
      font-size: 25px;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }
  }
}
/*footer section end */
