@import "mixins";
/*footer section start */
footer {
  background-color: $color-white;
  color: $dark-blue;

  .footer-menu-block {
    .footer-logo-l{
      float: left;
      width: 30%;
    }
    .footer-logo-r{
      float: right;
      width: 70%;
    }
    h2 {
      color: $color-red;
      font-size: 25px;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }
  }
}
/*footer section end */
