@import "mixins";


/*header section start */



.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header-top-block {
  background-color: $dark-blue;
  color: $color-white;
}
.header-media-img{
  float: right;
    a{
      height: 75px;
      overflow: hidden;
      display: block;
    }
}

.header-block {
  padding: 10px 0 0 0;
  background-color: $color-white;
  .logo-sub{
    float: left;
    .logo-sub-s{
      a{
        color: #263645;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 20px;
        font-weight: bold;
      }

    }
    .logo-sub-f{
      a{
        text-transform: uppercase;
        font-size: 10px;
        line-height: 18px;
        color: #a6a8aa;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        background: url("../img/logo3.png") right top no-repeat;
      }

    }
  }
  .logo {
    float: left;
    a{
      float: left;

    }
  }
  .search-btn{
    margin: 10px 45px 10px 15px;
    float: right;
    background: #d0d1d3;
    padding: 8px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    a{
      i{
        color:$color-white;
        font-size: 20px;
        padding: 3px  ;
      }
    }
  }

  .nav-block {
    float: left;
  }

  .header-r-block {
    float: right;

    .header-media {
      float: left;
    }

    .header-img {
      float: left;
    }
  }
}
.menu-block {
  float: left;
  padding: 0 10px;
}
#navbarSupportedContent{
  .dropdown{
    .dropdown-toggle{
      i{
        font-size: 17px;
        line-height: 15px;
        color: #ec0044;
        padding: 0 5px;
      }
      &:after{

        display: none;


      }
    }
    &:hover{
      background-color: #263645;
      a{
        color:$color-white;
      }
    }
  }
  .dropdown-menu{
    padding: 0;
    border: none;
    width: 288px;
    padding: 0;
    background-color: transparent;
    ul{
      background-color: #6c6d6f;
      list-style: none;
      padding: 15px 10px;
      margin-top: 10px;
      li{
        a{
          text-decoration: none;
          padding: 0;
        }
      }
    }
  }
  ul {

    li {
      a {
        font-size: 13px;
        line-height: 16px;
        color: #263645;
        font-weight: 400;
        font-family: ProximaNova-Medium;
        padding: 11px 16px;
        letter-spacing: .3px;
      }
    }
  }
}
.navbar{
  float: right;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
/*header section end */
