@import "mixins";

.spotlight-block {
  .spotlight-top{
    background-color: $color-red;
    h3{
      color: #fff;
      font-size: 14px;
      padding: 5px 25px 0 25px;
      line-height: 28px;
    }
  }
  .spotlight-content{
    background-color: $dark-blue;
    p{
      color:$color-white;
    }
    .card{
      background-color: transparent;
    }
  }
  
  
  

  .spotlight-tabs {
    ul {

      li {
        a {
          color: $color-white;
          text-decoration: none;
          border: none;
          font-size: 14px;
          &.active{
            background-color: $dark-blue;
            color: $color-white;
            border: none;
            border-radius: 0;
          }
        }
      }
    }
  }
}
