/*Theme color*/
$primary: #eb0444;
$primary-1: #b40434;
$primary-2: #ec0044;

$dark-gray: #243444;
$light-gray: #b4b4b4;
$light-gray-1: #c4c4c4;
$light-gray-2: #a6a8aa;

$border-color: #e8eef2;
$white: #fff;
$light-black: #1a1a1a;
$brand-info-question-title: #fbf4f4;
$medium-grey: #595959;
$feature-article-description: #dce0e3;
//Text
$text-secondary-color: #f3f8fb;

// Filter
$filter-box-color: #e5e5e5;
$odd-row-color: #f3f8fb;

// Section BG Color
$sectionBGColor: #f3f8fb;
$section-info-color: #c3c3c3;

// Element
$link-btn--color: $primary;
