/*Theme color*/
$primary: #eb0444;
$primary-1: #b40434;
$dark-gray: #243444;
$light-gray: #b4b4b4;
$light-gray-1: #c4c4c4;

$border-color: #e8eef2;
$white: #fff;

$brand-info-question-title: #fbf4f4;
$recent-feature-desc: #595959;
$feature-article-description: #dce0e3;
//Text
$text-secondary-color: #f3f8fb;

//need to delete

$dummy-img-color: #c4c4c4;

// Filter
$filter-box-color: #e5e5e5;
