/*Theme color*/
$primary: #eb0444;
$primary-1: #b40434;
$dark-gray: #243444;
$light-gray: #b4b4b4;
$light-gray-1: #c4c4c4;

$border-color: #e8eef2;
$white: #fff;


$brand-info-question-title: #FBF4F4;
$recent-feature-desc: #595959;
$feature-article-description: #DCE0E3;
//Text
$text-secondary-color: #f3f8fb;

//need to delete

$dummy-img-color: #c4c4c4;

