/* development fonts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Medium";
  src: url("/assets/fonts/ProximaNova-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("/assets/fonts/ProximaNova-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("/assets/fonts/ProximaNova-LightIt.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Ballinger Condensed Regular";
  src: url("https://use.typekit.net/af/f0e192/00000000000000007735c688/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f0e192/00000000000000007735c688/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f0e192/00000000000000007735c688/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Ballinger Condensed Medium";
  src: url("https://use.typekit.net/af/c3df63/00000000000000007735c68d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),
    url("https://use.typekit.net/af/c3df63/00000000000000007735c68d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),
    url("https://use.typekit.net/af/c3df63/00000000000000007735c68d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Ballinger Condensed Bold";
  src: url("https://use.typekit.net/af/7398e5/00000000000000007735c68e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
    url("https://use.typekit.net/af/7398e5/00000000000000007735c68e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
    url("https://use.typekit.net/af/7398e5/00000000000000007735c68e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Ballinger Condensed X-Bold";
  src: url("https://use.typekit.net/af/d56ea7/00000000000000007735c6a3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/d56ea7/00000000000000007735c6a3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/d56ea7/00000000000000007735c6a3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Medium", sans-serif;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto X-Bold", sans-serif;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
