// Fonts
$proxiLight: "ProximaNova-Light";
$proxiMedium: "ProximaNova-Medium";
$proxiBold: "ProximaNova-Bold";
$proxiLightIt: "ProximaNova-LightIt";
$proxiRegular: "ProximaNova-Regular";
$proxiSemiBold: "ProximaNova-Semibold";

$balingerMedium: "Ballinger Condensed Medium";
$balingerRegular: "Ballinger Condensed Regular";
$balingerBold: "Ballinger Condensed Bold";
$balingerXBold: "Ballinger Condensed X-Bold";

$roboto: "Roboto",sans-serif;

//colors
$light_gray: #cecfd1;
$light_gray_1: #929496;
$light_gray_2: #d4d5d6;
$light_gray_3: #adaeb0;
$light_gray_4: #a6a8aa;
$light_gray_5: #808183;
$light_gray_6: #c8c9ca;
$light_gray_7: #bbbcbf;
$light_gray_8: #c4c4c4;

$dark-gray: #243444;
$dark_gray_1: #263645;
$dark_gray_2: #434345;
$dark_gray_3: #272525;
$dark_gray_4: #273444;
$dark_gray_5: #595959;

$white: #fff;
$white_1: #f0f0f1;
$white_2: #ffffff;
$white_3: #f3f8fb;

$black: #000;
$black_1: #18222e;

$dark_red: #b00034;
$dark_red_1: #b40434;
$dark_red_2: #eb0444;
$red: #ec0044;
$green:#008000;


$light_blue: #2bb3c7;

$border-color: #e8eef2;

$grade_bg3_1: rgba(0, 0, 0, 0.15);
$grade_bg1: rgba(129, 129, 132, 0.8);

$cardGroupSpacing: 14px;
// Transition
$defaultTransition: all 0.35s ease;
