// Fonts
$proxiLight: "ProximaNova-Light";
$proxiMedium: "ProximaNova-Medium";
$proxiBold: "ProximaNova-Bold";
$proxiLightIt: "ProximaNova-LightIt";
$proxiRegular: "ProximaNova-Regular";
$proxiSemiBold: "ProximaNova-Semibold";

//colors
$light_gray: #cecfd1;
$light_gray_1: #929496;
$light_gray_2: #d4d5d6;

$dark_gray_1: #263645;
$dark_gray_2: #434345;

$white: #fff;
$white_1: #f0f0f1;

$dark_red: #b00034;
$red: #ec0044;

$light_blue:#2bb3c7;