// Fonts
$proxiLight: "ProximaNova-Light";
$proxiMedium: "ProximaNova-Medium";
$proxiBold: "ProximaNova-Bold";
$proxiLightIt: "ProximaNova-LightIt";
$proxiRegular: "ProximaNova-Regular";
$proxiSemiBold: "ProximaNova-Semibold";

$balinger: "Ballinger Condensed";
$balingerMedium: "Ballinger Condensed Medium";

//colors
$light_gray: #cecfd1;
$light_gray_1: #929496;
$light_gray_2: #d4d5d6;
$light_gray_3: #adaeb0;

$dark-gray: #243444;
$dark_gray_1: #263645;
$dark_gray_2: #434345;
$dark_gray_3: #272525;

$white: #fff;
$white_1: #f0f0f1;

$dark_red: #b00034;
$red: #ec0044;

$light_blue: #2bb3c7;
