<div class="container customContainer adv my-4">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-8 col-sm col-lg-auto mb-3 mb-sm-0">
      <a
        ><img
          src="../../../assets/dummy-images/1851 v3 – Figm (2).png"
          alt="sda"
          class="fluid-img"
      /></a>
    </div>
    <div class="col d-none d-lg-flex justify-content-center align-items-center">
      <div class="centerGrid"></div>
    </div>
    <div class="col-8 col-sm">
      <a
        ><img
          src="../../../assets/dummy-images/1851 v3 – Figm (3).png"
          alt="sda"
          class="fluid-img"
      /></a>
    </div>
  </div>
</div>
