@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

.row {
  @include mobile-landscape1 {
    flex-direction: column;
  }
}
.f_error {
  display: block;
  margin: 10px 0;
  text-align: center;
  color: $red;
}

.submit_btn {
  outline: 0 !important;
}

.editors-details {
  padding: 8px 20px 0 46px;
  display: none;
  @include desk-lg-below1 {
    padding: 8px 20px 0 35px;
  }
  ul {
    margin: 0;
    padding: 6px 20px 0 20px;
    @include desk-lg-below1 {
      padding: 6px 0 0 10px;
    }
    li {
      vertical-align: top;
      padding: 0 16px 0 0;
    }
  }

  .radio_btns {
    color: $light_gray;
  }
  span {
    background: url("/assets/img/unchecked1.png") no-repeat left 1px;
    padding: 0 0 0 17px;
    font-size: 11px;
    line-height: 17px;
    font-weight: normal;
    font-family: $proxiRegular;
    letter-spacing: 0.4px;
    color: $light_gray_5;
  }
  strong {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    font-family: $proxiRegular;
    color: $light_gray_5;
    letter-spacing: 0.3px;
  }
}

.f_success {
  color: $green;
  display: block;
  margin: 10px 0;
  text-align: center;
}
#hideAfter5Sec {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.modal-body {
  padding: 0rem !important;
}

//Redesign
.subscribe {
  background-color: $white_3;
  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $red;
    text-align: left;
  }
  h5,
  h6 {
    font-size: 20px;
    font-family: $roboto;
    line-height: 26px;
    text-align: left;
    font-weight: 500;
    color: $black;
  }
  .form-control {
    border-color: $red;
    width: 65%;
  }
  .signmeup {
    .checks {
      margin: 0;
    }
    input {
      display: none;
    }
    span {
      background: url("/assets/img/unchecked2.png") no-repeat left 2px;
      padding: 0 0 0 17px;
      font-size: 12px;
      line-height: 21px;
      font-weight: normal;
      font-family: $proxiLight;
      letter-spacing: 0.4px;
    }
  }
  .signmeup input:checked + span {
    background: url("/assets/img/checked2.png") no-repeat left 2px;
    font-size: 9px;
  }
  .editors {
    .form-group {
      margin: 0;
    }

    ul {
      margin: 0 -6px;
      li {
        padding: 0 6px 16px;
      }
    }
    button {
      border: 0;
      outline: 0;
      width: 130px;
      height: 36px;
      cursor: pointer;
      float: left;
      span {
        left: auto;
        right: 0;
      }
    }
    a {
      font-size: 12px;
      line-height: 14px;
      color: $light_gray_1;
      font-family: $proxiLight;
      letter-spacing: 0.4px;
      margin: 19px 0 0;
    }
  }

  .back {
    background: $dark_red_2;
    font-size: 15.66px;
    line-height: 36px;
    color: $white;
    position: relative;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      fa-icon {
        font-size: 25px;
        line-height: 36px;
        color: $white;
      }
    }
  }
  .contact-editorial-main {
    label {
      margin: 0;
    }
    input {
      display: none;
    }
    .radio_btns1 {
      color: $dark_gray_1;
    }
    span {
      font-size: 15px;
      line-height: 19px;
      font-weight: normal;
      font-family: $proxiMedium;
      background: url("/assets/img/unchecked.png") no-repeat left 1px;
      padding: 0 0 0 25px;
      letter-spacing: 0.4px;
    }
    .editors-details input:checked + span {
      background: url("/assets/img/checked.png") no-repeat left 1px;
    }
  }
}
.contact-editorial-main input:checked + span {
  background: url("/assets/img/checked.png") no-repeat left 1px;
}
.bannerSection {
  width: 50%;
  padding-right: 0;
  height: 616px !important;
  @include mobile-landscape1 {
    width: 100%;
  }
  img {
    height: 616px;
  }
}
