
@font-face {
  font-family: 'SinhalaSangamMN';
  src: url('SinhalaSangamMN.eot?#iefix') format('embedded-opentype'),  url('SinhalaSangamMN.woff') format('woff'), url('SinhalaSangamMN.ttf')  format('truetype'), url('SinhalaSangamMN.svg#SinhalaSangamMN') format('svg');
  font-weight: normal;
  font-style: normal;
}
