.termsofuse-banner {
    figure {
        width: 100%;
        img {
        display: block;
        width: 100%;
        }
    }
}
.termsofuse-banner-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin: 0 auto;
    background: #263645;
    h1, h2 {
        font-size: 28.92px;
        line-height: 31px;
        color: #fff;
        font-family: 'ProximaNova-Medium';
    }
}
.text-center {
    text-align: center!important;
}
.the-publication {
    background: #fff;
    border-bottom: 1px solid #adaeb0;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    display: block;
}
.the-publication-details {
    h3 {
        color: #263645;
        border-bottom: 1px solid #929496;
        padding: 0 0 22px;
        letter-spacing: .1px;
        margin: 0 0 16px;
    }
    margin: 0 auto;
    padding: 97px 37px 222px 45px;
     ul{
        li:first-child {
            padding: 0 0 73px;
        }
     } 
}
.termsofuse-content {
    font-size: 20px;
    line-height: 28px;
    color: #272525;
    padding: 5px 5px 6px 0;
    letter-spacing: -.3px;
}
.banner {
    -webkit-box-shadow: 0 20px 8px rgb(0 0 0 / 8%);
    position: relative;
    z-index: 5;
}
.d-flex {
    display: flex!important;
}
@media (min-width: 1200px){
    .col-xl-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
}
ul {
    padding-left: 0!important;
}
h3 {
    font-size: 24px;
    line-height: 26px;
    font-family: 'ProximaNova-Medium';
}
.termsofuse-banner-content {
    padding: 43px 5px 33px;
}