<header class="col-12">
  <div>
    <!-- Top header section Start -->
    <div class="top-head d-none d-lg-block" (click)="closeSidebar()">
      <div class="container d-flex">
        Publications in the Mainland Community:
        <ul class="list-group list-group-horizontal ms-3">
          <li class="me-3">
            <a
              href="{{ header?.publication?.room1903Url }}"
              target="_blank"
              class="text-white"
              rel="noopener"
            >
              <span
                ><img
                  data-src="{{ s3Url }}room-service.png"
                  height="21px"
                  width="21px"
                  alt="1903"
                  class="lazyload"
              /></span>
              Room 1903&nbsp;
              <fa-icon
                [icon]="faCaretRightIcon"
                [styles]="{ width: '5px' }"
              ></fa-icon>
            </a>
          </li>
          <li class="me-3">
            <a
              href="{{ header?.publication?.eeUrl }}"
              target="_blank"
              class="text-white"
              rel="noopener"
            >
              <span
                ><img
                  data-src="{{ s3Url }}Estatenvy.png"
                  height="21px"
                  width="21px"
                  alt="EE"
                  class="lazyload"
              /></span>
              Estatenvy&nbsp;
              <fa-icon
                [icon]="faCaretRightIcon"
                [styles]="{ width: '5px' }"
              ></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Top header section Close -->

    <!-- main header section Start -->
    <main class="container">
      <div class="d-flex g-0 align-items-center">
        <div class="col-3 col-md-auto d-flex position-relative leftMenuItem">
          <button
            class="menuBtn me-3"
            type="button"
            id="dropdownMenu2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-display="static"
            (click)="commonService.toggle()"
          >
            <img
              data-src="{{
                commonService.showmenu
                  ? 'assets/img/close.png'
                  : 'assets/img/menu.png'
              }}"
              alt="menu"
              width="35"
              height="24"
              class="lazyload"
            />
            <small class="text-center d-none d-lg-block">MENU</small>
          </button>
          <ul
            ng-cloak
            class="
              sidebar-dropdown-menu
              dropdown-menu
              submenu-list
              noScrollBar
              dropdown-menu-dark
            "
            aria-labelledby="dropdownMenu2"
            *ngIf="brandSlug === '1851'"
          >
            <li>
              <div class="menu-search">
                <form
                  [formGroup]="searchForm"
                  (ngSubmit)="onSearchSubmit(searchForm, 'sidebar')"
                >
                  <div class="input-group mb-1">
                    <button
                      class="ps-2"
                      type="button"
                      (click)="onSearchSubmit(searchForm, 'sidebar')"
                    >
                      <img
                        data-src="{{ s3Url }}search-p.svg"
                        alt="search"
                        width="11px"
                        height="11px"
                        class="lazyload"
                      />
                    </button>
                    <input
                      type="text"
                      class="form-control ps-0"
                      placeholder="Search"
                    />
                  </div>
                </form>
              </div>
            </li>
            <li class="d-block">
              <h3>
                <a routerLink="/monthlycovers" (click)="commonService.toggle()">
                  MONTHLY COVERS</a
                >
              </h3>
              <hr />
              <div *ngIf="header?.monthlyCover" class="monthly-covers">
                <a
                  routerLink="{{ header?.monthlyCover?.coverUrl }}"
                  (click)="commonService.toggle()"
                >
                  <img
                    appYoutubeImage
                    data-src="{{ header?.monthlyCover | defaultImage: 97:127 }}"
                    width="97"
                    height="127"
                    alt="monthly "
                    class="mb-2 lazyload"
                  />
                </a>
              </div>
            </li>
            <li>
              <h3>Topics</h3>
              <hr />
              <ul class="mb-2 ms-2">
                <li
                  class="ms-1"
                  *ngFor="let item of header?.sidebar?.categories"
                >
                  <a
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      my-1
                      text-capitalize
                    "
                    routerLink="{{ item?.url }}"
                    (click)="commonService.toggle()"
                    >{{ item.name }}
                  </a>
                </li>
              </ul>
            </li>
            <hr />

            <li>
              <h3>Awards</h3>
              <ul class="mb-2 ms-2">
                <li class="ms-1" *ngFor="let item of header?.sidebar?.awards">
                  <a
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      my-1
                      text-capitalize
                    "
                    routerLink="{{ item?.url }}"
                    (click)="commonService.toggle()"
                    >{{ item.title }}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <hr />

              <h3 *ngFor="let menu of header?.sidebar?.menus | slice: 0:2">
                <a
                  routerLink="{{ menu.url }}"
                  (click)="commonService.toggle()"
                  >{{ menu.title }}</a
                >
              </h3>
            </li>
            <li>
              <hr />
              <h3 *ngFor="let menu of header?.sidebar?.menus | slice: 2:7">
                <a
                  *ngIf="!menu.fragment && menu.title != 'Login'"
                  routerLink="{{ menu.url }}"
                  >{{ menu.title }}</a
                >
                <a
                  *ngIf="menu.fragment && menu.title != 'Login'"
                  routerLink="{{ menu.url }}"
                  [fragment]="menu.fragment"
                  (click)="commonService.toggle()"
                  >{{ menu.title }}</a
                >
                <a *ngIf="menu.title == 'Login'" href="{{ menu.url }}">{{
                  menu.title
                }}</a>
              </h3>
            </li>

            <li>
              <h3 *ngFor="let menu of header?.sidebar?.menus | slice: 7:8">
                <a href="{{ menu.url }}"
                  ><h3>{{ menu.title }}</h3></a
                >
              </h3>
            </li>
          </ul>
          <!-- Submenu brand -->
          <ul
            ng-cloak
            class="
              sidebar-dropdown-menu
              dropdown-menu
              submenu-list
              noScrollBar
              dropdown-menu-dark
            "
            aria-labelledby="dropdownMenu2"
            *ngIf="brandSlug !== '1851'"
          >
            <li>
              <div class="menu-search">
                <form
                  [formGroup]="searchForm"
                  (ngSubmit)="onSearchSubmit(searchForm, 'sidebar')"
                >
                  <div class="input-group mb-1">
                    <button
                      class="ps-2"
                      type="button"
                      (click)="onSearchSubmit(searchForm, 'sidebar')"
                    >
                      <img
                        data-src="{{ s3Url }}search-p.svg"
                        alt="search"
                        width="11px"
                        height="11px"
                        class="lazyload"
                      />
                    </button>
                    <input
                      type="text"
                      class="form-control ps-0"
                      placeholder="Search"
                    />
                  </div>
                </form>
              </div>
            </li>
            <li>
              <h3>
                <a routerLink="/" (click)="commonService.toggle()">
                  Return to Main Site
                </a>
              </h3>
              <h3>
                <a
                  routerLink="/{{ brandSlug }}"
                  (click)="commonService.toggle()"
                  >{{ brandTitle }}</a
                >
              </h3>
              <ul class="mb-2 ms-2">
                <li class="ms-1">
                  <a
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      my-1
                    "
                    [href]="header?.sidebar?.pdf?.url"
                    target="_blank"
                    >Download pdf
                  </a>
                </li>
                <li class="ms-1">
                  <a
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      my-1
                      text-capitalize
                    "
                    (click)="commonService.toggle()"
                    [href]="header?.sidebar?.website"
                    target="_blank"
                    >Visit Website
                  </a>
                </li>
              </ul>
            </li>
            <hr />

            <li>
              <h3>Social Media</h3>
              <ul class="mb-2 ms-2">
                <li
                  class="ms-1"
                  *ngFor="let item of header?.sidebar?.socialMedia"
                >
                  <a
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      my-1
                      text-capitalize
                    "
                    (click)="commonService.toggle()"
                    [href]="item.url"
                    target="_blank"
                    rel="noopener"
                    >{{ item.title }}
                  </a>
                </li>
              </ul>
            </li>

            <li class="ms-1">
              <hr />
              <h3>
                <a
                  class="my-1"
                  routerLink="/{{ brandSlug }}"
                  (click)="commonService.toggle()"
                  >{{ brandTitle }} Most read Stories</a
                >
              </h3>
              <ul class="mb-2 ms-2">
                <li
                  class="ms-1"
                  *ngFor="let story of header?.sidebar?.articles"
                >
                  <a
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      my-1
                      text-capitalize
                    "
                    [routerLink]="commonService.readMore(story)"
                    (click)="commonService.toggle()"
                    target="_blank"
                    >{{ story.title }}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <hr class="mb-2" />
              <h3 *ngIf="header?.sidebar?.login">
                <a href="{{ header?.sidebar?.login }}"> Login</a>
              </h3>
              <hr class="mb-2" />
              <h3 *ngIf="header?.sidebar?.about">
                <a
                  routerLink="/{{ header?.sidebar?.about }}"
                  (click)="commonService.toggle()"
                  >About
                  <span class="text-capitalize">{{ brandTitle }}</span></a
                >
              </h3>
              <h3 *ngIf="header?.sidebar?.contact?.hasOwnProperty()">
                <a
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#contactModal"
                  (click)="commonService.toggle()"
                  >Contact

                  <span class="text-capitalize">{{ brandTitle }}</span></a
                >
              </h3>
            </li>
          </ul>
          <!-- Header Logo Section -->
          <div class="logo d-flex align-items-center">
            <a [routerLink]="header?.logo?.url" (click)="closeSidebar()"
              ><img
                data-src="{{ header?.logo?.image }}"
                height="{{ header?.logo?.height }}"
                width="{{ header?.logo?.width }}"
                alt="logo"
                class="me-2 lazyload"
            /></a>
            <div class="d-none d-md-block">
              <!-- Main -->
              <a
                *ngIf="brandSlug === '1851'"
                [routerLink]="header?.subscribe?.url"
                (click)="closeSidebar()"
                >{{ header?.subscribe?.title }}</a
              >
              <!-- Brand -->
              <a
                class="company"
                *ngIf="brandSlug !== '1851'"
                (click)="closeSidebar()"
                data-bs-toggle="modal"
                data-bs-target="#sponsoredModal"
                href="#"
                onclick="return false"
                >{{ header?.subscribe?.title }}</a
              >
              <br />
              <small class="d-flex align-items-center">
                <!-- Main -->
                <a
                  *ngIf="brandSlug === '1851'"
                  [routerLink]="header?.subscribe?.url"
                  (click)="closeSidebar()"
                  >{{ header?.subscribe?.subTitle }}</a
                >
                <!-- Brand -->
                <a
                  *ngIf="brandSlug !== '1851'"
                  data-bs-toggle="modal"
                  data-bs-target="#sponsoredModal"
                  href="#"
                  onclick="return false"
                  >{{ header?.subscribe?.subTitle }}</a
                >
                &nbsp;
                <img
                  data-src="{{ s3Url }}logo.png"
                  height="41"
                  width="41"
                  alt="logo"
                  class="lazyload"
              /></small>
            </div>
          </div>
        </div>

        <!-- Center menu link -->
        <div
          *ngIf="brandSlug === '1851'"
          class="col-9 col-md-auto centerMenuItem"
        >
          <nav class="px-3">
            <ul class="center-menu nav justify-content-center">
              <li
                class="nav-item px-1 menus"
                *ngFor="let menu of header?.menus"
              >
                <a
                  [routerLink]="menu.url"
                  class="d-flex align-items-center"
                  (click)="closeSidebar()"
                  >{{ menu.title }}
                </a>
              </li>
              <li class="nav-item px-3 subscribeMenu">
                <a
                  routerLink="/subscribe"
                  class="d-flex align-items-center"
                  (click)="closeSidebar()"
                  >Subscribe
                </a>
              </li>
              <li
                class="actions nav-item mx-2"
                *ngFor="let action of header?.actions; index as i"
              >
                <a class="d-flex align-items-center" (click)="closeSidebar()"
                  >{{ action.title }}
                  <img
                    data-src="{{ s3Url }}down-arrow.svg"
                    height="12"
                    width="12"
                    alt="down-arrow"
                    class="ms-1 lazyload"
                /></a>
                <ul class="dropdown-menu">
                  <li *ngFor="let item of action.items">
                    <a
                      class="dropdown-item"
                      [href]="item.url"
                      (click)="closeSidebar()"
                      >{{ item?.title }}</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div
          class="col d-none d-md-block"
          *ngIf="brandSlug !== '1851'"
          (click)="closeSidebar()"
        >
          <nav>
            <ul class="center-menu nav justify-content-center">
              <li class="nav-item mt-1 px-1">
                <a
                  [routerLink]="header?.menus?.url"
                  (click)="closeSidebar()"
                  class="d-flex align-items-center"
                  >{{ header?.menus?.title }}
                </a>
              </li>
              <li *ngIf="header?.inquire" class="nav-item mt-1 px-2">
                <a
                  href="#"
                  onclick="return false;"
                  class="d-flex align-items-center"
                  data-bs-toggle="modal"
                  data-bs-target="#inquireModal"
                >
                  {{ header?.inquire }}
                </a>
              </li>
              <li class="nav-item mx-2 px-2 mt-1">
                <a class="d-flex align-items-center"
                  >{{ header?.actions?.title }}
                  <img
                    data-src="{{ s3Url }}down-arrow.svg"
                    height="12"
                    width="12"
                    class="ms-1 lazyload"
                    alt="down"
                /></a>
                <ul class="dropdown-menu">
                  <li *ngFor="let item of header?.actions?.items">
                    <a class="dropdown-item" [href]="item.url">{{
                      item?.title
                    }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col col-sm-auto d-flex align-items-center pe-lg-5">
          <!-- Search bar -->
          <div class="search-bar me-3 me-lg-5 d-none d-md-block">
            <a
              href="#"
              onclick="return false;"
              data-bs-toggle="modal"
              data-bs-target="#searchModal"
              ><img
                data-src="{{ s3Url }}search.png"
                height="18"
                width="18"
                alt="search"
                class="lazyload"
            /></a>
          </div>

          <!-- Social Links -->
          <ul class="social d-flex align-items-center mb-0">
            <li class="d-none mx-1 d-md-block">
              <a href="#" class="d-flex align-items-center">
                <span class="follow text-capitalize">Follow Us:</span>
              </a>
            </li>
            <li
              *ngFor="let item of header?.socialMedia; index as i"
              class="mx-2 d-none d-md-block"
            >
              <a
                [href]="item.url"
                target="_blank"
                class="d-flex align-items-center"
                rel="noopener"
              >
                <img
                  data-src="{{ item?.media?.image }}"
                  width="{{ item?.media?.width }}"
                  height="{{ item?.media?.height }}"
                  alt="social"
                  class="lazyload"
                />
              </a>
            </li>
          </ul>

          <!-- User Image -->
          <div class="userImage ms-3 d-none d-lg-block">
            <figure>
              <img
                routerLink="{{ header?.monthlyCover?.coverUrl }}"
                (click)="closeSidebar()"
                appYoutubeImage
                data-src="{{ header?.monthlyCover | defaultImage: 90:120 }}"
                width="90"
                height="120"
                alt="Monthly"
                class="lazyload"
              />
            </figure>
          </div>
        </div>
      </div>
    </main>
    <!-- main header section Close -->

    <!-- Search Modal -->

    <div
      ng-cloak
      *ngIf="isBrowser"
      class="search_pop_up modal"
      id="searchModal"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <button
            type="button"
            class="close text-right"
            #searchCloseBtn
            data-bs-dismiss="modal"
          >
            &times;
          </button>
          <form
            [formGroup]="searchForm"
            (ngSubmit)="onSearchSubmit(searchForm, 'header')"
          >
            <h1>SEARCH 1851 FRANCHISE</h1>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                (keyup)="onKeyUp()"
                [formControl]="searchForm.controls['searchInput']"
              />
              <span
                class="input-group-text"
                (click)="onSearchSubmit(searchForm, 'header')"
              >
                <fa-icon [icon]="faSearch" class="searchIcon"></fa-icon
              ></span>
            </div>
          </form>
          <h5>MOST RECENT MATCHES</h5>
          <div class="ArticlesNewsSection">
            <h6 class="text-center" *ngIf="news == null">No articles found</h6>

            <div class="container customContainer py-md-2">
              <div class="row mt-2">
                <div
                  class="col-sm-6 col-md-3 mb-2"
                  *ngFor="let list of news; index as i"
                >
                  <div class="items card border-0 rounded-0 h-100">
                    <a
                      routerLink="{{ commonService.readMore(list) }}"
                      fragment="franbuzz"
                      (click)="closeModal()"
                      ><img
                        data-src="{{ list.media | defaultImage: 257:138 }}"
                        class="card-img-top lazyload"
                        alt="story"
                        width="257"
                        height="138"
                      />
                      <div class="card-body">
                        <p class="card-text mb-1 text-black text-capitalize">
                          {{ list.title }}
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search Modal close -->

    <!-- Sponsor Modal -->

    <div ng-cloak class="search_pop_up modal fade" id="sponsoredModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="sponsored-modal-content">
            <button
              type="button"
              class="close text-right"
              data-bs-dismiss="modal"
            >
              &times;
            </button>
            <h2 class="text-uppercase" *ngIf="brandTitle">{{ brandTitle }}</h2>
            <p>
              This brand page has been paid for by
              <span class="text-uppercase">{{ brandTitle }}</span
              >. Content within this page that is paid will showcase a Sponsored
              icon. This means the brand has engaged
              <span class="text-uppercase">{{ publication?.shortTitle }}</span>
              to write the content. Content without the Sponsored Icon is
              aggregated media placements the brand earned. Questions can be
              sent to
              <span>{{ editorialEmail }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Inquire Modal -->

    <div
      ng-cloak
      *ngIf="isBrowser && isInquire"
      class="search_pop_up modal"
      id="inquireModal"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <button
            id="inquireModalClose"
            type="button"
            class="close text-right"
            data-bs-dismiss="modal"
          >
            &times;
          </button>
          <div class="modal-header">
            <h1>{{ inquireTitle }}</h1>
          </div>
          <form
            *ngIf="inquireForm"
            [formGroup]="inquireForm"
            (ngSubmit)="submitInquireForm(inquireForm.value)"
          >
            <div *ngFor="let fields of inquireFields" class="form-row mb-3">
              <input
                *ngIf="fields.type === 'text'"
                [formControlName]="fields.key"
                [id]="fields.key"
                [type]="fields.type"
                class="form-control rounded-0"
                placeholder="{{ fields.title }}*"
                [pattern]="fields.pattern"
                [maxLength]="fields.maxLength || 1000"
                [ngClass]="{
                  'is-invalid':
                    (formControlsValues[fields.key].touched ||
                      submittedInquireForm) &&
                    formControlsValues[fields.key].errors?.required
                }"
              />
              <select
                required
                *ngIf="fields.type === 'dropdown'"
                [formControlName]="fields.key"
                [id]="fields.key"
                class="form-control form-select"
                [ngClass]="{
                  'is-invalid':
                    (formControlsValues[fields.key].touched ||
                      submittedInquireForm) &&
                    formControlsValues[fields.key].errors?.required
                }"
              >
                <option value="" disabled selected hidden>
                  {{ fields.title }}*
                </option>
                <option *ngFor="let value of fields.enum" value="{{ value }}">
                  <span>{{ value }}</span>
                </option>
              </select>
              <div
                class="invalid-feedback d-block"
                *ngIf="
                  (formControlsValues[fields.key].touched ||
                    submittedInquireForm) &&
                  (formControlsValues[fields.key].errors?.required ||
                    formControlsValues[fields.key].errors?.email ||
                    formControlsValues[fields.key].errors?.pattern)
                "
              >
                {{ fields.errorMsg }}
              </div>
            </div>

            <div class="d-grid inquireSubmit">
              <button
                type="submit"
                class="btn text-end align-items-center rounded-0 btn-sm nextBtn"
              >
                Submit
              </button>
            </div>
            <br />
            <span *ngIf="isSubmitted && isSubmitFailed" class="errS">{{
              submitErrMsg
            }}</span>
          </form>
        </div>
      </div>
    </div>

    <!-- Thanks -->
    <div ng-cloak *ngIf="isBrowser" class="thanks-modal modal" id="thanksModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <button
            type="button"
            class="close text-end"
            (click)="closeThanksModal('thanksModal')"
          >
            &times;
          </button>
        </div>
      </div>
    </div>
    <!-- Contact Modal -->
    <div
      ng-cloak
      *ngIf="isBrowser && isContact && contactFields"
      class="search_pop_up modal"
      id="contactModal"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <button
            id="contactModalClose"
            type="button"
            class="close text-right"
            data-bs-dismiss="modal"
          >
            &times;
          </button>
          <div class="modal-header">
            <h1>{{ contactTitle }}</h1>
          </div>
          <form
            *ngIf="contactForm"
            [formGroup]="contactForm"
            (ngSubmit)="submitContactForm(contactForm.value)"
          >
            <div *ngFor="let fields of contactFields" class="form-row mb-3">
              <input
                *ngIf="fields.type === 'text'"
                [formControlName]="fields.key"
                placeholder="{{ fields.title }}*"
                [id]="fields.key"
                [type]="fields.type"
                class="form-control rounded-0"
                [pattern]="fields.pattern"
                [maxLength]="fields.maxLength || 1000"
                [ngClass]="{
                  'is-invalid':
                    (formControlsContactValues[fields.key].touched ||
                      submittedContactForm) &&
                    formControlsContactValues[fields.key].errors?.required
                }"
              />
              <textarea
                *ngIf="fields.type === 'textarea'"
                [formControlName]="fields.key"
                [id]="fields.key"
                class="form-control rounded-0"
                rows="3"
                [ngClass]="{
                  'is-invalid':
                    (formControlsContactValues[fields.key].touched ||
                      submittedContactForm) &&
                    formControlsContactValues[fields.key].errors?.required
                }"
              ></textarea>
              <select
                required
                *ngIf="fields.type === 'dropdown'"
                [formControlName]="fields.key"
                [id]="fields.key"
                class="form-control form-select rounded-0"
                [ngClass]="{
                  'is-invalid':
                    (formControlsContactValues[fields.key].touched ||
                      submittedInquireForm) &&
                    formControlsContactValues[fields.key].errors?.required
                }"
              >
                <option value="" disabled selected hidden>
                  {{ fields.title }}*
                </option>
                <option *ngFor="let value of fields.enum" value="{{ value }}">
                  <span>{{ value }}</span>
                </option>
              </select>
              <div
                class="invalid-feedback d-block"
                *ngIf="
                  (formControlsContactValues[fields.key].touched ||
                    submittedContactForm) &&
                  (formControlsContactValues[fields.key].errors?.required ||
                    formControlsContactValues[fields.key].errors?.email ||
                    formControlsContactValues[fields.key].errors?.pattern)
                "
              >
                {{ fields.errorMsg }}
              </div>
            </div>
            <div class="d-grid contactSubmit">
              <button
                type="submit"
                class="btn text-end rounded-0 btn-sm nextBtn"
              >
                Next
              </button>
            </div>
            <br />
            <span *ngIf="isSubmitted && isSubmitFailed" class="errS">{{
              submitErrMsg
            }}</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
