.menu-block a small {
  font-size: 11px;
  line-height: 13px;
  color: #263645;
  font-weight: 400;
  font-family: ProximaNova-Light;
  padding: 6px 0 0;
  text-transform: uppercase;
}

.logo-sub h6 {
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.3px;
  padding: 0 0 2px;
}

#navbarSupportedContent ul li a {
  font-size: 13px;
  line-height: 16px;
  color: #263645;
  font-weight: 400;
  font-family: ProximaNova-Medium;
  padding: 11px 11px;
  letter-spacing: 0.3px;
  color: #000;
}

#navbarSupportedContent ul li a:hover {
  color: #fff;
}

#navbarSupportedContent .dropdown:hover a {
  color: #fff !important;
}
#navbarSupportedContent .dropdown-menu ul {
  width: 288px;
}
