<div class="trending-block">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-md-9">
                    <ul>
                      <li>
                        <h4>{{trendingData.title}}</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>
              <!-- <img src="{{trendingData.data[0].media.url}}" class="img-fluid">
              <p style="color: white;">{{trendingData.data[0].title}}</p> -->
            </div>
        </div>
        <div class="trending-block-slider">
          <div class="row items" >
              <div class="col-md-4" *ngFor="let item of trendingData.data.slice(0,3); let i = index">
                <div class="trending-thumb" >
                  <img src="{{ item.media.placeholder }}" alt="" class="img-fluid" />
                  <div class="how-to-succeed">
                    <!-- <h2>{{ item.title }}</h2> -->
                    <p>
                      {{ item.title }}
                    </p>
                  </div>
                  <div class="readmore-block">
                      <a class="">READ MORE</a>
                    </div>
                </div>
                </div>
            </div>
          </div>
    </div>

</div>