<div class="trending-block">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-md-9">
                    <ul>
                      <li>
                        <h4>{{trendingData.title}}</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <div class="trending-block-slider">
          <div class="row items" >
              <div class="col-md-4" *ngFor="let item of trendingData.data.slice(0,3); let i = index">
                <div class="trending-thumb" >
                  <img
                          appYoutubeImage
                          src="{{item.media | defaultImage:415:232}}"                                        
                          alt="img9"
                          srcset=""
                          class="img-fluid"
                      />
                      <figure *ngIf="!item.media">
                        <img
                            src="assets/images/video-img2.jpg"
                            width="415"
                            height="232"
                            alt="img9"
                            srcset=""
                        >
                    </figure>
                  <div class="how-to-succeed">
                    <p>
                      {{ item.title }}
                    </p>
                  </div>
                  <div class="readmore-block">
                      <a class="">READ MORE</a>
                    </div>
                </div>
                </div>
            </div>
          </div>
    </div>

</div>