<div class="trending-block">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-md-9">
                    <ul>
                      <li>
                        <h4>TRENDING</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>
              <!-- <img src="{{trendingData.data[0].media.url}}" class="img-fluid">
              <p style="color: white;">{{trendingData.data[0].title}}</p> -->
            </div>
        </div>
        <div class="trending-block-slider">
          <div class="row items">
              <div class="col-md-4">
                <div class="trending-thumb">
                  <img src="../assets/img/maxresdefault.jpg" alt="" class="img-fluid" />
                  <div class="how-to-succeed">
                    <h2>How To Succeed as A Multi-Unit Franchisee: Letha Tran, Togo’s</h2>
                    <p>
                      Tran shares how she went from being a longtime Togo’s customer to a successful owner of four Togo’s franchises.
                    </p>
                  </div>
                  <div class="readmore-block">
                      <a class="">READ MORE</a>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="trending-thumb">
                    <img src="../assets/img/maxresdefault.jpg" alt="" class="img-fluid" />
                    <div class="how-to-succeed">
                      <h2>How To Succeed as A Multi-Unit Franchisee: Letha Tran, Togo’s</h2>
                      <p>
                        Tran shares how she went from being a longtime Togo’s customer to a successful owner of four Togo’s franchises.
                      </p>
                    </div>
                    <div class="readmore-block">
                        <a class="">READ MORE</a>
                      </div>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="trending-thumb">
                      <img src="../assets/img/maxresdefault.jpg" alt="" class="img-fluid" />
                      <div class="how-to-succeed">
                        <h2>How To Succeed as A Multi-Unit Franchisee: Letha Tran, Togo’s</h2>
                        <p>
                          Tran shares how she went from being a longtime Togo’s customer to a successful owner of four Togo’s franchises.
                        </p>
                      </div>
                      <div class="readmore-block">
                          <a class="">READ MORE</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                      <div class="trending-thumb">
                        <img src="../assets/img/maxresdefault.jpg" alt="" class="img-fluid" />
                        <div class="how-to-succeed">
                          <h2>How To Succeed as A Multi-Unit Franchisee: Letha Tran, Togo’s</h2>
                          <p>
                            Tran shares how she went from being a longtime Togo’s customer to a successful owner of four Togo’s franchises.
                          </p>
                        </div>
                        <div class="readmore-block">
                            <a class="">READ MORE</a>
                          </div>
                      </div>
                      </div>
            </div>
          </div>
    </div>

</div>



<div class="fran-block">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="fran-top-block">
            <div class="row">
                <div class="col-md-9">
                  <ul>
                    <li>
                      <h4>TRENDING BRAND BUZZ</h4>
                      </li>
                      <li class="frannews-subtitle">
                        <span>SPONSORED</span>
                        </li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                      <a class="read-more-btn">READ MORE</a>
                    </div>
              </div>
            </div>
            <div class="fran-content-block">
              <ul>
                <li>
                  <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                  <p>
                    How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                    </p>
                  </li>
                  <li>
                    <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid" />
                    <p>
                      How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                      </p>
                    </li>
                    <li>
                      <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                      <p>
                        How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                        </p>
                      </li>
                      <li>
                        <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                        <p>
                          How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                          </p>
                        </li>
                        <li>
                          <img src="../assets/img/fran-1.jpg" alt=""class="img-fluid" />
                          <p>
                            How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                            </p>
                          </li>
                          <li>
                            <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                            <p>
                              How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                              </p>
                            </li>
                            <li>
                              <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid" />
                              <p>
                                How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                                </p>
                              </li>
                              <li>
                                <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                                <p>
                                  How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                                  </p>
                                </li>
                                <li>
                                  <img src="../assets/img/fran-1.jpg" alt="" class="img-fluid"/>
                                  <p>
                                    How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                                    </p>
                                  </li>
                                  <li>
                                    <img src="../assets/img/fran-1.jpg" alt=""class="img-fluid" />
                                    <p>
                                      How to Scale Your Investment Portfolio With a Big Blue Swim School Franchise
                                      </p>
                                    </li>
                </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
