<div id="footer">
  <div class="more-franchise">
    <div class="container">
      <div class="more-franchise-details d-flex">
        <div class="more-franchise-left col-lg-9 col-md-8">
          <h4>{{ footerData?.about?.title }}</h4>
          <p>{{ footerData?.about?.description }}</p>
        </div>
        <div class="more-franchise-right col-lg-3 col-md-4">
          <div class="learnmore">
            <a href="/about" class="d-block text-uppercase"
              >LEARN MORE<span class="d-block text-center"
                ><i class="fa fa-angle-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
