<div class="more-franchise-block">
  <div class="container">
    <div class="row">
      <div class="more-franchise-left col-lg-9 col-md-8">
        <h4>{{ footerData?.about?.title }}</h4>
        <p>
          {{ footerData?.about?.description }}
        </p>
      </div>
      <div class="more-franchise-right col-lg-3 col-md-4">
        <div class="learnmore">
          <a class="d-block text-uppercase" href="about">
            LEARN MORE
            <span class="d-block text-center">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
