<div *ngIf="data?.layout == 1">
    <app-awards
    [type]="'widget'"
    [stories]="data?.stories"
    [widget]="data"
    ></app-awards>
</div>
<div *ngIf="data?.layout == 2">
    <app-awards
    [type]="'widget'"
    [stories]="data?.stories"
    [class]="'widget2'"
    [widget]="data"
    ></app-awards>
</div>
<div *ngIf="data?.layout == 3">
    <app-layout3
    [type]="'widget'"
    [stories]="data?.stories"
    [class]="'widget3'"
    [widget]="data"
    ></app-layout3>
</div>
<div *ngIf="data?.layout == 4">
    <app-layout3
    [type]="'widget'"
    [stories]="data?.stories"
    [class]="'widget4'"
    [widget]="data"
    ></app-layout3>
</div>
<div *ngIf="data?.layout == 5">
    <app-most-popular
    [type]="'widget'"
    [fragment]="'featured'"
    [title]="data.title"
    [stories]="data.stories"
    [class] ="'widget5'"
    [widget]="data"
    ></app-most-popular>
</div>
<div *ngIf="data?.layout == 6">
    <app-most-popular
    [type]="'widget'"
    [fragment]="'featured'"
    [title]="data.title"
    [stories]="data.stories"
    [class] ="'widget6'"
    [widget]="data"
    ></app-most-popular>
</div>
<div *ngIf="data?.layout == 7">
    <app-most-popular
    [type]="'widget'"
    [fragment]="'featured'"
    [title]="data.title"
    [stories]="data.stories"
    [class] ="'widget7'"
    [widget]="data"
    ></app-most-popular>
</div>
<div *ngIf="data?.layout == 8">
    <app-most-popular
    [type]="'widget'"
    [fragment]="'featured'"
    [title]="data.title"
    [stories]="data.stories | slice: 0:3"
    [class] ="'widget5'"
    [widget]="data"
    ></app-most-popular>
</div>
<div *ngIf="data?.layout == 9">
    <app-most-popular
    [type]="'widget'"
    [fragment]="'featured'"
    [title]="data.title"
    [stories]="data.stories | slice: 0:3"
    [class] ="'widget7'"
    [widget]="data"
    ></app-most-popular>
</div>
<div *ngIf="data?.layout == 10">
    <app-most-popular
    [type]="'widget'"
    [fragment]="'featured'"
    [title]="data.title"
    [stories]="data.stories | slice: 0:3"
    [class] ="'widget6'"
    [widget]="data"
    ></app-most-popular>
</div>