<div *ngIf="data?.layout == 1">
    <app-layout-one
    [widget]="data"
    [fragment]="'featured'"></app-layout-one>
</div>
<div *ngIf="data?.layout == 2">
    <app-layout-one
    [class]="'widget2'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-one>
</div>
<div *ngIf="data?.layout == 3">
    <app-layout-two
    [type]="'widget'"
    [class]="'widget3'"
    [widget]="data"></app-layout-two>
</div>
<div *ngIf="data?.layout == 4">
    <app-layout-two
    [type]="'widget'"
    [class]="'widget4'"
    [widget]="data"></app-layout-two>
</div>
<div *ngIf="data?.layout == 5">
    <app-layout-three
    [class]="'widget5'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-three>
</div>
<div *ngIf="data?.layout == 6">
    <app-layout-three
    [class]="'widget6'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-three>
</div>
<div *ngIf="data?.layout == 7">
    <app-layout-three
    [class]="'widget7'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-three>
</div>
<div *ngIf="data?.layout == 8">
    <app-layout-three
    [class]="'widget5'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-three>
</div>
<div *ngIf="data?.layout == 9">
    <app-layout-three
    [class]="'widget7'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-three>
</div>
<div *ngIf="data?.layout == 10">
    <app-layout-three
    [class]="'widget6'"
    [widget]="data"
    [fragment]="'featured'"></app-layout-three>
</div>