<div class="add-banner-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-r">ADVERTISEMENT</div>
        <div class="clearfix"></div>
        <div class="add-banner-border">
          <img
            appYoutubeImage
            src="{{ adsData?.media | defaultImage: 970:89 }}"
            width="970"
            height="89"
            style="width: 100%"
            alt="img12"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
