<div class="clearfix"></div>
<div class="fran-block">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-lg-9 col-md-10 p-0">
                    <ul>
                      <li>
                        <h4> {{ newsData.title }}</h4>
                        </li>
                        <li class="frannews-subtitle">
                          <span>{{ newsData.subtitle }}</span>
                          </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-2">frannews-top-left 
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>
              <div class="fran-content-block">
                <ul>
                  <li *ngFor="let news of newsData.data">
                    <img appYoutubeImage srcset="{{news.media | defaultImage:545:305}} 545w, {{news.media | defaultImage:355:199}} 355w, {{news.media | defaultImage:300:168}} 300w, {{news.media | defaultImage:210:118}} 210w" sizes="{{'(max-width: 576px) 545px,
                    (max-width: 768px) 355px,
                    (max-width: 992px) 300px,
                    210px'}}" src="{{newsData.media | defaultImage:210:118}}" alt="img5" class="img-fluid"/>
                    <p>
                     {{ news.title }}
                      </p>
                      <!-- <span> {{ news.posted_on }}</span> -->
                    </li>
                  </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
