<div class="fran-block frannews-trending">
  <div class=" container-xl frannews-details">
    <div class="row">
      <div class="col-md-12">
        <div class="frannews-top d-flex">
          <div class="frannews-top-left col-lg-9 col-md-10 p-0">
            <ul class="p-0 m-0">
              <li class="heading-border">
                <h4>{{ newsData.title }}</h4>
              </li>
              <li class="frannews-subtitle">
                <span>{{ newsData.subtitle }}</span>
              </li>
            </ul>
          </div>
          <div class="frannews-top-right col-lg-3 col-md-2"><a class="float-right" href="">READ
              MORE <i aria-hidden="true" class="fa fa-angle-right"></i></a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="fran-content-block row row-cols-md-4 row-cols-md-5 row-cols-sm-3 row-cols-1">
          <div class="col" *ngFor="let news of newsData.data">
            <img appYoutubeImage
              srcset="{{news.media | defaultImage:545:305}} 545w, {{news.media | defaultImage:355:199}} 355w, {{news.media | defaultImage:300:168}} 300w, {{news.media | defaultImage:210:118}} 210w"
              sizes="{{'(max-width: 576px) 545px,
                    (max-width: 768px) 355px,
                    (max-width: 992px) 300px,
                    210px'}}" src="{{newsData.media | defaultImage:210:118}}" alt="img5" class="img-fluid" />

            <div class="socialmedia">
              <p>
                {{ news.title }}
              </p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
