@import "../../../../assets/scss/typography.scss";
@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.awards {
  background: $dark_gray;
  color: $black;

  .sectionTitle {
    line-height: 25.6px;
  }

  .topSection {
    img {
      @include mobile-landscape {
        height: auto;    
      }            
      height: 302px;
    }
    h2 {
      font-size: 20px;
      line-height: 23.4px;
      font-weight: 700;
      font-family: $aktiv;
      color: $white_2;
    }
  }
  .bottomSection {
    figure {
      img {
        @include mobile-landscape {
          height: auto;    
        }            
        height: 118px;
      }
    }
    .articleTitles {
      color: $white_2;
    }
  }
  .awardCarousel {
    @include mobile-portrait {
      padding: 0 10px;
    }
  }
  .seeAll{
    @include mobile-landscape{
      align-items: unset !important;
      padding-top: 26px;
    }
  }
}
:host ::ng-deep {
  .owl-carousel {
    .owl-stage{
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        width: 5800px !important;
        transform: translate3d(-732px, 0px, 0px) !important;
      }  
      .owl-item {
        width:222.4px !important;
        padding: 0 5px;
        @media only screen and (min-width: 320px) and (max-width: 768px) {
          width: 360px !important;
        }
      } 
    }

    .owl-nav {
      div {
        background-color: transparent;
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        background-repeat: no-repeat;
        cursor: pointer;
        color: $white_2;
        font-size: 45px !important;
        &.owl-prev {
          left: -4%;
          @include tablet-landscape {
            left: -3%;
          }
          @media only screen and (min-width: 320px) and (max-width: 768px) {
            left: -10%;
          }
          &:hover {
            background-color: transparent;
            color: $white_2;
          }
        }
        &.owl-next {
          right: -4%;
          @include tablet-landscape {
            right: -3%;
          }
          @media only screen and (min-width: 320px) and (max-width: 768px) {
            right: -10%;
          }
          &:hover {
            background-color: transparent;
            color: $white_2;
          }
        }
      }
    }
  }
}
