@import "../../../../assets/scss/typography.scss";
@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.awards {
  background: $dark_gray;
  color: $black;

  .sectionTitle {
    line-height: 25.6px;
    color: $dark_gray;
  }

  .seeMore {
    color: $red;
  }

  .topSection {
    h2 {
      font-size: 20px;
      line-height: 23.4px;
      font-weight: 700;
      font-family: $aktiv;
      color: $white_2;
    }
  }
  .bottomSection {
    .articleTitles {
      color: $white_2;
    }
  }
  .awardCarousel {
    padding: 0 10px;
    @include mobile-portrait {
      padding: 0 20px;
    }
  }
}
:host ::ng-deep {
  .owl-carousel {
    .owl-item {
      img {
        width: 95% !important;
      }
    }

    .owl-nav {
      div {
        background-color: transparent;
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        height: 43px;
        width: 22px;
        cursor: pointer;
        &.owl-prev {
          background-image: url("https://1851-static.s3.amazonaws.com/left-arrow.png");
          left: -3%;
          @include mobile-portrait {
            left: -10%;
          }
        }
        &.owl-next {
          background-image: url("https://1851-static.s3.amazonaws.com/right-arrow.png");
          right: -2%;
          @include mobile-portrait {
            right: -10%;
          }
        }
      }
    }
  }
}
