@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.awards {
  background: $dark_gray;
  color: $black;
  .sectionTitle {
    line-height: 25.6px;
  }

  .topSection {
    .video-play {
      height: 57px !important;
      width: 97px;
      top: calc(50% - 30px);
    }
    img {
      height: 302px;

      @include tablet-landscape {
        height: auto; 
        width:100%;   
      } 
      @include mobile-landscape {
        height: auto;    
      }            
    }
    h2 {
      font-size: 20px;
      line-height: 23.4px;
      font-weight: 700;
      font-family: $aktiv;
      color: $white_2;
    }
  }
  .bottomSection {
    .video-play {
      height: 22px !important;
      width: 38px;
      top: calc(45% - 0px);
    }
    figure {
      img {
        @include mobile-landscape {
          height: auto;    
        }            
        height: 118px;
      }
    }
    .articleTitles {
      color: $white_2 !important;
    }
  }
  .awardCarousel {
    @include mobile-portrait {
      padding: 0 10px;
    }
  }
  .seeAll{
    @include mobile-landscape{
      align-items: unset !important;
      padding-top: 26px;
    }
  }
}
:host ::ng-deep {
  .owl-carousel {
      .owl-item {
        padding: 0 5px;
        @media only screen and (min-width: 320px) and (max-width: 768px) {
          padding: 0 15px;
        }
        img {
          height:119px;
          width:212px;
          @include tablet-landscape{
            width: 100%;
            height: auto !important;
          }
        }
      } 

    .owl-nav {
      div {
        background-color: transparent;
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        background-repeat: no-repeat;
        cursor: pointer;
        color: $white_2;
        font-size: 45px !important;
        &.owl-prev {
          left: -4%;
          @include mobile-portrait1{
            left: -15% !important;
          }
          @include mobile-landscape{
            left: -10%;
          }
          @include mobile-landscape3{
            left: -6%;
          }
          &:hover {
            background-color: transparent;
            color: $white_2;
          }
        }
        &.owl-next {
          right: -4%;
          @include mobile-portrait1{
            right: -15% !important;
          }
          @include mobile-landscape{
            right: -10%;
          }
          @include mobile-landscape3{
            right: -6%;
          }
          &:hover {
            background-color: transparent;
            color: $white_2;
          }
        }
      }
    }
  }
}