<div class="editorial-section sidebar-blur pb-4" *ngIf="isLoaded && items.length">
  <div class="container customContainer">
    <h2 class="py-4 m-0 sectionTitle">Editorial Sections</h2>
  </div>

  <div class="tabs">
    <div class="container customContainer position-relative">
      <div
        class="prev position-absolute top-50 start-0 translate-middle-y ps-3"
        [ngClass]="tabName?.length > commonService.vtabsItem ? '' : 'd-none'"
        (click)="prev()"
      >
        <img
          data-src="{{ s3Url }}left-arrow.svg"
          width="20"
          height="39"
          loading="lazy"
          alt="arrow"
          class="lazyload"
        />
      </div>
      <ul class="row m-0 px-5 row-cols-md-3 row-cols-sm-1" [ngClass]="rows">
        <li
          *ngFor="let item of tabName; index as i"
          class="border-end text-center"
          [ngClass]="
            i < commonService.vtabsItem + skipTab && i >= skipTab
              ? 'active'
              : 'd-none'
          "
        >
          <span
            class="
              d-inline-flex
              justify-content-around
              align-items-center
              mx-auto
              position-relative
              desktop-only
            "
            [ngClass]="i + 1 === activeTab ? 'active' : ''"
            (click)="setActiveTab(i + 1, item)"
            >{{ item?.shortName }}</span
          >
          <span
            class="
              d-inline-flex
              justify-content-around
              align-items-center
              mx-auto
              position-relative
              mobile-only
              active
            "
            (click)="setActiveTab(activeTab, item)"
            >{{ tabName[activeTab - 1]?.shortName }}</span
          >
        </li>
      </ul>
      <div
        class="next position-absolute top-50 end-0 translate-middle-y pe-3"
        [ngClass]="
          tabName?.length > this.commonService.vtabsItem ? '' : 'd-none'
        "
        (click)="next()"
      >
        <img
          data-src="{{ s3Url }}right-arrow.svg"
          loading="lazy"
          width="20"
          height="39"
          alt="arrow"
          class="lazyload"
        />
      </div>
    </div>
  </div>

  <div class="container customContainer mt-5 article">
    <app-home-article
      [typeSlug]="tab"
      [contents]="items"
      [column]="'five'"
      [class]="'row-cols-md-2 row-cols-lg-5 gx-2'"
    ></app-home-article>
  </div>
</div>
