<div
  class="most-popular sidebar-blur"
  *ngIf="isLoaded"
  [ngClass]="type == 'brand' ? 'brand-most-popular' : ''"
>
  <div class="container customContainer">
    <h2 class="py-3 m-0 sectionTitle">MOST POPULAR</h2>
  </div>
  <hr class="m-0 mb-4" />
  <div class="container customContainer">
    <div class="row d-none d-sm-flex" *ngIf="type == 'home'">
      <div class="col col-sm-4" *ngFor="let item of data; index as i">
        <a
          routerLink="/{{ commonService.readMore(item) }}"
          fragment="trending"
          class="text-black"
        >
          <div class="card border-0 h-100" *ngIf="i < 3; else elseBlock">
            <img
              appYoutubeImage
              width="380px"
              height="223"
              data-src="{{ item.media | defaultImage: 380:223 }}"
              data-srcset="{{ item.media | defaultImage: 380:223 }} 380w, {{
                item.media | defaultImage: 350:200
              }} 350w, 
          {{ item.media | defaultImage: 555:310 }} 555w"
              data-sizes="{{
                '(max-width: 576px) 555px,
              (max-width: 992px) 350px,
              (max-width: 1200px) 380px,
              380px'
              }}"
              alt="most-popular"
              loading="lazy"
              class="img-fluid lazyload"
            />
            <div class="card-body position-relative px-3 d-block">
              <span
                class="
                  position-absolute
                  top-0
                  start-0
                  bg-white
                  d-flex
                  align-items-center
                  justify-content-center
                "
                >POPULAR</span
              >
              <h2 class="position-relative ps-4 card-title">
                <span class="position-absolute top-0 start-0">{{ i + 1 }}</span>
                <strong class="ms-3 d-block articleTitles text-white">
                  {{ item.title }}
                </strong>
              </h2>
            </div>
            <div
              class="
                card-footer
                d-flex
                flex-row-reverse
                py-1
                px-2
              "
            >
              <a class="text-white timeStamp p-0"
                >READ MORE
                <fa-icon
                  [icon]="faAngleRight"
                  class="ng-fa-icon fa-icon"
                ></fa-icon>
              </a>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="subItem px-md-3">
              <div class="card-body position-relative px-3 d-block">
                <div class="position-relative ps-4">
                  <span class="position-absolute top-0 start-0">{{
                    i + 1
                  }}</span>
                  <h3 class="mb-0 ms-3 d-block card-title">
                    {{ item.title }}
                  </h3>
                  <small class="timeStamp ms-3" *ngIf="commonService.isDate(item)">
                    <span *ngIf="commonService.isUpdate(item)"
                      >{{ item.last_modified | date: "MM-dd-YYYY" }} |
                      {{ item.last_modified | date: "shortTime" }}
                    </span>
                    <span *ngIf="!commonService.isUpdate(item)"
                      >{{ item.posted_on | date: "MM-dd-YYYY" }} |
                      {{ item.posted_on | date: "shortTime" }}</span
                    >
                  </small>
                  <p class="ms-3 description">
                    {{ item.short_description }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </a>
      </div>
    </div>
    <div class="row d-flex">
      <owl-carousel-o
        [options]="customOptions"
        class="position-relative"
        [ngClass]="type == 'brand' ? 'brand-carousel' : 'd-sm-none'"
      >
        <ng-template carouselSlide *ngFor="let item of data; index as i">
          <div class="slideItem col-md-4 col-sm-4">
            <a
              routerLink="/{{ commonService.readMore(item) }}"
              fragment="trending"
            >
              <img
                appYoutubeImage
                data-srcset="{{ item.media | defaultImage: 380:223 }} 380w, {{
                  item.media | defaultImage: 350:200
                }} 350w, 
          {{ item.media | defaultImage: 555:310 }} 555w"
                data-sizes="{{
                  '(max-width: 576px) 555px,
              (max-width: 992px) 350px,
              (max-width: 1200px) 380px,
              380px'
                }}"
                class="img-fluid lazyload"
                width="380px"
                height="223"
                data-src="{{ item.media | defaultImage: 380:223 }}"
                alt="most-popular"
                loading="lazy"
              />
              <div class="slide-body position-relative px-3 d-block">
                <span
                  class="
                    position-absolute
                    top-0
                    start-0
                    bg-white
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                  >POPULAR</span
                >
                <h2 class="position-relative ps-4 text-white">
                  <span class="position-absolute top-0 start-0">{{
                    i + 1
                  }}</span>
                  <strong class="ms-3 d-block articleTitles text-white">{{ item.title }}</strong>
                </h2>
              </div>
              <div
                class="
                  slide-footer
                  d-flex
                  flex-row-reverse
                  py-1
                  px-2
                "
              >
                <a class="timeStamp text-white p-0"
                  >READ MORE
                  <fa-icon
                    [icon]="faAngleRight"
                    class="ng-fa-icon fa-icon"
                  ></fa-icon
                ></a>
              </div>
            </a>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
