<div class="most-popular sidebar-blur" *ngIf="isLoaded" [ngClass]="class2">
  <div class="container customContainer">
   <h2
      *ngIf="type == 'home'|| type == 'brand'; else elseBlock"
      class="py-4 m-0 sectionTitle"
    >
      {{ title }}
    </h2>
    <ng-template #elseBlock
      ><h2 class="py-4 m-0 sectionTitle text-uppercase">
        {{ title }}
        <span class="subTitle py-3" *ngIf="publication != 'EE'">
         {{ subTitle }}
        </span>
      </h2></ng-template
    >
   
  </div>
  <hr class="m-0 mb-4"/>
  <div class="container customContainer">
    <div
      class="row d-none d-md-flex"
      *ngIf="type == 'home' || type == 'homeFeature'"
    >
      <div class="col col-sm-4 pb-3" *ngFor="let item of data; index as i">
        <a routerLink="/{{ commonService.readMore(item) }}" fragment="{{fragment}}">
          <div class="card border-0 h-100" *ngIf="i < 3; else elseBlock">
          <figure><img
              appYoutubeImage
              width="366"
              height="206"
              data-src="{{ item.media | defaultImage: 366:206 }}"
              alt="most-popular"
              loading="lazy"
              class="lazyload img-fluid card-img-top"
            /></figure>
            <div class="card-body position-relative px-3 pt-5">
              <span
                *ngIf="type == 'homeFeature'; else titleBlock"
                class="
                  position-absolute
                  top-0
                  start-0
                  bg-white
                  d-flex
                  align-items-center
                  justify-content-center
                  py-1
                  px-2
                  text-uppercase
                "
                >Featured Article</span
              >
              <ng-template #titleBlock *ngIf="type == 'home' || type == 'brand'">
                <span
                  class="
                    position-absolute
                    top-0
                    start-0
                    bg-white
                    d-flex
                    align-items-center
                    justify-content-center
                    py-1
                    px-2
                    text-uppercase
                  "
                  >Popular</span
                ></ng-template
              >
              <h2 class="position-relative ps-4 card-title m-0 pb-4">
                <span class="position-absolute top-0 start-0">{{ i + 1 }}</span>
                <p class="ms-3 mb-0 articleTitles pt-1">
                  {{ item.title }}
                </p>
              </h2>
            </div>
            <div class="card-footer text-end py-1 px-2">
              <a class="seeMore p-0 text-white"
                >READ MORE
                <i class="fa fa-angle-right fw-bold" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="subItem pe-md-3">
              <div class="card-body position-relative px-3">
                <div class="position-relative ps-4">
                  <span class="position-absolute top-0 start-0 number">{{
                    i + 1
                  }}</span>
                  <h3 class="mb-0 ms-3 card-title articleTitles">
                    {{ item.title }}
                  </h3>

                  <span
                    *ngIf="commonService.isUpdate(item)"
                    class="timeStamp ms-3"
                    >{{ commonService.formatDate(item.last_modified) }} |
                    {{ commonService.formatTime(item.last_modified) }}
                  </span>
                  <span
                    *ngIf="!commonService.isUpdate(item)"
                    class="timeStamp ms-3"
                    >{{ commonService.formatDate(item.posted_on) }} |
                    {{ commonService.formatTime(item.posted_on) }}</span
                  >
                  <p class="ms-3 mb-0 description">
                    {{ item.short_description }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </a>
      </div>
    </div>
    <div
      class="row gx-xl-3 gx-lg-2 pb-3" [ngClass]="class"
    >
      <owl-carousel-o
        [options]="customOptions"
        class="position-relative popularCarousel"
      >
      <ng-template carouselSlide *ngFor="let item of data; index as i" >
        <div [ngClass]="data.length == 1 ? 'col-sm-1 col-md-4' : data.length == 2 ? 'col' : 'col'">
            <a 
              routerLink="/{{ commonService.readMore(item) }}"
              fragment="{{fragment}}"
            >
              <div class="card border-0 h-100">
                <figure>
                <img
                  appYoutubeImage
                  width="366"
                  height="206"
                  data-src="{{ item.media | defaultImage: 366:206 }}"
                  alt="most-popular"
                  loading="lazy"
                  class="lazyload img-fluid card-img-top"
                /></figure>
                <div class="card-body carouselBody position-relative px-3 pt-5">
                  <span
                    *ngIf="type == 'homeFeature'; else titleBlock"
                    class="
                      position-absolute
                      top-0
                      start-0
                      bg-white
                      d-flex
                      align-items-center
                      justify-content-center
                      py-1
                      px-4
                      text-uppercase
                    "
                    >Featured Article</span
                  >
                  <ng-template  #titleBlock *ngIf="type == 'home' || type == 'brand'">
                    <span
                    *ngIf="type == 'homeFeature'; else titleBlock"
                    class="
                      position-absolute
                      top-0
                      start-0
                      bg-white
                      d-flex
                      align-items-center
                      justify-content-center
                      py-1
                      px-4
                      text-uppercase
                    "
                    >Popular</span
                  >
                  </ng-template>
                  <h2 class="position-relative ps-4 card-title m-0 pb-4">
                    <span class="position-absolute top-0 start-0">{{
                      i + 1
                    }}</span>
                    <p class="ms-3 mb-0 articleTitles pt-1">
                      {{ formatTitle(item.title) }}
                    </p>
                  </h2>
                </div>
                <div class="card-footer text-end py-1 px-2">
                  <a class="seeMore p-0 text-white"
                    >READ MORE
                    <i class="fa fa-angle-right fw-bold" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </a></div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
