@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "../../../../assets/scss/theme-color.scss";
@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.most-popular {
  background: linear-gradient($dark-gray 385px, $white 0);
  h2 {
    font-family: $balingerBold;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
  }
  hr {
    border-color: $primary;
    background-color: $primary;
    height: 2px;
    opacity: 1;
  }
  .slideItem {
    font-weight: bold;
    margin-bottom: 47px;
    > img {
      // margin-bottom: -31px;
    }
    .slide-body {
      min-height: 130px;
      padding-top: 31px;
      padding-bottom: 31px;
      max-height: 130px;

      > span {
        width: 48px;
        height: 15px;
        font-family: $roboto;
        font-weight: 700;
        font-size: 10px;
        line-height: 10.3px;
        color: $dark_red_2;
      }
      > h2 {
        > span {
          font-size: 49px;
          line-height: 103%;
          font-weight: bold;
          color: $white_4;
        }
        > strong {
          line-height: 21.63px;
          overflow: hidden;
          max-height: 64px;
          font-weight: 700;
        }
        font-size: 21px;
        font-family: $roboto;
        font-weight: 700;
      }
    }
    .slide-footer {
      font-family: $balingerBold;
      font-size: 15px;
      line-height: 18px;
      height: 24px;
    }
  }
  .subSlideItem {
    margin-bottom: 47px;
    .slide-body {
      > div {
        > span {
          font-size: 31px;
          line-height: 36px;
          font-weight: 700;
          font-family: $roboto;
        }
        > h3 {
          color: $dark-gray;
          font-size: 18px;
          line-height: 1.2rem;
          font-family: $roboto;
          font-weight: 700;
          > strong {
            font-weight: 700;
          }
        }
        > small {
          font-size: 11px !important ;
          line-height: 12px;
          font-family: $roboto;
          font-weight: 400;
          color: $dark-gray !important;
        }
        > p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16.73px;
          font-family: $roboto;
          color: $dark_gray_5;
        }
      }
    }
  }
}

// carousel
:host ::ng-deep {
  .owl-carousel {
    .owl-stage-outer {
      overflow: hidden;
      .owl-stage {
        display: flex;
        .slideItem {
          padding: 0 20px;
          box-sizing: border-box;
          @media (min-width: 481px) {
            width: 380px;
          }
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 0 30px;
            width: 350px;
          }
          @media only screen and (min-width: 834px) and (max-width: 1112px) {
            padding: 0 30px;
          }
          @media (min-width: 1200px) {
            padding: 0 10px;
          }
        }
      }
    }
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 110px;
        background: transparent !important;
        img {
          width: 22px;
          height: 39px;
        }
        &.owl-prev {
          left: -40px;
          @include desk-lg-below2 {
            left: -17px;
          }
          @include media("<md") {
            left: -17px;
            img {
              width: 15px;
              margin-top: 5px;
            }
          }
        }
        &.owl-next {
          right: -20px;
          @include desk-lg-below2 {
            right: -17px;
          }
          @include media("<md") {
            right: -17px;
            img {
              width: 15px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
