<div class="container py-3 sidebar-blur featured" *ngIf="isLoaded">
  <div class="row">
    <div class="col-lg-6 col-sm-12 position-relative featuredList">
      <div class="tag position-absolute text-center top-0 text-uppercase">
        Featured Article
      </div>
      <a
        *ngIf="!commonService.isVideo(featured[0])"
        routerLink="/{{ commonService.readMore(featured[0]) }}"
        fragment="featured"
      >
        <img
          appYoutubeImage
          class="img-fluid lazyload"
          alt="featured"
          loading="lazy"
          width="1280"
          height="720"
          data-src="{{ featured[0].media | defaultImage: 1280:720 }}"
        />
      </a>

      <a
        *ngIf="commonService.isVideo(featured[0])"
        data-bs-toggle="modal"
        data-bs-target="#featuredModal"
        fragment="featured"
        class="video-btn"
      >
        <img
          appYoutubeImage
          class="img-fluid lazyload"
          alt="featured"
          loading="lazy"
          width="1280"
          height="720"
          data-src="{{ featured[0].media | defaultImage: 1280:720 }}"
        />
        <img
          data-src="{{ s3Url }}videoIcon.png"
          alt="Play"
          class="img-fluid video-play lazyload"
          loading="lazy"
          width="120"
          height="71"
        />
      </a>
      <h2 class="large-main-article mt-2">
        {{ featured[0].title }}
      </h2>
      <span *ngIf="commonService.isUpdate(featured[0])" class="timeStamp"
        >{{ featured[0].last_modified | date: "MM-dd-YYYY" }} |
        {{ featured[0].last_modified | date: "shortTime" }}
      </span>
      <span *ngIf="!commonService.isUpdate(featured[0])" class="timeStamp"
        >{{ featured[0].posted_on | date: "MM-dd-YYYY" }} |
        {{ featured[0].posted_on | date: "shortTime" }}</span
      >
    </div>
    <!-- Industry 1851 news list -->
    <div *ngIf="!isAwards()" class="col-lg-3 col-sm-12">
      <span class="small-red-headers">Latest Franchise Industry News</span>
      <ul class="industry-list pt-1">
        <li *ngFor="let item of news; index as i">
          <a
            routerLink="/{{ commonService.readMore(item) }}"
            fragment="{{ item?.category?.slug.replace('-spotlight', '') }}"
          >
            <h3 class="articleTitles mb-0">{{ item.title }}</h3>
          </a>
          <span *ngIf="commonService.isUpdate(item)" class="timeStamp"
            >{{ item.last_modified | date: "MM-dd-YYYY" }} |
            {{ item.last_modified | date: "shortTime" }}
          </span>
          <span *ngIf="!commonService.isUpdate(item)" class="timeStamp"
            >{{ item.posted_on | date: "MM-dd-YYYY" }} |
            {{ item.posted_on | date: "shortTime" }}</span
          >
          <a
            routerLink="/{{ commonService.readMore(item) }}"
            fragment="{{ item?.category?.slug.replace('-spotlight', '') }}"
          >
            <p class="description mb-0">
              {{ item.short_description }}
            </p>
          </a>
        </li>
      </ul>
    </div>

    <!-- Brand news list -->
    <div *ngIf="slug === '1851'" class="col brand-list border-start">
      <span class="small-red-headers">LATEST FRANCHISE BRAND NEWS</span>

      <ul class="industry-list pt-1">
        <li *ngFor="let item of brandNews; index as i">
          <div class="d-flex">
            <div class="col-5">
              <a
                routerLink="/{{ commonService.readMore(item) }}"
                fragment="industry"
                class="pe-2"
              >
                <img
                  appYoutubeImage
                  width="128"
                  class="lazyload img-fluid"
                  alt="industry"
                  loading="lazy"
                  height="90"
                  data-src="{{ item.media | defaultImage: 1280:720 }}"
              /></a>
            </div>
            <div class="col-lg-7 col-sm-7 ps-2">
              <h2 class="small-red-headers mb-0">{{ item.brand.name }}</h2>

              <a
                routerLink="/{{ commonService.readMore(item) }}"
                fragment="industry"
              >
                <h3 class="articleTitles mb-0">{{ item.title }}</h3>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div
      *ngIf="slug !== '1851' && !isAwards()"
      class="
        position-relative
        col-12 col-sm-6 col-lg-4
        align-items-stretch
        mb-3 mb-sm-0
        border-start border-2
        latestListing
      "
    >
      <ul class="list-group">
        <li *ngFor="let item of brandInfoNews; index as i">
          <div class="position-relative small-image">
            <a routerLink="{{ item.slug }}">
              <div
                class="
                  tag
                  brandInfo
                  position-absolute
                  text-center
                  top-0
                  text-uppercase
                  articleTitles
                "
              >
                {{ item?.title }}
              </div>
              <img
                appYoutubeImage
                class="img-fluid lazyload"
                width="253"
                height="137"
                data-src="{{ item.media | defaultImage: 253:137 }}"
                alt="featured"
                loading="lazy"
              />
              <h3 class="over-layer-brand bottom-0 p-2">
                {{ item?.description }}
              </h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="modal fade"
    id="featuredModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    (click)="openVideoPlayer = true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="openVideoPlayer = false"
          ></button>
          <iframe
            [src]="featured[0]?.media.url | safeUrl"
            frameborder="0"
            width="100%"
            height="496px"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
