<div class="container py-4">
  <div class="row">
    <div class="col-12 col-lg mb-3 mb-sm-0">
      <!-- featured aarticle slider -->

      <div class="row" *ngIf="featured.length">
        <div
          *ngFor="let item of featured; index as i"
          [ngClass]="i === 0 ? 'col-12 mb-2 mb-md-3' : 'col-4 my-2'"
        >
          <div
            class="position-relative"
            [ngClass]="i === 0 ? 'main-image' : 'small-image'"
          >
            <div class="tag position-absolute text-center top-0 text-uppercase">
              Feature Article
            </div>
            <a *ngIf="i != 0 || !commonService.isVideo(item)">
              <img
                appYoutubeImage
                srcset="{{item.media | defaultImage:238:133}} 238w, {{item.media | defaultImage:300:168}} 300w, 
          {{item.media | defaultImage:400:224}} 400w, {{item.media | defaultImage:555:310}} 555w"
                class="img-fluid"
                sizes="{{
                  '(max-width: 576px) 555px,
              (max-width: 992px) 400px,
              (max-width: 1200px) 238px,
              300px'
                }}"
                width="216"
                height="135"
                src="{{ item.media | defaultImage: 1300:730 }}"
                alt="featured"
                loading="lazy"
              />
            </a>
            <a
              *ngIf="i == 0 && commonService.isVideo(item)"
              attr.data-src="{{ item.media.url }}"
              data-bs-target="#featuredVideo"
              data-bs-toggle="modal"
              (click)="updateVideoUrl(item.media.url)"
              href="#"
              class="
                video-btn
                c-video-section--playBtn
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <img
                appYoutubeImage
                srcset="{{item.media | defaultImage:238:133}} 238w, {{item.media | defaultImage:300:168}} 300w, 
            {{item.media | defaultImage:400:224}} 400w, {{item.media | defaultImage:555:310}} 555w"
                class="img-fluid"
                sizes="{{
                  '(max-width: 576px) 555px,
                (max-width: 992px) 400px,
                (max-width: 1200px) 238px,
                300px'
                }}"
                width="216"
                height="135"
                src="{{ item.media | defaultImage: 1300:730 }}"
                alt="featured"
                loading="lazy"
              />
              <img
                src="assets/img/play.png"
                alt="Play"
                class="img-fluid vide-play"
                width="81px"
                height="105px"
                loading="lazy"
              />
            </a>
            <div
              class="
                over-layer
                position-absolute
                text-capitalize
                bottom-0
                fw-bold
                w-100
              "
              [ngClass]="i === 0 ? 'p-3' : 'p-2'"
            >
              {{ item.title }}
              <a routerLink="/{{ item.slug }}" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="
        position-relative
        col-12 col-sm-6 col-lg-3
        align-items-stretch
        mb-3 mb-sm-0
        latestListing
      "
    >
      <!-- Brand news list -->
      <span class="small-title mb-2">LATEST FRANCHISE BRAND NEWS</span>
      <ul class="brand-list noScrollBar list-group">
        <li
          *ngFor="let item of brandNews; index as i"
          class="pb-1"
          [ngClass]="i === brandNews.length - 1 ? '' : 'mb-1 mb-md-2'"
        >
          <h3 class="m-0">
            <a routerLink="{{ commonService.readMore(item) }}">
              {{
                commonService.responsiveTextFormating(
                  item.title,
                  brandNewsTitleLimit
                )
              }}
            </a>
          </h3>
          <a routerLink="{{ commonService.goAuthorPage(item) }}">
            <span class="my-1">By {{ item.author?.name }}</span></a
          >
          <a routerLink="{{ commonService.readMore(item) }}">
            <p [ngClass]="i === brandNews.length - 1 ? 'mb-0' : 'mb-2'">
              {{
                commonService.responsiveTextFormating(
                  item.short_description,
                  descriptionLimit
                )
              }}
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div
      *ngIf="slug === '1851'"
      class="
        position-relative
        col-12 col-sm-6 col-lg-3
        align-items-stretch
        mb-3 mb-sm-0
        border-start border-2
        latestListing
      "
    >
      <!-- Industry news list -->
      <span class="small-title mb-2">Latest Franchise Industry News</span>
      <ul class="news-list noScrollBar list-group">
        <li
          *ngFor="let item of news; index as i"
          [ngClass]="
            i === news.length - 1 ? 'pb-0 pb-md-0' : 'pb-2 pb-md-3 mb-2 mb-md-3'
          "
        >
          <div class="newsImage me-2 me-md-3">
            <a
              routerLink="{{ commonService.readMore(item) }}"
              fragment="frannews"
            >
              <img
                appYoutubeImage
                width="121px"
                height="114px"
                src="{{ item.media | defaultImage: 121:114 }}"
                alt="industry"
                loading="lazy"
            /></a>
          </div>
          <div>
            <h3 class="m-0">
              <a
                routerLink="{{ commonService.readMore(item) }}"
                fragment="frannews"
              >
                {{
                  commonService.responsiveTextFormating(
                    item.title,
                    NewsTitleLimit
                  )
                }}
              </a>
            </h3>
            <a routerLink="{{ commonService.goAuthorPage(item) }}">
              <span>By {{ item.author.name }}</span>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div
      *ngIf="slug !== '1851'"
      class="
        position-relative
        col-12 col-sm-6 col-lg-3
        align-items-stretch
        mb-3 mb-sm-0
        border-start border-2
        latestListing
      "
    >
      <!-- Industry news list -->
      <span class="small-title mb-2">Latest Franchise Industry News</span>
      <ul class="news-list noScrollBar list-group">
        <li class="mb-3" *ngFor="let item of news | slice: 1:5; index as i">
          <div class="position-relative small-image">
            <div class="tag position-absolute text-center top-0 text-uppercase">
              Special Feature
            </div>
            <a
              routerLink="{{ commonService.readMore(item) }}"
              fragment="featured"
              ><img
                appYoutubeImage
                srcset="{{item.media | defaultImage:238:133}} 238w, {{item.media | defaultImage:300:168}} 300w, 
            {{item.media | defaultImage:400:224}} 400w, {{item.media | defaultImage:555:310}} 555w"
                class="img-fluid"
                sizes="{{
                  '(max-width: 576px) 555px,
                (max-width: 992px) 400px,
                (max-width: 1200px) 238px,
                300px'
                }}"
                width="353"
                height="137"
                src="{{ item.media | defaultImage: 253:137 }}"
                alt="featured"
                loading="lazy"
            /></a>
            <div
              class="
                over-layer
                position-absolute
                text-capitalize
                bottom-0
                fw-bold
                w-100
                p-2
              "
            >
              {{
                commonService.responsiveTextFormating(item.title, titleLimit)
              }}
              <a routerLink="/{{ item.slug }}" class="stretched-link"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="featuredVideo"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (click)="openVideoPlayer = true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close btn-close-black"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="openVideoPlayer = false"
        ></button>
        <iframe
          [src]="url | safeUrl"
          frameborder="0"
          width="100%"
          height="496px"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
