@import "../../../../assets/scss/theme-color.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

img {
  width: 100%;
  height: auto;
}
a{
  color: $black;
}
.tag {
  background: $red;
  font-family: $roboto;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
}
.tagBrand {
  line-height: 20.57px;
  font-size: 17.14px;
}
.over-layer {
  font-family: $aktiv;
  font-size: 34px;
  color: $black;
  font-weight: 700;
  line-height: 125%;
  margin: 0 0 -15px 0;
  padding: 8px 16px 8px 0;
}
.main-image {
  .tag {
    padding: 3px 6px;
    line-height: 19px;
  }
  .tagBrand {
    width: 139px;
  }
}

@media screen and (max-width: 760px) {
  .tag {
    font-size: 12px;
  }
  .over-layer {
    font-size: 24px;
  }
}

.small-red-headers {
  color: $red;
  font-family: $roboto;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  line-height: 12px;
}

.brand-list {
  color: $black;
  font-family: $roboto;
  font-weight: 700;
  height: calc(100% - 27px);
  li {
    border-bottom: 1px solid $border-color;
    padding: 25px 0 25px !important;
    &:last-child {
      border: 0;
    }
  }
  @media screen and (max-width: 960px) {
    position: relative;
    height: 100%;
    overflow: visible;
    width: 100%;
  }
}

.news-list {
  li {
    display: flex;
    border-bottom: 1px solid #e8eef2;
    padding: 25px 0 25px !important;
    &:last-child {
      border: 0;
    }
    img {
      min-width: 121px;
      max-height: 100%;
      @media screen and (max-width: 1291px) {
        min-width: 90px;
        max-height: 90px;
      }
    }
    h3 {
      font-weight: bold;
      font-size: 18px;
      color: $black;
      line-height: 1.2rem;
      // width: 147px;
    }
  }

  @media screen and (max-width: 960px) {
    position: relative;
    height: 100%;
    overflow: visible;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .latestListing {
    max-width: 318px;
    p {
      line-height: 16.73px;
    }
  }
}

//Special Feature
.feature-article-section {
  .feature-item {
    padding-bottom: 20px;
    position: relative;
    .image-tag {
      position: absolute;
      background-color: $primary;
      color: $white;
      font-family: "ProximaNova-Semibold";
      font-size: 12.27px;
      padding: 4px;
    }
    .image-area {
      background-color: $light-gray-1;
      height: 126px;
    }
    .image-description {
      padding: 5px;
      background-color: $feature-article-description;
      color: $dark-gray;
      font-family: $roboto;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.video-btn {
  cursor: pointer;
  position: relative;
  .vide-play {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 20px);
    z-index: 1000;
    height: 28px;
    width: 49px;
    border-radius: 5px;
  }
}