@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.banner {
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.078);
  -webkit-box-shadow: 0 20px 8px rgba(0, 0, 0, 0.078);
  -ms-box-shadow: 0 20px 8px rgba(0, 0, 0, 0.078);
  -o-box-shadow: 0 20px 8px rgba(0, 0, 0, 0.078);
  -moz-box-shadow: 0 20px 8px rgba(0, 0, 0, 0.078);
  position: relative;
  z-index: 5;
  .modal {
    background: rgba(0, 0, 0, 0.5);
    padding: 0 !important;
  }
  .modal-dialog {
    @media only screen and (min-device-width: 768px) {
      max-width: 800px;
      //   margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      @include tablet-portrait {
        max-width: 75%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (max-device-width: 1024px) {
      max-width: 800px;
      //   margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      @include tablet-portrait {
        max-width: 75%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (orientation: landscape) {
      max-width: 800px;
      //   margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      @include tablet-portrait {
        max-width: 75%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (min-device-width: 768px) {
      max-width: 800px;
      //   margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      @include tablet-portrait {
        max-width: 75%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (max-device-width: 1024px) {
      max-width: 800px;
      //   margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      @include tablet-portrait {
        max-width: 75%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (orientation: portrait) {
      max-width: 800px;
      //   margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      @include tablet-portrait {
        max-width: 75%;
      }
    }
  }
  .modal-body {
    position: relative;
    padding: 0px;
  }
  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
    @include tablet-portrait {
      right: -18px;
      top: -22px;
    }
  }
  .modal-open {
    padding: 0;
  }
}

.banner-left {
  max-width: 66.2%;
  flex: 0 0 66.2%;
  -webkit-flex: 0 0 66.2%;
  @include desk-lg-below2 {
    max-width: 58%;
    flex: 0 0 58%;
    -webkit-flex: 0 0 58%;
  }
  @include tablet-landscape1 {
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
  }
  figure {
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      @include desk-lg-below2 {
        min-height: 422px;
      }
      @include tablet-landscape1 {
        min-height: 1px;
      }
    }
  }
}
.buffalowings {
  background: $color8;
  width: 100%;
  p {
    font-size: 18.71px;
    line-height: 24px;
    color: $color14;
    font-family: $font_family_4;
    padding: 17px 0 0 0;
    @include tablet-portrait {
      padding: 12px 0 0 0;
    }
    @include mobile-landscape1 {
      font-size: 16px;
      line-height: 23px;
    }
    @include tablet-landscape1 {
      br {
        display: none;
      }
    }
  }
}
.buffalowings-wrap {
  padding: 32px 56px 61px 56px;
  @include desk-lg-below1 {
    padding: 25px 20px 40px 20px;
  }
  @include tablet-portrait {
    padding: 25px 20px;
  }
  @include mobile-landscape1 {
    padding: 20px 20px;
  }
  h2 {
    font-size: 31.18px;
    line-height: 34px;
    color: $color1;
    font-weight: normal;
    font-family: $font_family_3;
    letter-spacing: 0.1px;
    @include tablet-portrait {
      font-size: 27px;
      line-height: 30px;
    }
    @include tablet-landscape1 {
      font-size: 26px;
      line-height: 29px;
    }
    @include mobile-landscape1 {
      font-size: 24px;
      line-height: 27px;
    }
  }
}
.buffalowings-bottom {
  background: $color9;
  padding: 12px 19px 11px 19px;
  @include desk-lg-below {
    padding: 10px 15px;
  }
  a,
  span {
    font-size: 9.1px;
    line-height: 11px;
    color: $color1;
    font-weight: normal;
    font-family: $font_family_5;
    .fa {
      font-size: 25px;
      line-height: 11px;
      color: $color1;
      padding: 0 0 0 7px;
      vertical-align: top;
    }
    &:focus {
      outline: 0 none;
    }
  }
  &:focus {
    outline: 0 none;
  }
}
.banner-right {
  width: 455px;
  background: $color3;
  max-width: 33.8%;
  flex: 0 0 33.8%;
  -webkit-flex: 0 0 33.8%;
  overflow: hidden;
  padding: 0;

  @include desk-lg-below2 {
    max-width: 42%;
    flex: 0 0 42%;
    -webkit-flex: 0 0 42%;
  }
  @include tablet-landscape1 {
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
  }
  ul {
    padding-left: 2rem !important;
    li {
      padding: 0 0 29px 0;
      @include tablet-portrait {
        padding: 0 0 30px 0;
      }
      &:last-child {
        .adweek-left {
          padding: 0 4px 20px 0;
          @include tablet-portrait {
            padding: 0 0 20px 0;
          }
        }
      }
    }
  }
  .vertical_scroll {
    height: 755px;
    overflow: hidden;
    @include desk-lg-below {
      height: 705px;
    }
    @include desk-lg-below2 {
      height: 664px;
    }
    @include tablet-portrait {
      height: 630px;
    }
  }
  .banner-right-details {
    .mCustomScrollBox {
      margin: 40px 12px 0 37px;
      @include desk-lg-below1 {
        margin: 30px 10px 15px 10px;
      }
    }
  }
}

.banner-right .mCSB_inside > .mCSB_container {
  margin-right: 19px;
  @include desk-lg-below {
    margin-right: 15px;
  }
  @include tablet-portrait {
    margin-right: 32px;
  }
}
.banner-right .mCSB_scrollTools .mCSB_draggerContainer {
  right: 7px;
  left: auto;
  @include desk-lg-below {
    right: 5px;
  }
}
.banner-right .mCSB_dragger .mCSB_dragger_bar,
.banner-right .scroll_wrap .mCSB_dragger:hover .mCSB_dragger_bar {
  background: $color10 !important;
}
.banner-right .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
  @include desk-lg-below {
    width: 6px;
  }
}
.banner-right .mCSB_scrollTools {
  width: 10px;
  right: 7px;
  @include desk-lg-below {
    right: 5px;
  }
  @include tablet-portrait {
    right: 0;
  }
}
.banner-right .mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  background: none;
}

.adweek-left {
  padding: 0 4px 0 0;
  @include tablet-portrait {
    padding: 0;
  }
  figure {
    img {
      display: block;
      width: 100%;
    }
  }
}
.adweek-right {
  padding: 0 31px 0 10px;
  @include desk-lg-below {
    padding: 0 25px 0 10px;
  }
  @include tablet-portrait {
    padding: 12px 0 12px 0;
  }
  @include tablet-landscape1 {
    padding: 0 12px 0 15px;
  }
  @include mobile-landscape1 {
    padding: 12px 0 12px 0;
  }
  @media only screen and (min-width: 1024px) {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      overflow: hidden;
      height: 105px;
      text-align: left;
    }
  }
  p {
    line-height: 21px;
    letter-spacing: -0.2px;
  }
}

.video-btn {
  cursor: pointer;
  position: relative;
  .video-maker {
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    z-index: 1000;
    height: 90px;
    width: 90px;
  }
}

.banner-right-main {
  margin-top: 45px;
}

.float-left {
  float: left !important;
}
