<div class="spotlight">
  <div class="tab2">
    <div class="spotlight-profile col-12 p-0">
      <div class="spotlight-links col-12 d-flex">
        <a href="#" onclick="return false;" class="text-uppercase">
          SPOTLIGHT /
        </a>
        <ul class="resp-tabs-list nav nav-pills">
          <li
            *ngFor="let tab of tabs; let i = index"
            [ngClass]="selectedIndex === i ? 'resp-tab-active' : ''"
          >
            <a
              data-toggle="pill"
              (click)="selectTab(tab, i)"
              class="text-uppercase"
            >
              {{ sanitizeTab(tab) }}
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="resp-tabs-container">
      <div class="spotlighttab-main resp-tabs-container">
        <div *ngFor="let tab of tabs; let i = index" class="tab-content">
          <h2
            class="resp-accordion tab-identifier2"
            [ngClass]="selectedIndex === i ? 'resp-tab-active' : ''"
            role="tab"
            style="background: none; border-color: rgb(193, 193, 193)"
            (click)="selectTabMobile(tab, i)"
          >
            <span class="resp-arrow"></span
            ><a class="text-uppercase">{{ tab }}</a>
          </h2>
          <div
            id="sporttab{{ i }}"
            class="spotlighttab-cnt tab-pane"
            [ngClass]="selectedIndex === i ? 'in active' : ''"
          >
            <div *ngIf="highlightItem" class="d-flex">
              <div
                class="spotlighttab-cnt-left col-lg-4 col-md-5 p-0 float-left"
              >
                <a
                  routerLink="/{{ readMore(highlightItem) }}"
                  fragment="{{ selectedTab }}"
                  class="spotlighttab-cnt-left-main"
                >
                  <figure>
                    <img
                      appYoutubeImage
                      srcset="{{highlightItem.media | defaultImage:550:309}} 550w, {{highlightItem.media | defaultImage:740:416}} 740w, {{highlightItem.media | defaultImage:380:214}} 380w, {{highlightItem.media | defaultImage:365:205}} 365w, {{highlightItem.media | defaultImage:516:290}} 516w,"
                      sizes="{{
                        '(max-width: 576px) 550px,
                                                    (max-width: 768px) 740px,
                                                    (max-width: 992px) 380px,
                                                    (max-width: 1200px) 365px,
                                                    516px'
                      }}"
                      width="516"
                      height="290"
                      data-src="{{
                        highlightItem.media | defaultImage: 516:290
                      }}"
                      alt="spotlight"
                      class="lazyload"
                    />
                  </figure>
                  <a class="buffalowings">
                    <div class="buffalowings-wrap-head">
                      <h3 class="text-uppercase">{{ tab }} SPOTLIGHT</h3>
                    </div>
                    <div class="buffalowings-wrap">
                      <p>
                        {{ highlightItem.title }}
                      </p>
                    </div>
                    <div class="buffalowings-bottom">
                      <a
                        *ngIf="publication.id == '1851'"
                        [routerLink]="
                          selectedTab === 'columns'
                            ? selectedTab
                            : selectedTab + '-spotlight'
                        "
                        class="float-right text-uppercase"
                      >
                        READ MORE
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                      <a
                        *ngIf="publication.id != '1851'"
                        [routerLink]="selectedTab"
                        class="float-right text-uppercase"
                      >
                        READ MORE
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                      <div class="clearfix"></div>
                    </div>
                  </a>
                </a>
              </div>
              <div
                class="spotlighttab-cnt-right col-lg-8 col-md-7 p-0 float-right"
              >
                <div
                  *ngIf="isBrowser"
                  malihu-scrollbar
                  [scrollbarOptions]="scrollbarOptions"
                  class="
                    banner-right-details
                    vertical_scroll vertical_scroll_spotlight
                  "
                >
                  <div class="d-flex">
                    <div class="people-spotlight-left col-lg-6 col-12">
                      <ul>
                        <li *ngFor="let item of items; let i = index">
                          <a
                            *ngIf="i % 2 == 0"
                            (click)="highlightItem = item"
                            routerLink="/{{ readMore(item) }}"
                            fragment="{{ selectedTab }}"
                            class="adweek d-flex"
                          >
                            <div class="adweek-left col-sm-7">
                              <figure>
                                <img
                                  appYoutubeImage
                                  srcset="{{item.media | defaultImage:550:308}} 550w, {{item.media | defaultImage:430:241}} 430w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:205:115}} 205w"
                                  sizes="{{
                                    '(max-width: 576px) 550px,
                                                                            (max-width: 768px) 430px,
                                                                            (max-width: 992px) 300px,
                                                                            (max-width: 1200px) 205px,
                                                                            300px'
                                  }}"
                                  width="300"
                                  height="168"
                                  data-src="{{
                                    item.media | defaultImage: 300:168
                                  }}"
                                  alt="img{{ i }}"
                                  class="lazyload"
                                />
                              </figure>
                            </div>
                            <div class="adweek-right col-sm-5">
                              <p style="-webkit-box-orient: vertical">
                                {{ item.title }}
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="people-spotlight-right col-lg-6 col-12">
                      <ul>
                        <li *ngFor="let item of items; let i = index">
                          <a
                            *ngIf="i % 2 != 0"
                            (click)="highlightItem = item"
                            routerLink="/{{ readMore(item) }}"
                            fragment="{{ selectedTab }}"
                            class="adweek d-flex"
                          >
                            <div class="adweek-left col-sm-7">
                              <figure>
                                <img
                                  appYoutubeImage
                                  srcset="{{item.media | defaultImage:550:308}} 550w, {{item.media | defaultImage:430:241}} 430w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:205:115}} 205w"
                                  sizes="{{
                                    '(max-width: 576px) 550px,
                                                                            (max-width: 768px) 430px,
                                                                            (max-width: 992px) 300px,
                                                                            (max-width: 1200px) 205px,
                                                                            300px'
                                  }}"
                                  width="300"
                                  height="168"
                                  data-src="{{
                                    item.media | defaultImage: 300:168
                                  }}"
                                  alt="img{{ i }}"
                                  class="lazyload"
                                />
                              </figure>
                            </div>
                            <div class="adweek-right col-sm-5">
                              <p style="-webkit-box-orient: vertical">
                                {{ item.title }}
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
