<div class="fran-block">
  <div class="container franchise-details">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="fran-top-block">
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>
                  <h4 class="text-uppercase">
                    {{ franchiseData?.data?.title }}
                  </h4>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <a
                routerLink="{{ goLegalPlayers(this.readMoreUrl) }}"
                class="read-more-btn"
                >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="fran-two-block">
          <div class="row gx-0">
            <div class="col-md-6">
              <div class="">
                <!-- fran-two-l-->
                <img
                  appYoutubeImage
                  sizes="{{
                    '(max-width: 576px) 550px,
                        (max-width: 768px) 740px,
                        (max-width: 992px) 960px,
                        (max-width: 1200px) 530px,
                        623px'
                  }}"
                  src="{{ highlightItem.media | defaultImage: 623:350 }}"
                  alt=""
                  class="img-fluid h-100"
                />
              </div>
            </div>
            <div class="col-md-6 p-0 legalplayers-right">
              <div class="legalplayers-right-main">
                <h2 class="text-white">{{ highlightItem.title }}</h2>
                <p class="text-white">
                  {{ highlightItem.short_description }}
                </p>
                <a class="text-white"
                  >READ MORE <i aria-hidden="true" class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <app-five-column
          [slug]="'1851'"
          [contents]="franchiseData?.data?.stories?.slice(1, 6)"
        ></app-five-column>
      </div>
    </div>
  </div>
</div>
