@import "../../../../assets/scss/mixins.scss";
@import "../../../../assets/scss/variables.scss";

.franchise {
  background: $color1;
}
.franchise-details {
  padding: 105px 96px 61px 96px;
  @include desk-lg-below1 {
    padding: 40px 0 30px 0;
  }
  @include tablet-portrait {
    padding: 30px 0 15px 0;
  }
  .frannews-top {
    padding: 0 0 13px 0;
  }
}
.frannews-top {
  border-bottom: 2px solid $color12;
  padding: 0 0 10px 0;
  @include desk-lg-below {
    padding: 0 0 10px 0;
  }
}
.frannews-top-left {
  ul {
    li {
      display: inline-block;
      float: left;
      padding: 0 31px 0 0;
      position: relative;
      @include tablet-landscape1 {
        padding: 0 20px 0 0;
      }
      @include mobile-landscape1 {
        display: block;
        float: none;
        padding: 0 0 5px 0;
      }
      &.frannews-subtitle {
        display: flex;
        font-size: 15px;
        line-height: 24px;
        color: #a6a8aa;
        font-family: "ProximaNova-Light";
        letter-spacing: 0.1px;
        font-weight: normal;
        h1 {
          margin-right: 7px;
          font-weight: bold;
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 16px;
        background: $color11;
        width: 2px;
        height: 15px;
        @include tablet-landscape1 {
          right: 10px;
        }
        @include mobile-landscape1 {
          display: none;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a,
      h1 {
        font-size: 16px;
        line-height: 24px;
        color: $color11;
        font-weight: normal;
        font-family: $font_family_1;
        letter-spacing: 0.1px;
      }
    }
  }
}
.frannews-top-right {
  padding: 7px 0 0 0;
  a {
    font-size: 11.67px;
    line-height: 13px;
    color: $color3;
    font-weight: normal;
    font-family: $font_family_2;
    @include tablet-landscape1 {
      float: none !important;
    }
    .fa {
      font-size: 14px;
      line-height: 10px;
      color: $color8;
      padding: 0 0 0 5px;
      vertical-align: top;
    }
  }
}

.legalplayers {
  padding: 59px 0 25px 0;
  @include desk-lg-below {
    padding: 20px 0 0 0;
  }
}
.legalplayers-left {
  max-width: 53.8%;
  flex: 0 0 53.8%;
  -webkit-flex: 0 0 53.8%;
  @include tablet-portrait {
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
  }
  figure {
    height: 100%;
    img {
      height: 100%;
      display: block;
      width: 100%;
    }
  }
}
.legalplayers-right {
  max-width: 46.2%;
  flex: 0 0 46.2%;
  -webkit-flex: 0 0 46.2%;
  background: $color3;
  @include desk-lg-below {
  }
  @include tablet-portrait {
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
  }
}
.legalplayers-right-main {
  padding: 56px 64px 33px 36px;
  @include desk-lg-below {
    padding: 30px 20px;
  }
  @include desk-lg-below2 {
    padding: 20px;
  }
  h1 {
    line-height: 41px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 123px;
    @include desk-lg-below2 {
      line-height: 36px;
    }
    @include tablet-portrait {
      line-height: 32px;
    }
    @include tablet-landscape1 {
      line-height: 29px;
    }
    @include mobile-landscape1 {
      line-height: 27px;
    }
  }
  p {
    font-size: 22px;
    line-height: 26px;
    padding: 15px 0 27px 0;
    letter-spacing: -0.4px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    max-height: 146px;
    @include desk-lg-below2 {
      padding: 12px 0 20px 0;
    }
    @include tablet-landscape1 {
      font-size: 20px;
      line-height: 24px;
    }
    @include mobile-landscape1 {
      font-size: 17px;
      line-height: 23px;
      padding: 10px 0 15px 0;
    }
  }
  a {
    font-size: 11.67px;
    line-height: 13px;
    color: $color1;
    font-weight: normal;
    font-family: $font_family_2;
    .fa {
      font-size: 10px;
      line-height: 12px;
      color: $color4;
    }
  }
}
