<div [ngClass]="commonService.trendingClass"></div>
<div class="coverDetail sidebar-blur" *ngIf="isLoaded">
  <section class="c-card-box--section" *ngIf="banner?.data">
    <div class="c-card-box--wrapper">
      <div class="container-fluid">
        <div
          class="
            row row-cols-1 row-cols-sm-1 row-cols-md-2
            bg-white
            flex-row-reverse
          "
        >
          <div class="coverContent py-4">
            <h4 class="articleTitles">{{ title }}</h4>
            <h1 class="large-main-article">Back to Business</h1>
            <p class="content mb-0">
              {{ banner?.data[0]?.title }}
            </p>
            <a
              routerLink="/{{ commonService.readMore(banner.data[0]) }}"
              fragment="monthlydetailspage"
              class="seeMore primary-color text-uppercase"
              >Read more <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="c-card-box--row">
          <div class="c-card-box--col c-card-main-imagebox--wrapper">
            <div class="c-card-box--imageWrapper isMainCardBox">
              <a
                routerLink="/{{ commonService.readMore(banner.data[0]) }}"
                class="maincardbox-link--wrapper"
              >
                <img
                  appYoutubeImage
                  data-src="{{ banner?.cover | defaultImage: 502:650 }}"
                  width="502px"
                  height="650px"
                  alt="monthly-details-main"
                  class="card-image lazyload "
                  loading="lazy"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Bottom Section-->

  <div class="ArticlesNewsSection">
    <div class="container customContainer py-md-2">
      <h4 class="sectionTitle">
        {{ title }}
      </h4>
    </div>
    <hr />
    <div class="container customContainer py-md-2">
      <app-home-article
        [typeSlug]="'monthlydetailspage'"
        [contents]="details"
        [class]="'row-cols-md-2 row-cols-lg-4 monthlyDetail'"
      ></app-home-article>
    </div>
    <div class="nextBtn d-flex py-5 justify-content-center align-items-center" *ngIf="hasMore">
      <div class="col-lg-5 col-sm-4 col-4 seeMoreLine"></div>
      <div
        class="
          col-lg-2 col-sm-4 col-4
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <a (click)="getMoreData()" class="pe-3">
          <i
            class="
              fa fa-caret-down
              rounded-circle
              d-flex
              justify-content-center
              align-items-center
              primary-bg
            "
            aria-hidden="true"
          ></i
        ></a>
        <span class="seeMore"><a (click)="getMoreData()">See More</a></span>
      </div>
      <div class="col-lg-5 col-sm-4 col-4 seeMoreLine"></div>
    </div>
  </div>
</div>
