.subscribe h6 a {
  color: $customize_color1;
}

.banner-right {
  background: $customize_color2;
}

.header-left .fa {
  color: $customize_color1;
}

.fa.fa-angle-down {
  color: $customize_color1;
}

.frannews-top-right a .fa {
  color: $customize_color1;
}

.buffalowings {
  background: $customize_color1;
}

.buffalowings-bottom {
  background: $customize_color3;
}

.frannews-top-left h4 {
  color: $customize_color1;
}

.trending {
  background: $customize_color2;
}

.trending-details .frannews-top {
  border-bottom-color: $customize_color1;
}

.spotlight-profile {
  background: $customize_color1;
}

.spotlighttab-main {
  background: $customize_color2;
}

.buffalowings-wrap-head {
  background: $customize_color3;
}

.legalplayers-right {
  background: $customize_color2;
}

.learnmore span {
  background: $customize_color2;
}

.footer-bottom button {
  background: $customize_color1;
}

.week-videos-head {
  background: $customize_color1;
}

.more-videos {
  background: $customize_color3;
}

.main-videos .buffalowings-wrap {
  background: $customize_color1;
}

.main-videos .buffalowings-bottom {
  background: $customize_color3;
}

.advertisement-details {
  border-top: 1px solid #73318e;
  border-bottom: 1px solid #73318e;
}

.footer-middle-in {
  border-left-color: $customize_color1;
  border-right-color: $customize_color1;
}

.footer-right a {
  color: $customize_color1;
}

.menu-search button .fa {
  color: $customize_color1;
}

.monthly-covers ul li {
  border-bottom-color: $customize_color1;
}

.more:hover {
  color: $customize_color1;
}

.banner-right-info {
  background: $customize_color2;
}

.info_btn a {
  background: #263645;
}

.buffalo_rings {
  background: $customize_color3;
}

.buffalo_rings a {
  color: #ffffff;
}

.main_content_tab ul.resp-tabs-list li a:hover {
  background: #263645;
}

.main_content_tab ul.resp-tabs-list li.resp-tab-active {
  background: #263645 !important;
}

.main_content_tab ul.resp-tabs-list {
  background: $customize_color2;
}

.make_it {
  background: $customize_color3;
}

.more_brand h5 {
  border-bottom-color: $customize_color4;
}

.multi_conference-left h3 {
  border-bottom-color: $customize_color4;
}

.more_brand form input[type="submit"] {
  background: $customize_color3;
  border-color: $customize_color3;
}

.partner_right_data h4 {
  background: $customize_color1;
}

.partner_right_data form .submit_btn {
  background: $customize_color2;
}

.partner_right_data form .submit_btn .fa {
  background: $customize_color1;
}

.search_pop_up button.close {
  color: $customize_color1;
}

.search_pop_up .sponsored-modal-content h2 {
  color: $customize_color1;
}

.error-banner-details h2 {
  color: $customize_color1;
}

.back {
  background: $customize_color2;
}

.back span {
  background: $customize_color1;
}

.banner_search .search_form form button {
  background: $customize_color2;
  border-color: $customize_color2;
}

.subscribepage-wrap .form-control {
  border-color: $customize_color1;
}

.search_pop_up form button {
  background: $customize_color2;
  border-color: $customize_color2;
}

.sponsered_content_middle .brian_jaeger_main .brian_content h5 a {
  color: $customize_color1;
}

.sponsered_content_middle .brian_jaeger_data em small {
  color: $customize_color1;
}

.highlited-txt {
  color: $customize_color5;
}

.brand-frannews1 h4 span {
  color: $customize_color2;
}
.menu-open .menu-details {
  left: 0 !important;
}
.menu-details {
  &.show {
    left: 0;
    display: block;
  }
}
.specific_search {
  .search_form {
    margin-top: 15px;
  }
}
.contact-editorial-main {
  display: none;
}

.signmeup {
  display: none;
}
.nextBtn {
  width: 100%;
  text-align: right;
  background: #37718e;
  border: 1px solid #37718e;
  display: block;
  border-radius: 0;
  height: 35px;
  font-size: 14px;
  line-height: 25px;
  font-family: ProximaNova-Regular;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  outline: 0;
  padding: 0 9px 0 0;
  margin-top: 10px;
}
.nextBtn:hover {
  color: #fff;
}
