<div class="empty"></div>
<app-two-side-banner
  [banner]="firstBlock[0]"
  [type]="'trendingbrandbuzz'"
></app-two-side-banner>

<div class="frannews">
  <div class="container">
    <div class="frannews-details col-xl-11">
      <h6 class="text-uppercase">SPONSORED</h6>
      <app-five-column
        [slug]="'1851'"
        [contents]="firstBlock"
        [type]="'trendingbrandbuzz'"
        [typeSlug]="'trendingbrandbuzz'"
      >
      </app-five-column>
    </div>
  </div>
</div>

<app-advertisement [slug]="'1851'" [type]="'Main Site Ad'"> </app-advertisement>

<div class="container buzz-news">
  <div class="frannews-details col-xl-11">
    <app-five-column
      [slug]="'1851'"
      [contents]="secondBlock"
      [type]="'trendingbrandbuzz-bottom'"
      [hasMore]="hasMore"
      (more)="getMoreData()"
      [typeSlug]="'trendingbrandbuzz'"
    >
    </app-five-column>
  </div>
</div>
<app-footer-top></app-footer-top>
