<div class="sidebar-blur" *ngIf="isLoaded">
  <div
    class="
      banner
      d-flex
      trendingbrandbuzz-banner
      flex-row-reverse
      monthlydetails-banner
    "
    *ngIf="banner"
  >
    <div class="banner-right col-md-8 p-0" *ngIf="banner.media">
      <a class="d-block" href="" onclick="return false;">
        <figure>
          <img
            appYoutubeImage
            data-src="{{ banner.media | defaultImage: 1023:576 }}"
            width="1023"
            height="576"
            class="lazyload"
            alt="monthly-details-banner"
          />
        </figure>
      </a>
    </div>
    <a
      class="banner-left col-md-4 p-0"
      routerLink="/{{ commonService.readMore(banner) }}"
      fragment="trendingbrandbuzz"
    >
      <div class="trendingbrandbuzz-content">
        <h4 class="text-center d-inline-block">TRENDING BRAND BUZZ</h4>
        <h1>
          {{ banner?.title }}
        </h1>
        <p>
          {{ banner?.short_description }}
        </p>
      </div>
      <a class="seeMore position-absolute text-end">
        READ MORE
        <i
          class="fa fa-angle-right fw-bold"
          aria-hidden="true"
          *ngIf="banner?.title"
        ></i>
      </a>
    </a>
  </div>

  <div class="container customContainer pt-md-5 py-5 trending-bottom">
    <h6>SPONSORED</h6>
    <div class="row mt-2">
      <app-home-article
        [type] ="'trendingbrandbuzz'"
        [typeSlug]="'trendingbrandbuzz'"
        [contents]="trendingData"
        [class]="'row-cols-lg-5 trending gx-3'"
      ></app-home-article>
    </div>
  </div>

  <div class="d-flex">
    <div class="seeMoreLine mt-3"></div>
    <div class="nextLine position-relative pb-5">
      <div class="container customContainer">
        <div class="row d-flex align-items-center">
          <div
            class="
              d-flex
              justify-content-center
              align-items-center
              seeMore
              mt-0
            "
          >
            <div class="nextBtn px-1">
              <img
                data-src="{{ s3Url }}nextIcon.svg"
                width="32"
                alt="next articles"
                class="me-3 lazyload"
                (click)="getMoreData()"
                loading="lazy"
              />
              <span class="seeMore" (click)="getMoreData()">SEE MORE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seeMoreLine mt-3"></div>
  </div>
</div>
