
<div class="border-bg py-2">
  <div class="container customContainer">
    <div class="row">
      <div class="col-2">
        <img class="img-fluid"
        src ="{{ logo?.url }}"
        width="195px"
        height="195px"
        loading="lazy"
        alt="logo"/>
      </div>
      <div class="col-10 py-4">
        <form
        [formGroup]="searchForm"
        (ngSubmit)="onSearchBannerSubmit(searchForm)"
        >
          <div class="form-group d-block">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [formControl]="searchForm.controls['searchInput']"
            />
            <button
              type="button"
              class="d-block text-center"
              (click)="onSearchBannerSubmit(searchForm)"
            >
            <fa-icon [icon]="faSearch" class="searchIcon"></fa-icon>
            </button>
          </div>
        </form>
        <div class="py-3">
          <h6
            *ngIf="
              brand_id !== '1851' &&
              brand_id !== 'ee' &&
              brand_id !== 'room-1903'
            "
          >
            SHOWING SEARCH RESULTS FOR: <span>{{ showSearchKey }}</span>
          </h6>
          <h6  *ngIf="
          brand_id === '1851' ||
          brand_id === 'ee' ||
          brand_id === 'room-1903'
        ">VIEW SEARCH RESULTS</h6>
          <div class="sort_main d-flex">
            <h6 class="primary-color">SORT BY:</h6>
            <ul class="d-flex text-center justify-content-center">
              <li *ngFor="let duration of published_duration; let i = index" class="px-2 time-filter">
                <a (click)="set_duration(i)">
                  <span
                    [style.font-weight]="
                      published_value === i ? 'bold' : 'normal'
                    "
                    >{{ duration.title }}</span
                  >
                </a>
              </li>
              <li class="px-2">
                <a (click)="set_range()">
                  <span
                    [style.font-weight]="isSpecificDate ? 'bold' : 'normal'"
                    >{{ published_range }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <div class="sort_main check_boxes_data d-flex">
            <h6 class="primary-color">FILTER BY:</h6>
            <ul class="d-flex checkboxes text-center justify-content-center">
              <li class="px-2">
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_author"
                    (change)="onChangeFilter('author')"
                  />
                  <span class="px-1">BY AUTHOR</span>
                </label>
              </li>
              <li class="px-2">
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_title"
                    (change)="onChangeFilter('title')"
                  />
                  <span class="px-1">BY TITLE</span>
                </label>
              </li>
              <li class="px-2">
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_desc"
                    (change)="onChangeFilter('desc')"
                  />
                  <span class="px-1">BY DESCRIPTION</span>
                </label>
              </li>
              <li class="px-2">
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_keywords"
                    (change)="onChangeFilter('keyword')"
                  />
                  <span class="px-1">BY KEYWORDS</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="search-no-result" *ngIf="!recentPeoples.length">
          <p>No articles found for selected search criteria</p>
        </div>
        <div *ngIf="isSpecificDate" class="position-relative banner ">
          <div class="search_form col-lg-6">
            <form
              [formGroup]="specificSearchForm"
              (ngSubmit)="onSearchSubmit(specificSearchForm)"
            >
              <div class="form-group d-block">
                <input
                  type="text"
                  ngxDaterangepickerMd
                  class="form-control"
                  [(ngModel)]="dateSelected"
                  [showCustomRangeLabel]="true"
                  [alwaysShowCalendars]="true"
                  [ranges]="ranges"
                  [linkedCalendars]="true"
                  [showClearButton]="true"
                  [formControl]="specificSearchForm.controls['search_input']"
                  placeholder="Select please.../"
                  readonly
                />
                <button
                  type="button"
                  class="d-block text-center button"
                  (click)="onSearchSubmit(specificSearchForm)"
                >
                <fa-icon [icon]="faSearch" class="searchFav"></fa-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="gray-bg">
  <div class="row">
    <div class="col-8 py-3 px-5 card-section">
      <div class="container customContainer row">
        <div class="row">
          <div
            class="col-sm-6 col-md-4 mb-2 card-group"
            *ngFor="let item of recentPeoples | slice: 0:6; index as i"
          >
            <div class="items card border-0 rounded-0 mt-4">
              <a href="{{ commonService.readMore(item) }}">
                <img
                  appYoutubeImage
                  width="257"
                  height="138"
                  [src]="item.media | defaultImage: 257:138"
                  alt="article"
                  class="card-img-top"
                />
              </a>
              <div class="card-body">
                <h6 class="card-title fw-bold m-0">
                  <a
                    href="{{ commonService.readMore(item) }}"
                    class="text-black text-uppercase text-truncate"
                    >{{ item.title }}</a
                  >
                </h6>
                <span class=""
                  ><a href="#">By {{ item.author.name }}</a></span
                >
                <p class="card-text mb-1">
                  <a
                    href="{{ commonService.readMore(item) }}"
                    class="text-black"
                    >{{ item.short_description }}</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 bg-white py-4 card-section px-4">
      <h5 class="brand-news">BRAND NEWS</h5>
      <div
          class="col-sm-12 col-md-7 mb-2 card-group mx-4"
          *ngFor="let item of brandPeoples; index as i"
        >
          <div class="items card border-0 rounded-0 my-2">
            <a href="{{ commonService.readMore(item) }}">
              <img
                appYoutubeImage
                width="257"
                height="138"
                [src]="item.media | defaultImage: 407:138"
                alt="article"
                class="card-img-top"
              />
            </a>
            <div class="card-body">
              <h6 class="card-title fw-bold m-0">
                <a
                  href="{{ commonService.readMore(item) }}"
                  class="text-black text-uppercase text-truncate"
                  >{{ item.title }}</a
                >
              </h6>
              <span class=""
                ><a href="#">By {{ item.author.name }}</a></span
              >
              <p class="card-text mb-1">
                <a
                  href="{{ commonService.readMore(item) }}"
                  class="text-black"
                  >{{ item.short_description }}</a
                >
              </p>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="border-bg">
  <div class="row">
    <div class="col-8">
      <div class="d-flex ">
        <div class="see-more--wrapper"></div>
        <div class="nextLine position-relative mb-5 mt-2">
          <div class="container customContainer">
            <div class="row d-flex align-items-center">
              <div class="d-flex justify-content-center align-items-center">
                <div class="nextBtn px-1">
                  <img
                    src="assets/img/nextIcon.svg"
                    width="32"
                    alt="next articles"
                    class="me-3"
                    loading="lazy"
                    (click)="getMoreItems()"
                  />
                  <span class="seem-more-text-wrapper" (click)="getMoreItems()"
                    >SEE MORE</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="see-more-right--wrapper"></div>
      </div>
    </div>
    <div class="col-4 bg-white"></div>
  </div>
</div>
