<div class="search-page sidebar-blur">
  <div class="container customContainer">
    <div class="row topblock">
      <div class="col-2">
        <img
          class="img-fluid lazyload"
          data-src="{{s3Url}}logo1.png"
          width="195px"
          height="195px"
          loading="lazy"
          alt="logo"
        />
      </div>
      <div class="col-10 py-4">
        <form
          [formGroup]="searchForm"
          (ngSubmit)="onSearchBannerSubmit(searchForm)"
        >
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" [formControl]="searchForm.controls['searchInput']">
            <span class="input-group-text" (click)="onSearchBannerSubmit(searchForm)"> 
              <img _ngcontent-serverapp-c47="" height="18" width="18" alt="search" class=" ls-is-cached lazyloaded" src="https://dmprqkmvewks9.cloudfront.net/search_white.png">
            </span>
          </div>
        </form>
        <div class="py-3 filter-section">
          <h6
           class="sectionTitle"
            *ngIf="
              brand_id !== '1851' &&
              brand_id !== 'ee' &&
              brand_id !== 'room-1903'
            "
          >
            Showing Search Results For: <span>{{ showSearchKey }}</span>
          </h6>
          <h6
            class="sectionTitle"
            *ngIf="
              brand_id === '1851' ||
              brand_id === 'ee' ||
              brand_id === 'room-1903'
            "
          >
            View Search Filters
          </h6>
          <div class="sort_main">
            <h6 class="primary-color">SORT BY:</h6>
            <ul class="d-flex text-center justify-content-center">
              <li
                *ngFor="let duration of published_duration; let i = index"
                class="px-3 time-filter"
              >
                <a (click)="set_duration(i)">
                  <span
                    [style.font-weight]="
                      published_value === i ? 'bold' : 'normal'
                    "
                    >{{ duration.title }}</span
                  >
                </a>
              </li>
              <li class="px-3">
                <a (click)="set_range()">
                  <span
                    [style.font-weight]="isSpecificDate ? 'bold' : 'normal'"
                    >{{ published_range }}</span
                  >
                </a>
              </li>
            </ul>
          </div>

          <div class="sort_main">
            <h6 class="primary-color">FILTER BY:</h6>
            <ul class="d-flex text-center justify-content-center">
              <li class="form-check px-3">
                <input class="form-check-input" type="checkbox" [checked]="by_author" (change)="onChangeFilter('author')" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  BY AUTHOR
                </label>
              </li>
              <li class="form-check px-3">
                <input class="form-check-input" [checked]="by_title" type="checkbox"  (change)="onChangeFilter('title')" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  BY TITLE
                </label>
              </li>
              <li class="form-check px-3">
                <input class="form-check-input" type="checkbox" [checked]="by_desc" (change)="onChangeFilter('desc')" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  BY DESCRIPTION
                </label>
              </li>
              <li class="form-check px-3">
                <input class="form-check-input" type="checkbox" [checked]="by_keywords" (change)="onChangeFilter('keyword')" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  BY KEYWORDS
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="search-no-result" *ngIf="!recentPeoples.length">
          <p>No articles found for selected search criteria</p>
        </div>
        <div *ngIf="isSpecificDate" class="position-relative banner">
          <div class="search_form col-lg-6">
            <form
              [formGroup]="specificSearchForm"
              (ngSubmit)="onSearchSubmit(specificSearchForm)"
            >
              <div class="input-group  mb-3">
                <input
                  type="text"
                  ngxDaterangepickerMd
                  class="form-control"
                  [(ngModel)]="dateSelected"
                  [showCustomRangeLabel]="true"
                  [alwaysShowCalendars]="true"
                  [ranges]="ranges"
                  [linkedCalendars]="true"
                  [showClearButton]="true"
                  [formControl]="specificSearchForm.controls['search_input']"
                  placeholder="Select please.../"
                  readonly
                />
                <span
                  class="input-group-text"
                  (click)="onSearchSubmit(specificSearchForm)"
                >
                <img _ngcontent-serverapp-c47="" height="18" width="18" alt="search" class=" ls-is-cached lazyloaded" src="https://dmprqkmvewks9.cloudfront.net/search_white.png">
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="sidebar-blur bottomSection"
  [ngClass]="!recentPeoples.length ? 'd-none' : ''"
>
  <div class="container customContainer position-relative">
    <div class="row">
      <div
        class="col-md-9 col-sm-12 leftSide"
        [ngClass]="
          brand_id === '1851' || brand_id === 'room-1903' || brand_id === 'ee'
            ? ''
            : 'brandSearch'
        "
      >
      <app-article [typeSlug]="'franbuzz'" [contents]="recentPeoples" [class]="'row-cols-lg-3'"></app-article>
        <div class="row seeMoreIcon mt-4 desktop-only">
            <div
              class="col d-flex align-items-center justify-content-center py-1"
            >
                  <img
                    data-src="{{s3Url}}nextIcon.svg"
                    width="32"
                    alt="next articles"
                    class="me-3 lazyload"
                    (click)="getMoreItems()"
                  />
                      <span class="seeMore " (click)="getMoreItems()"
                        >See More</span
                      >
                </div>
      </div>
      </div>
      <div
        class="col-sm-12 col-md-3 rightSide brand-news"
        *ngIf="
          brand_id === '1851' || brand_id === 'ee' || brand_id === 'room-1903'
        "
      >
        <h5 class="mt-3 sectionTitle ">BRAND NEWS</h5>
        <hr />
        <app-article [typeSlug]="'franbuzz'" [contents]="brandPeoples" [class]="'row-cols-lg-1'"></app-article>
      </div>
</div>
</div>

