<div class="top-space"></div>
<app-banner-search
  [searchInput]="search_input"
  (onSearch)="updateSearchInput($event)"
></app-banner-search>
<div class="main-content search-page">
  <div class="search_keyword category-frannews d-flex justify-content-center">
    <div class="category-container row">
      <div class="container col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <div class="search_keyword_main">
          <h5 class="text-center" *ngIf="brand_id !== '1851'">SHOWING SEARCH RESULTS FOR: <span>{{showSearchKey}}</span></h5>
          <h5 class="text-center" *ngIf="brand_id === '1851'">
            VIEW SEARCH FILTERS
            <a
              *ngIf="!hiddenSearchBar"
              href="javascript:void(0)"
              id="loadMore"
              class="text-center loadmore-btn d-block"
              (click)="hideSearchBar('hidden')"
            >
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <a
              *ngIf="hiddenSearchBar"
              href="javascript:void(0)"
              id="loadMore"
              class="text-center loadmore-btn d-block"
              (click)="hideSearchBar('show')"
            >
              <i class="fa fa-angle-up" aria-hidden="true"></i>
            </a>
          </h5>

          <div *ngIf="brand_id !== '1851'"> 
            <div class="sort_main d-flex col-xl-8">
          <h6>SORT BY:</h6>
                    <ul class="d-flex text-center justify-content-center">
                        <li *ngFor="let duration of published_duration; let i = index">
                            <a (click)="set_duration(i)">
                                <span [style.font-weight]="published_value === i ? 'bold' : 'normal'">{{duration.title}}</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="set_range()">
                                <span [style.font-weight]="isSpecificDate ? 'bold' : 'normal'">{{published_range}}</span>
                            </a>
                        </li>
                    </ul>
                </div>                
                <div class="sort_main check_boxes_data d-flex">
                    <h6>FILTER BY:</h6>
                    <ul class="d-flex checkboxes text-center justify-content-center">
                        <li>
                            <label>
                                <input
                                    type="checkbox"
                                    [checked]="by_author"
                                    (change)="onChangeFilter('author')"/>
                                <span>BY AUTHOR</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input
                                    type="checkbox"
                                    [checked]="by_title"
                                    (change)="onChangeFilter('title')"/>
                                <span>BY TITLE</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input
                                    type="checkbox"
                                    [checked]="by_desc"
                                    (change)="onChangeFilter('desc')"/>
                                <span>BY DESCRIPTION</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input
                                    type="checkbox"
                                    [checked]="by_keywords"
                                    (change)="onChangeFilter('keyword')"/>
                                <span>BY KEYWORDS</span>
                            </label>
                        </li>
                    </ul>
                </div>
              </div>

          <div *ngIf="hiddenSearchBar && brand_id === '1851'" class="sort_main d-flex">
            <h6>SORT BY:</h6>
            <ul class="d-flex text-center justify-content-center">
              <li *ngFor="let duration of published_duration; let i = index">
                <a (click)="set_duration(i)">
                  <span
                    [style.font-weight]="
                      published_value === i ? 'bold' : 'normal'
                    "
                    >{{ duration["title"] }}</span
                  >
                </a>
              </li>
              <li>
                <a (click)="set_range()">
                  <span
                    [style.font-weight]="isSpecificDate ? 'bold' : 'normal'"
                    >{{ published_range }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <div
            *ngIf="hiddenSearchBar"
            class="sort_main check_boxes_data d-flex"
          >
            <h6>FILTER BY:</h6>
            <ul class="d-flex checkboxes text-center justify-content-center">
              <li>
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_author"
                    (change)="onChangeFilter('author')"
                  />
                  <span>BY AUTHOR</span>
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_title"
                    (change)="onChangeFilter('title')"
                  />
                  <span>BY TITLE</span>
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_desc"
                    (change)="onChangeFilter('desc')"
                  />
                  <span>BY DESCRIPTION</span>
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    [checked]="by_keywords"
                    (change)="onChangeFilter('keyword')"
                  />
                  <span>BY KEYWORDS</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="search-no-result" *ngIf="!recentPeoples.length">
          <p>No articles found for selected search criteria</p>
        </div>
        <div *ngIf="recentPeoples.length">
          <div class="frannews">
            <div class="container">
              <div class="frannews-details col-xl-11">
                <div class="frannews-bottom">
                  <div *ngIf="isBrowser" class="">
                    <ul>
                      <li *ngFor="let row of recentPeoples | splitArray: 4">
                        <div class="category-list" *ngFor="let item of row">
                          <a
                            href="{{ goReadMore(item) }}"
                            class="frannews-bottom-details"
                            style="text-decoration: none"
                            *ngIf="item"
                          >
                            <figure>
                              <img
                                appYoutubeImage
                                class="height-auto"
                                srcset="{{item.media | defaultImage:545:305}} 545w, {{item.media | defaultImage:355:199}} 355w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:210:118}} 210w"
                                sizes="{{
                                  '(max-width: 576px) 545px, (max-width: 768px) 355px, (max-width: 992px) 300px, 210px'
                                }}"
                                src="{{ item.media | defaultImage: 210:118 }}"
                                alt="img5"
                              />
                            </figure>
                            <div class="socialmedia">
                              <p
                                title="{{ item.title }}"
                                style="-webkit-box-orient: vertical"
                              >
                                {{ item.title }}
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-3 col-lg-3 col-xl-3 search-page-right-rail"
        *ngIf="brand_id === '1851'"
      >
        <h5 class="text-center">BRAND STORIES</h5>
        <div *ngIf="brandPeoples.length" class="search-page-brand-list row">
          <div
            class="search-page-brand col-12"
            *ngFor="let item of brandPeoples"
          >
            <p class="search-page-brand-title" *ngIf="brand_id == '1851'">
              {{ brand_id }}
            </p>
            <p class="search-page-brand-title" *ngIf="brand_id != '1851'">
              {{ brand_id == "ee" ? "Estatenvy" : "Room1903" }}
            </p>
            <a
              href="{{ goReadMoreBrand(item) }}"
              class="frannews-bottom-details"
              style="text-decoration: none"
              *ngIf="item"
            >
              <figure>
                <img
                  appYoutubeImage
                  class="height-auto"
                  srcset="{{item.media | defaultImage:545:305}} 545w, {{item.media | defaultImage:355:199}} 355w, {{item.media | defaultImage:300:168}} 300w, {{item.media | defaultImage:210:118}} 210w"
                  sizes="{{
                    '(max-width: 576px) 545px, (max-width: 768px) 355px, (max-width: 992px) 300px, 210px'
                  }}"
                  src="{{ item.media | defaultImage: 210:118 }}"
                  alt="img5"
                />
              </figure>
              <div class="socialmedia">
                <p
                  title="{{ item.title }}"
                  style="-webkit-box-orient: vertical"
                >
                  {{ item.title }}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <a
          *ngIf="has_more"
          href="javascript:void(0)"
          id="loadMore"
          class="text-center loadmore-btn d-block"
        >
          <i
            class="fa fa-angle-down"
            (click)="getMoreItems()"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="isSpecificDate" class="banner specific_search">
    <div class="search_form col-lg-6">
      <form
        [formGroup]="specificSearchForm"
        (ngSubmit)="onSearchSubmit(specificSearchForm)"
      >
        <div class="form-group d-block">
          <input
            type="text"
            ngxDaterangepickerMd
            class="form-control"
            [(ngModel)]="dateSelected"
            [showCustomRangeLabel]="true"
            [alwaysShowCalendars]="true"
            [ranges]="ranges"
            [linkedCalendars]="true"
            [showClearButton]="true"
            [formControl]="specificSearchForm.controls['search_input']"
            placeholder="Select please.../"
            readonly
          />
          <button
            type="button"
            class="d-block text-center button"
            (click)="onSearchSubmit(specificSearchForm)"
          >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
