@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.featured{
  img {
    @include tablet-landscape {
      height: auto;    
    }
    height: 119px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
  }
    .sectionTitle{
        color: $dark_gray;
    }
    .seeMore{
        color: $red;
        position: absolute;
        z-index: 1;
        word-break: break-word;
      &.brandName{
        margin-top: -25px;
  }
       
        @include tablet-landscape {
          font-size: 10px !important;   
        }
        @include mobile-landscape {
          font-size: 12px !important;  
        }
    }
    .subTitle {
        color: $dark_gray_5;
        font-family: $roboto;
        font-weight: 700;
        font-size: 15px;
        line-height: 17.58px;
        text-transform: none;
        &::before {
          content: "|";
          padding-left: 15px;
          padding-right: 15px;
          display: inline-block;
          @include mobile-landscape
           {
           padding-right: 80px;
           }
        }
    }
    .featuredCarousel {
        @include mobile-portrait {
          padding: 0 10px;
        }
      }
    .seeAll{
      @include mobile-landscape {
        align-items: unset !important;
        padding-top: 26px;
      }
    }
}
:host ::ng-deep {
    .owl-carousel {
      .owl-item {
        padding: 0 5px;
        img {
          display: unset;
          margin-top: 30px;
          // @include tablet-landscape {
          //   margin:unset;
          // }
          // @include mobile-landscape {
          //   margin:unset;
          // }
        }
      }
  
      .owl-nav {
        div {
          background-color: transparent;
          position: absolute;
          top: 30%;
          transform: translateY(-30%);
          background-repeat: no-repeat;
          cursor: pointer;
          color: $dark_gray;
          font-size: 45px !important;
          &.owl-prev {
            left: -4%;
            @include mobile-portrait1{
              left: -15% !important;
            }
            @include mobile-landscape{
              left: -10%;
            }
            @include mobile-landscape3{
              left: -7%;
            }
  
            &:hover {
              background-color: transparent;
              color: $dark_gray;
            }
          }
          &.owl-next {
            right: -4%;
            @include mobile-portrait1{
              right: -15% !important;
            }
            @include mobile-landscape{
              right: -10%;
            }
            @include mobile-landscape3{
              right: -7%;
            }
  
            &:hover {
              background-color: transparent;
              color: $dark_gray;
            }
          }
        }
      }
    }
  }