<div class="featured sidebar-blur pb-4" *ngIf="isLoaded && brandNews">
    <div class="container customContainer">
      <div class="d-flex">
        <div class="col-lg-11 col-md-10 col-sm-8">
          <h2 class="sectionTitle py-4 m-0">
            Featured Brand Stories
            <span class="subTitle py-3"> Sponsored Articles </span>
          </h2>
        </div>
          <div class="col-lg-1 col-md-2 col-sm-4 py-4 m-0">
          <span class="text-end seeMore">
              See More <i class="fa fa-angle-right fw-bold" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <hr />
  
    <div class="container customContainer py-2 px-4">
      <div class="row gx-2 d-flex">
        <owl-carousel-o
          [options]="customOptions"
          class="position-relative featuredCarousel"
        >
          <ng-template
            carouselSlide
            *ngFor="let item of brandNews | slice: 0:10; index as i"
          >
            <div class="col-sm-12 col">
             <h3 class="seeMore">{{ item.brand.name}} </h3>
              <a routerLink="/{{ item?.url }}">
                <img
                  appYoutubeImage
                  data-src="{{ item.media | defaultImage: 209:118 }}"
                  srcset="{{item.media | defaultImage:545:305}} 545w,
                    {{item.media | defaultImage:355:199}} 355w, 
                    {{item.media | defaultImage:209:118}} 209w"
                  sizes="{{
                    '(max-width: 576px) 545px,
                      (max-width: 768px) 355px,
                      (max-width: 992px) 300px,
                      209px'
                  }}"
                  class="img-fluid lazyload d-inline"
                  width="209"
                  height="118"
                  alt="featured"
                  loading="lazy"
                />
              </a>
              <h3 class="articleTitles align-items-center m-0 pt-2">
                {{ item.title }}
              </h3>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  