<div *ngIf="data" class="banner d-flex flex-row-reverse">
  <div class="banner-left-info banner-left_about col-sm-9 col-12 p-0">
    <a
      href="javascript:void(0)"
      class="d-block video-btn"
      data-toggle="modal"
      *ngIf="data?.media"
      attr.data-src="{{ data.media.url }}"
      data-target="#banner_video_modal"
      (click)="showVideo = true"
    >
      <figure>
        <img
          appYoutubeImage
          src="{{ data?.media | defaultImage: 1300:730 }}"
          width="1023"
          height="575"
          alt="img2"
          (load)="imageLoaded()"
        />
      </figure>
    </a>
    <div
      class="modal fade"
      id="banner_video_modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      (click)="onModalHide()"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="showVideo = false"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="embed-responsive embed-responsive-16by9">
              <!-- <app-video-player
                *ngIf="showVideo"
                class="embed-responsive-item"
                [srcUrl]="info['media']['url']"
              >
              </app-video-player> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="showRtPanel"
    class="banner-right-info banner-right_about col-sm-3 col-12 p-0"
  >
    <div class="buffalo_wings">
      <div class="info_btn text-center">
        <a href="JavaScript:Void(0);" class="text-center"> ABOUT 1851 </a>
        <h1 class="text-left">{{ data.title }}</h1>
        <em class="text-left d-block">{{ data.description }}</em>
      </div>
    </div>
  </div>
</div>
