<!-- -->
<div class="five-col-art-block">
  <div class="fran-block bg-dark-color">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-md-9">
                    <ul>
                      <li>
                        <h4>COLUMNS</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>


            </div>
            <div class="fran-slider-block">
              <div class="items">
                  <div>
                    <img src="../assets/img/col-1.jpg" />
                    <h5>Recruiting Strategies: How To Find Better Talent</h5>
                    <p>
                      The best employees for your organization are out there. You just have to know where to look.
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>
                  <div>
                    <img src="../assets/img/col-2.jpg" />
                    <h5>Recruiting Strategies: How To Find Better Talent</h5>
                    <p>
                      The best employees for your organization are out there. You just have to know where to look.
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>
                  <div>
                    <img src="../assets/img/col-3.jpg" />
                    <h5>Recruiting Strategies: How To Find Better Talent</h5>
                    <p>
                      The best employees for your organization are out there. You just have to know where to look.
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>
                  <div>
                    <img src="../assets/img/col-4.jpg" />
                    <h5>Recruiting Strategies: How To Find Better Talent</h5>
                    <p>
                      The best employees for your organization are out there. You just have to know where to look.
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>
                  <div>
                    <img src="../assets/img/col-5.jpg" />
                    <h5>Recruiting Strategies: How To Find Better Talent</h5>
                    <p>
                      The best employees for your organization are out there. You just have to know where to look.
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>

              </div>
              </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
              <div class="fran-top-block">
                <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li>
                          <h4>1851 VIDEOS</h4>
                          </li>
                        </ul>
                      </div>

                  </div>
                </div>


              </div>
              <div class="fran-slider-block">
                <div class="items">
                    <div>
                      <img src="../assets/img/col-1.jpg" />
                      <h5>Recruiting Strategies: How To Find Better Talent</h5>
                      <p>
                        The best employees for your organization are out there. You just have to know where to look.
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>
                    <div>
                      <img src="../assets/img/col-2.jpg" />
                      <h5>Recruiting Strategies: How To Find Better Talent</h5>
                      <p>
                        The best employees for your organization are out there. You just have to know where to look.
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>
                    <div>
                      <img src="../assets/img/col-3.jpg" />
                      <h5>Recruiting Strategies: How To Find Better Talent</h5>
                      <p>
                        The best employees for your organization are out there. You just have to know where to look.
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>
                    <div>
                      <img src="../assets/img/col-4.jpg" />
                      <h5>Recruiting Strategies: How To Find Better Talent</h5>
                      <p>
                        The best employees for your organization are out there. You just have to know where to look.
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>
                    <div>
                      <img src="../assets/img/col-5.jpg" />
                      <h5>Recruiting Strategies: How To Find Better Talent</h5>
                      <p>
                        The best employees for your organization are out there. You just have to know where to look.
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>

                </div>
                </div>
          </div>
        </div>
    </div>

  </div>