<!-- -->
<div class="five-col-art-block">
  <div class="fran-block bg-dark-color">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-md-9">
                    <ul>
                      <li>
                        <h4>COLUMNS</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>


            </div>
            <div class="fran-slider-block" >
              <div class="row items" >
                  <div class="col-md-4" *ngFor="let item of columnData.data.slice(0,3); let i = index;">
                    <img src="{{item.media.placeholder}}" class="img-fluid" />
                    <h5>{{ item.title }}</h5>
                    <p>
                      {{ item.short_description }}
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>
              </div>
              </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
              <div class="fran-top-block">
                <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li>
                          <h4>1851 VIDEOS</h4>
                          </li>
                        </ul>
                      </div>

                  </div>
                </div>


              </div>
              <div class="fran-slider-block">
                <div class="row items">
                    <div class="col-md-4" *ngFor= "let item of videoData.data.slice(0,3);">
                      <img src="{{item.media.placeholder}}" class="img-fluid" />
                      <h5>{{ item.title }}</h5>
                      <p>
                        {{ item.short_description }}
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>
                </div>
                </div>
          </div>
        </div>
    </div>

  </div>