<!-- -->
<div class="five-col-art-block" >
  <div class="fran-block bg-dark-color" *ngIf="columnData.data?.length">
    <div class="container" >
      <div class="row">
          <div class="col-md-12">
            <div class="fran-top-block">
              <div class="row">
                  <div class="col-md-9">
                    <ul>
                      <li>
                        <h4>COLUMNS</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <a class="read-more-btn">READ MORE</a>
                      </div>
                </div>
              </div>
            </div>
            <div class="fran-slider-block" >
              <div class="row items" >
                  <div class="col-md-4" *ngFor="let item of columnData.data.slice(0,3); let i = index;">
                    <img
                        appYoutubeImage                                      
                        alt=""
                        srcset=""
                        src="{{item.media | defaultImage:415:232}}"
                        class="img-fluid" 
                    />      
                    <figure *ngIf="!item.media">
                          <img
                              src="assets/images/video-img2.jpg"
                              width="415"
                              height="232"
                              alt=""
                              srcset=""
                              class="img-fluid" 
                          >
                    </figure>
                    <h5>{{ item.title }}</h5>
                    <p>
                      {{ item.short_description }}
                      </p>
                      <a href="" class="read-more-btn">READ MORE</a>
                  </div>
              </div>
              </div>
        </div>
      </div>
    </div>

    <div class="fran-block bg-dark-color" *ngIf="videoData.data?.length">
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
              <div class="fran-top-block">
                <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li>
                          <h4>1851 VIDEOS</h4>
                          </li>
                        </ul>
                      </div>

                  </div>
                </div>
              </div>
              <div class="fran-slider-block">
                <div class="row items">
                    <div class="col-md-4" *ngFor= "let item of videoData.data.slice(0,3);">
                      <div class="video-btn" data-target="#slide_videos_video_modal" data-toggle="modal" attr.data-src="{{item.media.url}}"  style="cursor: pointer;">
                      <figure >
                        <img
                            appYoutubeImage                                      
                            alt=""
                            srcset=""
                            src="{{item.media | defaultImage:415:232}}"
                            class="img-fluid" 
                        />
                        <img class="video-maker" src="assets/img/youtube.svg">
                    </figure>
                    <figure *ngIf="!item.media">
                        <img
                            src="assets/img/video-img2.jpg"
                            width="415"
                            height="232"
                            alt="img9"
                            srcset=""
                            class="img-fluid" 
                        >
                    </figure>
                  </div>
                      <h5>{{ item.title }}</h5>
                      <p>
                        {{ item.short_description }}
                        </p>
                        <a href="" class="read-more-btn">READ MORE</a>
                    </div>
                </div>
                </div>
          </div>
        </div>
    </div>

  </div>