<div class="c-card-box--section">
    <div class="c-card-box--wrapper">
      <div class="authorDetail c-card-box--row c-card-box--contentRow">
        <div class="container customContainer">
          <div class="row">
            <div class="col-4 py-5 px-5">
              <figure>
                <img
                  *ngIf="author?.data"
                  appYoutubeImage
                  data-src="{{ author?.data?.media | defaultImage: 312:446 }}"
                  width="312"
                  height="446"
                  alt="authorpage"
                  loading="lazy"
                  class="lazyloading"
                />
              </figure>
            </div>
            <div class="col-8 py-5 px-5">
              <div>
                <h5> ABOUT</h5>
                <h1>{{ author?.data?.first_name }} {{ author?.data?.last_name }}</h1>
                <h5 class="designation">{{ author?.data?.designation }}</h5>
              </div>
              <hr/>

              <ul class="social d-flex p-0">
                <li>
                  <a
                    href="#"
                    target="blank"
                    class="
                      rounded-circle
                      d-flex
                      justify-content-center
                      align-items-center
                      me-1
                      primary-bg
                    "
                  >
                    <fa-icon [icon]="faFacebookFIcon"></fa-icon>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    target="blank"
                    class="
                      rounded-circle
                      d-flex
                      justify-content-center
                      align-items-center
                      me-1
                      primary-bg
                    "
                  >
                    <fa-icon [icon]="faInstagramIcon"></fa-icon>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    target="blank"
                    class="
                      rounded-circle
                      d-flex
                      justify-content-center
                      align-items-center
                      me-1
                      primary-bg
                    "
                  >
                    <fa-icon [icon]="faLinkedinInIcon"></fa-icon>
                  </a>
                </li>
                <li>
                  <a
                    href=""
                    target="blank"
                    class="
                      rounded-circle
                      d-flex
                      justify-content-center
                      align-items-center
                      primary-bg
                    "
                  >
                    <fa-icon [icon]="faYoutubeIcon"></fa-icon>
                  </a>
                </li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      <div class="c-card-box--row">
        <div class="container customContainer">
        <p>{{ author?.data?.about }}</p>
      </div>
    </div>
  </div>
</div>

  <div class="main-content">
  <div class="editorial-stories">
    <div class="container">
      <div class="editorial-stories-details col-xl-11">
        <div class="frannews-bottom" *ngIf="editorials.length > 0">
          <h3 class="text-center text-uppercase">
            EDITORIAL STORIES BY {{ author?.data?.first_name }}
            {{ author?.data?.last_name }}
          </h3>
          <app-five-column
            [contents]="editorials"
            [type]="'authorpage'"
            [typeSlug]="'editorials'"
          ></app-five-column>
          <a
            routerLink="/{{ goReadMore(editorials[0]) }}"
            fragment="editorials"
            class="readmore d-block text-uppercase"
          >
            READ MORE
            <span class="d-block text-center">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </a>
        </div>
        <div class="frannews-bottom" *ngIf="brandedContents.length > 0">
          <h3 class="text-center text-uppercase">
            BRANDED CONTENT BY {{ author?.data?.first_name }}
            {{ author?.data?.last_name }}
          </h3>
          <app-five-column
            [contents]="brandedContents"
            [type]="'authorpage'"
            [typeSlug]="'brand-latest-stories'"
          ></app-five-column>
          <a
            routerLink="/{{ readMore(brandedContents[0]) }}"
            fragment="brand-latest-stories"
            class="readmore d-block text-uppercase"
          >
            READ MORE
            <span class="d-block text-center">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-json-ld [json]="schema"></ngx-json-ld>
