<div class="c-card-box--section sidebar-blur">
  <div class="c-card-box--wrapper">
    <div class="authorDetail c-card-box--row c-card-box--contentRow">
      <div class="container customContainer">
        <div class="row">
          <div class="col-4 py-5 px-5">
            <figure>
              <img
                *ngIf="author?.data"
                appYoutubeImage
                data-src="{{ author?.data?.media | defaultImage: 700:700 }}"
                width="301.96"
                height="301.96"
                alt="authorpage"
                loading="lazy"
                class="lazyloading"
              />
            </figure>
          </div>
          <div class="col-8 py-5 px-5">
            <div>
              <span class="about">ABOUT</span>
              <h1>
                {{ author?.data?.first_name }} {{ author?.data?.last_name }}
              </h1>
              <h5 class="designation">{{ author?.data?.designation }}</h5>
            </div>
            <hr />

            <ul class="social d-flex p-0" *ngIf="author?.data">
              <li *ngFor="let item of author?.data?.socialMedia; index as i">
                <a
                  href="{{ item?.url }}"
                  target="blank"
                  class="
                    rounded-circle
                    d-flex
                    justify-content-center
                    align-items-center
                    me-1
                    primary-bg
                  "
                >
                  <fa-icon
                    [icon]="socialIcons[item.index]"
                    class="searchIcon"
                  ></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="c-card-box--row">
      <div class="container customContainer">
        <p [innerHtml]="author?.data?.about"></p>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="editorial-stories">
    <div class="container">
      <div class="editorial-stories-details col-xl-11">
        <div class="frannews-bottom" *ngIf="editorials.length > 0">
          <h3 class="text-center text-uppercase">
            EDITORIAL STORIES BY {{ author?.data?.first_name }}
            {{ author?.data?.last_name }}
          </h3>
          <app-five-column
            [contents]="editorials"
            [type]="'authorpage'"
            [typeSlug]="'editorials'"
          ></app-five-column>
          <a
            routerLink="/{{ goReadMore(editorials[0]) }}"
            fragment="editorials"
            class="readmore d-block text-uppercase"
          >
            READ MORE
            <span class="d-block text-center">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </a>
        </div>
        <div class="frannews-bottom" *ngIf="brandedContents.length > 0">
          <h3 class="text-center text-uppercase">
            BRANDED CONTENT BY {{ author?.data?.first_name }}
            {{ author?.data?.last_name }}
          </h3>
          <app-five-column
            [contents]="brandedContents"
            [type]="'authorpage'"
            [typeSlug]="'brand-latest-stories'"
          ></app-five-column>
          <a
            routerLink="/{{ readMore(brandedContents[0]) }}"
            fragment="brand-latest-stories"
            class="readmore d-block text-uppercase"
          >
            READ MORE
            <span class="d-block text-center">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-json-ld [json]="schema"></ngx-json-ld>
