<div [ngClass]="commonService.trendingClass"></div>

<div class="authorSection">
  <div class="sidebar-blur authorDetail">
    <div class="container customContainer">
      <div class="d-flex col-xl-8 profile">
        <div class="col-md-5 col-sm-6">
          <figure>
            <img
              *ngIf="author?.data"
              appYoutubeImage
              src="{{ author?.data?.media | defaultImage: 528:297 }}"
              width="528"
              height="297"
              alt="authorpage"
            />
          </figure>
        </div>
        <div class="col-md-7 col-sm-6 pt-5 pb-2 px-4 details">
          <span class="small-red-headers">ABOUT</span>
          <h1 class="large-main-article mb-0">
            {{ author?.data?.first_name }} {{ author?.data?.last_name }}
          </h1>
          <h5 class="sectionTitle">{{ author?.data?.designation }}</h5>
          <hr />
          <ul class="social d-flex p-0" *ngIf="author?.data?.socialMedia">
            <li *ngFor="let item of author?.data?.socialMedia; index as i">
              <a
                href="{{ item?.url }}"
                target="blank"
                class="
                  rounded-circle
                  d-flex
                  justify-content-center
                  align-items-center
                  me-1
                  primary-bg
                "
              >
                <fa-icon
                  [icon]="socialIcons[item.index]"
                  class="searchIcon"
                ></fa-icon>
              </a>
            </li>
          </ul>
          <p [innerHtml]="author?.data?.about" class="description"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-content sidebar-blur">
  <div class="editorial-stories">
    <div class="container">
      <div class="editorial-stories-details col-xl-11">
        <div class="frannews-bottom" *ngIf="editorials.length > 0">
          <h3 class="text-center text-uppercase">
            EDITORIAL STORIES BY {{ author?.data?.first_name }}
            {{ author?.data?.last_name }}
          </h3>
          <app-home-article
            [typeSlug]="'editorials'"
            [contents]="editorials"
            [column]="'five'"
            [class]="'row-cols-md-2 row-cols-lg-5'"
          ></app-home-article>
          <a
            routerLink="/{{ commonService.readMore(editorials[0]) }}"
            fragment="editorials"
            class="readmore d-block text-uppercase"
          >
            READ MORE
            <span class="d-block text-center">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </a>
        </div>
        <div class="frannews-bottom" *ngIf="brandedContents.length > 0">
          <h3 class="text-center text-uppercase">
            BRANDED CONTENT BY {{ author?.data?.first_name }}
            {{ author?.data?.last_name }}
          </h3>
          <app-home-article
            [typeSlug]="'brand-latest-stories'"
            [contents]="brandedContents"
            [column]="'five'"
            [class]="'row-cols-md-2 row-cols-lg-5'"
          ></app-home-article>
          <a
            routerLink="/{{ commonService.readMore(brandedContents[0]) }}"
            fragment="brand-latest-stories"
            class="readmore d-block text-uppercase"
          >
            READ MORE
            <span class="d-block text-center">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-json-ld [json]="schema"></ngx-json-ld>
