// Fonts
$proxiLight: "ProximaNova-Light";
$proxiMedium: "ProximaNova-Medium";
$proxiBold: "ProximaNova-Bold";
$proxiRegular: "ProximaNova-Regular";
$proxiSemiBold: "ProximaNova-Semibold";

$roboto: "Roboto", sans-serif;
$aktiv: "aktiv-grotesk-condensed", sans-serif;

//colors
$light_gray: #cecfd1;
$light_gray_1: #929496;
$light_gray_2: #d4d5d6;
$light_gray_3: #adaeb0;
$light_gray_4: #a6a8aa;
$light_gray_5: #808183;
$light_gray_6: #c8c9ca;
$light_gray_7: #bbbcbf;
$light_gray_8: #c4c4c4;
$light_gray_9: #b4b4b4;
$light_gray_10: #dce0e3;
$light_gray_11: #e5e5e5;
$light_gray_12: #b3b3b3;
$light_gray_13: #EAE7E7;
$light_gray_14: #BDBDBD;

$dark_gray: #243444;
$dark_gray_1: #263645;
$dark_gray_2: #434345;
$dark_gray_3: #272525;
$dark_gray_4: #273444;
$dark_gray_5: #595959;
$dark_gray_6: #666666;
$dark_gray_7: #6c6d6f;
$dark_gray_8: #757575;
$dark_gray_9: #616161;

$white: #fff;
$white_1: #f0f0f1;
$white_2: #ffffff;
$white_3: #f3f8fb;
$white_4: #fbf4f4;
$white_5: #d0d1d2;
$white_6: #e8eef2;
$white_7: #f1f1f2;
$white_8: #f3f3f3;

$dark_black: #000000;
$black: #000;
$black_1: #18222e;
$black_2: #00000045;

$dark_red: #c8151a;
$red: #e11c22;
$dark_red_1: #b40434;
$dark_red_2: #b00034;
$dark_red_3: #ec0044;

$light_blue: #2bb3c7;
$blue: #4594eb;
$blue_1: #007bff;
$green: #008000;

$grade_bg3_1: rgba(0, 0, 0, 0.15);
$grade_bg1: rgba(129, 129, 132, 0.8);
$grade_bg4_1: rgba(0, 0, 0, 0.27);
