@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.video {
  background: $white_8;
  color: $black;

  .sectionTitle {
    line-height: 25.6px;
    color: $dark_gray;
  }

  .subTitle {
    color: $dark_gray_5;
    font-family: $roboto;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    text-transform: none;
    &::before {
      content: "|";
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
    }
  }
  .topSection {
    .video-play {
      height: 57px;
      width: 97px;
    }
    h2 {
      font-size: 20px;
      line-height: 23.4px;
      font-weight: 700;
      font-family: $aktiv;
    }
  }
  .bottomSection {
    figure {
      img {
        @include mobile-landscape {
          height: auto;    
        }            
        height: 118px;
      }
    }
    .video-play {
      height: 22px;
      width: 38px;
      top: calc(50% - 5px);
    }
  }
  .videoCarousel {
    @include mobile-portrait {
      padding: 0 10px;
    }
  }
}

:host ::ng-deep {
  .owl-carousel {
    .owl-item {
      padding: 0 5px;
      img {
        height:119px;
        width:212px;
        @include tablet-landscape{
          width: 100%;
          height: auto;
        }
      }
    }

    .owl-nav {
      div {
        background-color: transparent;
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        background-repeat: no-repeat;
        cursor: pointer;
        color: $dark_gray;
        font-size: 45px !important;
        &.owl-prev {
          left: -4%;
          @include mobile-landscape{
            left: -10%;
          }

          &:hover {
            background-color: transparent;
            color: $dark_gray;
          }
        }
        &.owl-next {
          right: -4%;
          @include mobile-landscape {
            right: -10%;
          }

          &:hover {
            background-color: transparent;
            color: $dark_gray;
          }
        }
      }
    }
  }
}
.modal {
  top: 0;
  @include desk-lg-below1 {
    top: 8%;
  }
}
