<div class="container bws-sitemap main-sitemap">
    <h1 class="bws-sitemap-title">Sitemap</h1>
    <div class="row">
        <div *ngFor="let month of sitemap['2021']"  class="col l4 m6 s12 col-sm-4 col-xs-6 bws-sitemap-col">
            <h2 class="bws-sitemap-subtitle">{{month}}</h2>
            <!-- <ul>
                <li *ngFor="let month of year['data']">
                    <a [href]="month['url']"></a>
                </li>
            </ul> -->
        </div>
    </div>
</div>


<!-- <div class="container bws-sitemap main-sitemap">
    <h1 class="bws-sitemap-title">Sitemap</h1>
    <div class="row">
        <div *ngFor="let year of data"  class="col l4 m6 s12 col-sm-4 col-xs-6 bws-sitemap-col">
            <h2 class="bws-sitemap-subtitle">{{year['year']}}</h2>
            <ul>
                <li *ngFor="let month of year['data']">
                    <a [href]="month['url']">{{month['month']}} ({{month['number']}})</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->
