@import "../../../../assets/scss/theme-color.scss";
@import "../../../../assets/scss/variables.scss";

.trending {
  background-color: $border-color;
  color: $medium-grey;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid $dark-gray;
  span {
    color: $primary;
    font-family: $roboto;
    img {
      margin-top: -4px;
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 1rem;
    height: 20px;
    background-color: none;
    top: calc(-20% -25%);
  }
  .carousel-control-prev {
    left: unset;
    right: 35px;
  }
  .carousel-control-prev-icon {
    background-image: url("../../../../assets/img/slider-left-arrow.png");
    width: 1rem;
    height: 20px;
    padding-top: 0.25rem;
  }
  .carousel-control-next-icon {
    background-image: url("../../../../assets/img/slider-right-arrow.png");
    width: 1rem;
    height: 20px;
    padding-top: 0.25rem;
  }
}
