@import "../../../../assets/scss/theme-color.scss";

.trending {
  background-color: $border-color;
  color: $medium-grey;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid $dark-gray;
  span {
    color: $primary;
    font-family: "Ballinger Condensed Medium";
    img {
      margin-top: -4px;
    }
  }
}
