<div class="container py-3">
  <div class="d-flex align-items-end flex-row">
    <div class="py-2">
      <h1 class="m-0 text-uppercase" style="line-height: 1">
        <strong>Special Features</strong>
      </h1>
    </div>
    <div class="py-2 subtitle-container">
      <p>Indepth coverage of franchise Industry topics</p>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-8">
        <article>
          <div class="image-container">
            <label class="px-2 py-1 tag">
              <strong>SPECIAL FEATURE</strong>
            </label>
          </div>
          <div class="mt-3">
            <h2>
              <strong>Title Lorem Ipsum Conset Entumi Abudi ?</strong>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              mollitia odio autem sequi dolore inventore adipisci commodi
              debitis rerum numquam molestias non ipsa dolorem quasi magnam,
              nesciunt vitae minima necessitatibus.
            </p>
          </div>
        </article>
      </div>
      <aside class="col-3 offset-1">
        <div class="d-grid gap-3">
          <div class="image-container">
            <label class="px-2 py-1 tag">SPECIAL FEATURE</label>
          </div>
          <div class="p-2 title">
            <p><strong>Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed</strong></p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
