<div class="sidebar-blur" *ngIf="isLoaded">
  <div
    class="c-video-section--wrapper"
    [ngClass]="type == 'brand' ? 'brand' : ''"
  >
    <div class="container customContainer">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="d-flex align-items-center c-section-header--wrapper">
            <div class="c-section-header--group d-flex align-items-end">
              <h2 class="c-section--title text-uppercase m-0">
                Special Features
              </h2>
              <span class="c-section-header--subInfo"
                >Indepth coverage of franchise industry topics
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-divider--wrapper"></div>

  <div class="container py-4 customContainer sidebar-blur">
    <div class="row">
      <div class="col-12 col-md-4 col-lg mb-3 mb-sm-0">
        <div class="row" *ngIf="specialFeature.length">
          <div class="col-12 mb-2 mb-md-3">
            <div class="main-image position-relative">
              <div
                class="tag position-absolute text-center top-0 text-uppercase"
              >
                Special Feature
              </div>
              <a
                routerLink="/{{ commonService.readMore(specialFeature[0]) }}"
                fragment="dynamicPage"
                ><img
                  appYoutubeImage
                  class="img-fluid lazyload"
                  width="780"
                  height="425"
                  data-src="{{
                    specialFeature[0].media | defaultImage: 780:425
                  }}"
                  alt="featured"
                  loading="lazy"
                />
                <div
                  class="content text-capitalize bottom-0 w-100 pt-3"
                >
                  <h2>
                    {{ specialFeature[0].title }}
                  </h2>
                  <p>
                    {{
                      commonService.responsiveTextFormating(
                        specialFeature[0].short_description,
                        descriptionLimit
                      )
                    }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          position-relative
          col-12 col-sm-6 col-lg-3
          align-items-stretch
          mb-3 mb-sm-0
          latestListing
        "
      >
        <ul class="news-list noScrollBar list-group">
          <li
            class="mb-3"
            *ngFor="let item of specialFeature | slice: 1:5; index as i"
          >
            <div class="position-relative small-image">
              <div
                class="tag position-absolute text-center top-0 text-uppercase"
              >
                Special Feature
              </div>
              <a
                routerLink="/{{ commonService.readMore(item) }}"
                fragment="featured"
                ><img
                  appYoutubeImage
                  class="img-fluid lazyload"
                  width="244"
                  height="93"
                  data-src="{{ item.media | defaultImage: 244:93 }}"
                  alt="featured"
                  loading="lazy"
                />
                <h3
                  class="
                    over-layer
                    text-capitalize
                    bottom-0
                    w-100
                    p-2
                  "
                >
                  {{ item.title }}
                </h3>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
