img {
  width: 100%;
}
.tag {
  background: #eb0444;
  font-family: "Ballinger Condensed Regular";
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  box-sizing: border-box;
}
.over-layer {
  font-family: "Roboto", sans-serif;
  background: rgba(232, 238, 242, 0.67);
  font-size: 36px;
}
.small-image {
  .tag,
  .over-layer {
    font-size: 12px;
  }
}

@media screen and (max-width: 760px) {
  .tag {
    font-size: 12px;
  }
  .over-layer {
    font-size: 24px;
  }
  .small-image {
    .over-layer {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
