@import "./variables.scss";
@import "./mixins.scss";

.timeStamp{
    color: $violet_1;
}
.tabs{
    span {
      &.active{
        &::after {
          border-color: $white_2 transparent transparent transparent !important;
          bottom: -15px !important;
        }
      }
    }    
}
.bottom-head{
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.59px;
}
header{
    .middle-head{
        .articleTitles{
            font-family: $roboto !important;
            color:$black_3;
        }
        .logo{
            img{
                @include mobile-landscape{
                    width: 140px;
                    height: 30px;
                }
            }
            .sponsor{
                color: $dark_gray_10 !important;
            }
            .sponsorLogo{
                background: url("https://dmprqkmvewks9.cloudfront.net/ee_logo_subscribe.png")
                         no-repeat 100% 0 !important;
                padding: 0 17px 0 0 !important;
            }
        }
    }
    .mainLogo{
        width: 280px;
        height: 28px;
        @include tablet-landscape1{
            display: none;
        }
    }
    .eeLogo
    {
        display: none;
        @include tablet-landscape1{
            display: block;
        }
    }
}
.most-popular{
    .card{
        .card-body{
            span{
                color: $dark_red;
            }
        }
        .carouselBody{
            @include mobile-landscape {
                min-height: unset !important;
            }    
        }
    }
}
.popularSection{
    hr{
        border-color: $white_2;
        background-color: $white_2; 
    }
}
.featuredSection{
    .sectionTitle{
        color: $violet_2 !important;
        font-weight: 700 !important;
    }
    .subTitle{
        color: $violet_2 !important;
    }
    hr{
        border-color: $light_gray_8;
        background-color: $light_gray_8;
    }
}
.footer-middle{
    h4{
      color: $light_gray_14 !important;
      font-family: $roboto !important;
    }
}
.articles{
    .large-main-article{
        color: $black_3 !important;
    }
    .sectionTitle{
        color: $white_9 !important;
    }
    .subTitle{
        width: 900px !important;
    }
    .authorDetails{
        .sectionTitle{
            font-weight: 700 !important;
            font-family: $roboto;
            color: $red !important;
        }
        .timeStamp{
            color: $black_3 !important;
        }
    }
    .most-like-articles{
        .seeMore{
            color: $black_3 !important;
            font-family: $aktiv;
            border-bottom: 1px solid $dark_black !important;
        }
        .articleTrending{
            .card-title{
                color: $black_4 !important;
            }
        }
    }
    .ArticlesNewsSection{
        background-color: $red !important;
        .newsSection{
            color: $white_11 !important;
        }
        .articleTitles{
            color: $black_4 !important;
        }
    }
}
.nextBtn {
    .seeMoreLine{
        border: 1px solid $dark_black !important;
    }
    .seeMore{
        color: $black_3 !important;
    }
}
.series
{
    .rightSide
    {
        .card-img-top{
            width: 130px;
            height: 85px;
        }
    }
}
.timeStamp{
    color: $black_3 !important;
}