@import "./variables.scss";
@import "./mixins.scss";


.seeMore{
    color: $dark_gray_11 !important;
}
.timeStamp{
    color: $violet_1;
}
.bottom-head{
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.59px;
}
header{
    .navItem {
        padding-top: 0.5rem!important;
    }
    .middle-head{
        .articleTitles{
            font-family: $roboto !important;
            color:$black_3;
        }
        .logo{
            &.brandLogo{
                img{
                    @include mobile-portrait{
                        height: 70px !important;
                    }
                }
            }
            img{
                @include mobile-landscape{
                    width: 140px;
                    height: 30px;
                }
            }
            .sponsor{
                color: $dark_gray_10 !important;
            }
            .sponsorLogo{
                background: url("https://dmprqkmvewks9.cloudfront.net/eeLogo_subscribe.svg")
                            no-repeat 100% 0 !important;
                padding: 0 17px 0 0 !important;
                background-size: 17px !important;
            }
        }
    }
    .mainLogo{
        width: 280px;
        height: 28px;
        @include tablet-landscape1{
            display: none;
        }
    }
    .eeLogo
    {
        display: none;
        @include tablet-landscape1{
            display: block;
        }
    }
}
.most-popular{
    .card{
        .card-body{
            span{
                color: $dark_red;
            }
        }
       
    }
    .seeMore{
        color: $white !important;
    }
}
.popularSection{
    hr{
        border-color: $white_2;
        background-color: $white_2; 
    }
}
.featuredSection{
    .sectionTitle{
        color: $violet_2 !important;
        font-weight: 700 !important;
    }
    .subTitle{
        color: $violet_2 !important;
    }
    hr{
        border-color: $light_gray_8;
        background-color: $light_gray_8;
    }
}
.footer-middle{
    h4{
      color: $light_gray_14 !important;
      font-family: $roboto !important;
    }
}
.articles{
    @include mobile-portrait{
        padding-top: 20px !important;
    }
    .large-main-article{
        color: $black_3 !important;
    }
    .sectionTitle{
        color: $white_9 !important;
    }
    .subTitle{
        width: 900px !important;
    }
    .authorDetails{
        .sectionTitle{
            font-weight: 700 !important;
            font-family: $roboto;
            color: $red !important;
        }
        .timeStamp{
            color: $black_3 !important;
        }
    }
    .most-like-articles{
        .seeMore{
            color: $black_3 !important;
            font-family: $aktiv;
            border-bottom: 1px solid $dark_black !important;
        }
        .articleTrending{
            .card-title{
                color: $black_4 !important;
            }
        }
    }
    .ArticlesNewsSection{
        background-color: $red !important;
        .newsSection{
            color: $white_11 !important;
        }
        .articleTitles{
            color: $black_4 !important;
        }
    }
}
.nextBtn {
    .seeMoreLine{
        border: 1px solid $dark_black !important;
        background: $dark_black;
    }
    .seeMore{
        color: $black_3 !important;
    }
}
.series
{
    .rightSide
    {
        .card-img-top{
            width: 130px;
            height: 85px;
        }
    }
}
.timeStamp{
    color: $black_3 !important;
}
.c-card-box--section{
   .c-card-box--wrapper{
        .c-card-box--group{
            .articleTitles{
                color: $white !important;
            }
        } 
        .seeMore{
            color: $white !important;
         } 
         .coverContent{
            .content{
                color: $dark_red !important;
            }
            a {
                &.seeMore {
                    color: $red !important;
                }
            }
         } 
    }
}
.banner{
    .left-text{
        right: 10%;
    }
}
.financial-requirement-section{
    .financial-description{
        .highlight-text {
            color : $violet_1 !important;
        }
     } 
 }
 .awards {
    .seeMore {
      color: $white !important;
    }
    hr {
        color:$white !important;
    }
  }
  @include mobile-portrait{
    .download-pdf--wrapper{
       .frannews-right--wrapper{
           .frannews-image--wrapper,img{
               width: 100% !important;
               height: auto !important;
           }
        }
    }
    .tabs{
        li{
            span{
                font-size: 16px !important;
                &::after {
                    left: 70px !important;
                }    
            }
        }
    }
} 

.frannews-details{
    .frannews-top{
        border-bottom: 1px solid $dark_gray !important;
    }
} 
.error-banner-details{
    h1{
        color: $dark_black !important;
    }
}
.trendingbrandbuzz-banner {
    .seeMore {
        color:$white !important;
    }
}