@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";
.widget3{
    .sectionTitle{
        color: $dark_gray;
    }
}
.widget4{
    background-color: $dark_gray;
    .articleTitles{
        color: $white;
    }
}
.seeMore{
    color: $red;
}
img{
    height: 135px;
    @include tablet-landscape1 {
        height: auto !important;
    }
    @include desk-lg-below1{
        height: 118px;
    }
}