<div class="container">
  <div class="advertisement col-xl-10">
    <h6 class="float-right text-uppercase">ADVERTISEMENT</h6>
    <div class="clearfix"></div>
    <div class="advertisement-details">
      <div class="col-md-12">
        <div class="advertisement-border">
          <img
            appYoutubeImage
            src="{{ adsData?.media | defaultImage: 970:89 }}"
            width="970"
            height="89"
            style="width: 100%"
            alt="img12"
          />
        </div>
      </div>
    </div>
  </div>
</div>
