@import "../assets/sass/mixins.scss";
.wrapper {
  transition: all 0.4s ease;
  left: 0;
  position: relative;
  &.addeLeftSpace {
    position: relative;
    left: 300px;
    overflow: hidden;
    transition: all 0.4s ease;
    max-height: 100vh;
    @include mobile-landscape1 {
      left: 250px;
      position: fixed;
    }
  }
}
