<!-- Sidebar-->
<div class="border-end" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="/">
            <figure>
                <img class="logo-img" src="{{sidebarData.logo}}" width="{{publication.id === 'EE' ? 200: 53}}" height="53" alt="logo">
            </figure>
        </a>
        <a class="list-group-item list-group-item-action p-3" href="#!">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
    </div>
</div>
