<!-- Sidebar-->
<div class="border-end" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="/">
            <figure>
                <img class="logo-img" src="{{sidebarData.logo}}" width="{{publication.id === 'EE' ? 200: 53}}" height="53" alt="logo">
            </figure>
        </a>
        <p style="color: white;"> Search input form control with search fa icon</p>
        <a class="list-group-item list-group-item-action p-3 fa fa-database" href="#!">MONTHLY COVERS</a>
        <!-- <p>{{sidebarData['monthly-cover'].media.url}}</p> -->
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-server" href="#!">Topics</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-trophy" href="#!">AWARDS</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-star" href="#!">POWER RANKING</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-question-circle" href="#!">ABOUT {{publication.id}}</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-usd" href="#!">SPONSORED CONTENT </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-rss" href="#!">ADVERTISE ON {{publication.id}}</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-envelope-open" href="#!">CONTACT {{publication.id}} EDITORIAL</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-list" href="#!">TERMS OF USE</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-home" href="#!">LOGIN</a>
    </div>
</div>
