<footer>
  <div class="container-xl content-padding footer-details">
    <div class="footer-menu-block">
      <div class="row">
        <div class="col-md-4 col-sm-3 col-12 pb-md-none pb-3">
          <div class="footer-logo-l">
            <a href="/"><img src="{{ footerData?.logo?.url }}" alt="Logo" /></a>
          </div>
          <div class="footer-logo-r">
            <h4>{{ publication?.title?.toUpperCase() }}</h4>
            <p>Your Number One Source For {{ publication.newsType }}</p>
          </div>
        </div>
        <div class="col-md-5 footer-middle p-3 col-12">
          <div class="row">
            <div class="footer-middle-left col-md-6 col-6">
              <h6>SPOTLIGHT</h6>
              <ul class="left-section">
                <li *ngFor="let spotlight of footerData.spotlight">
                  <a
                    routerLink="{{ spotlight.url }}"
                    class="text-capitalize-capital"
                    >{{ spotlight.title }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer-middle-right col-md-6 col-6">
              <ul *ngIf="footerData['about-us']">
                <li *ngIf="footerData['about-us']">
                  <a routerLink="{{ footerData['about-us']['url'] }}"
                    >ABOUT US</a
                  >
                </li>
                <li *ngIf="footerData['contact-editorial']">
                  <a routerLink="{{ footerData['contact-editorial']['url'] }}"
                    >CONTACT</a
                  >
                </li>
                <li *ngIf="footerData['site-map']">
                  <a routerLink="/sitemap">SITE MAP</a>
                </li>
                <li>
                  <a routerLink="{{ footerData['terms-of-use']['url'] }}"
                    >TERMS OF USE</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12 footer-right mt-4">
          <h5>WANT TO LEARN MORE?</h5>
          <a routerLink="about#tellus"
            ><span class="d-block text-uppercase text-center"
              >LET’S TALK</span
            ></a
          >
          <div class="clearfix"></div>
          <a href="tel:3125263996">312.526.3996</a>
          <div class="clearfix"></div>
          <div class="social-blogs mt-4">
            <ul
              class="float-md-end float-start"
              *ngIf="footerData['learn-more']"
            >
              <li>
                <a
                  class="d-block text-center"
                  target="blank"
                  href="{{
                    [footerData['learn-more']['social-media']['fb-url']]
                  }}"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  class="d-block text-center"
                  target="blank"
                  href="{{
                    [footerData['learn-more']['social-media']['instagram-url']]
                  }}"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  class="d-block text-center"
                  target="blank"
                  href="{{
                    [footerData['learn-more']['social-media']['twitter-url']]
                  }}"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  class="d-block text-center"
                  target="blank"
                  href="{{
                    [footerData['learn-more']['social-media']['linkedin-url']]
                  }}"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom col-12 mx-auto">
      <form novalidate="" class="ng-untouched ng-pristine ng-valid">
        <div
          class="form-group d-block"
          data-target="#footerSearchModal"
          data-toggle="modal"
        >
          <input
            class="form-control"
            type="text"
            placeholder="{{ footerData?.search?.placeholder }}"
          /><button class="d-block text-center" type="button">
            <i aria-hidden="true" class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
