<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 border-end order-2 order-lg-1 py-3 py-sm-0">
        <ul class="p-0 d-flex flex-column justify-content-between m-0">
          <li class="d-flex align-items-center pb-2">
            <div class="image me-3">
              <img
                src="../../../assets/img/mainland.svg"
                alt="logo"
                width="57"
              />
            </div>
            <div>
              <h4 class="m-0"></h4>
            </div>
          </li>
          <li class="d-flex align-items-center pb-2">
            <div class="image me-3">
              <img
                src="../../../assets/img/1851-logo-white.svg"
                alt="logo"
                width="43"
              />
            </div>
            <div>
              <h4 class="m-0">1851 Franchise</h4>
            </div>
          </li>
          <li class="d-flex align-items-center pb-2">
            <div class="image me-3">
              <img
                src="../../../assets/img/ee-logo.svg"
                alt="logo"
                width="46"
              />
            </div>
            <div>
              <h4 class="m-0">Estatenvy</h4>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="image me-3">
              <img
                src="../../../assets/img/1903-logo.svg"
                alt="logo"
                width="57"
              />
            </div>
            <div>
              <h4 class="m-0">Room 1903</h4>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-12 col-lg py-3 order-1 order-lg-2 px-lg-5">
        <div class="footer-link">
          <h1 class="text-uppercase">For the love of franchising</h1>
          <div class="row flex-column flex-sm-row justify-content-center">
            <div class="col">
              <h4 class="text-uppercase primary-color">Spotlight</h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Featured Story</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Editorial Section</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">1851 University</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Videos</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Awards</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Special Features</a>
              </h4>
            </div>
            <div class="col">
              <h4 class="text-uppercase primary-color">About Us</h4>
              <!-- <h4 class="text-uppercase mb-2">
                <a href="#">Lorem Ipsum</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Lorem Ipsum</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Lorem Ipsum</a>
              </h4>
              <h4 class="text-uppercase mb-2">
                <a href="#">Lorem Ipsum</a>
              </h4> -->
            </div>
            <div class="col">
              <h4 class="text-uppercase primary-color">Contact</h4>
            </div>
            <div class="col">
              <h4 class="text-uppercase primary-color">Site Map</h4>
            </div>
            <div class="col">
              <h4 class="text-uppercase primary-color">Terms of Use</h4>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          col-12 col-sm-6
          border-start
          d-flex
          flex-column
          py-3
          order-3
          ps-sm-5
        "
      >
        <!-- justify-content-between -->
        <!-- <h4>Want to learn More?</h4> -->
        <h4 class="mb-4">Find us on social</h4>

        <ul class="social d-flex p-0">
          <li>
            <a
              href="{{ [footer['learn-more']['social-media']['fb-url']] }}"
              target="blank"
              class="
                rounded-circle
                d-flex
                justify-content-center
                align-items-center
                me-1
                primary-bg
              "
            >
              <fa-icon [icon]="faFacebookFIcon"></fa-icon>
            </a>
          </li>
          <li>
            <a
              href="{{ [footer['learn-more']['social-media']['instagram-url']] }}"
              target="blank"
              class="
                rounded-circle
                d-flex
                justify-content-center
                align-items-center
                me-1
                primary-bg
              "
            >
              <fa-icon [icon]="faInstagramIcon"></fa-icon>
            </a>
          </li>
          <li>
            <a
              href="{{ [footer['learn-more']['social-media']['linkedin-url']] }}"
              target="blank"
              class="
                rounded-circle
                d-flex
                justify-content-center
                align-items-center
                me-1
                primary-bg
              "
            >
              <fa-icon [icon]="faLinkedinInIcon"></fa-icon>
            </a>
          </li>
          <li>
            <a
              href=""
              target="blank"
              class="
                rounded-circle
                d-flex
                justify-content-center
                align-items-center
                primary-bg
              "
            >
              <fa-icon [icon]="faYoutubeIcon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
