.footer-middle ul.left-section li a {
    font-size: 15px;
    line-height: 17px;
    color: #929496;
    letter-spacing: .8px;
}
.footer-middle ul.left-section li{
    padding: 0;
}

.footer-middle ul li a {
    font-size: 15px;
    line-height: 17px;
    color: #263645;
    font-family: ProximaNova-Medium;
    letter-spacing: .7px;
}

.footer-middle ul li {
    padding: 0 0 19px;
}

.footer-right a {
    font-size: 14px;
    line-height: 16px;
    color: #ec0044;
    font-family: ProximaNova-Medium;
    letter-spacing: .6px;
}

.footer-right span {
    width: 108px;
    height: 49px;
    font-size: 13.68px;
    line-height: 16px;
    color: #263645;
    font-weight: 400;
    font-family: ProximaNova-Medium;
    letter-spacing: .7px;
    padding: 8px 0 2px;
    margin: 0 0 8px;
    background: url('../../../assets/img/bg-lets.png') left top/cover no-repeat;
}

.footer-right a {
    font-size: 14px;
    line-height: 16px;
    color: #ec0044;
    font-family: ProximaNova-Medium;
    letter-spacing: .6px;
}

.social-blogs ul li a {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background: #263645;
}

.social-blogs ul li{
display: inline-block;
padding-left: 1em;
}

.social-blogs ul li a .fa {
    font-size: 17px;
    line-height: 31px;
    color: #fff;
}

@media only screen and (max-width:767px){
.footer-middle {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #ec0b43;
    border-bottom: 1px solid #ec0b43;
    padding: 15px 0;
}
.footer-right{
    text-align: left;
}
.footer-right span {
    float: left;
}
}

@media only screen and (min-width:768px) {
    .footer-middle{
        border-left: 1px solid #ec0b43!important;
        border-right: 1px solid #ec0b43!important;
    }

    .footer-right{
        text-align: right;
    }
    .footer-right span {
        float: right;
    }
}



h6 {
    font-size: 15px;
    line-height: 17px;
    color: #263645;
    font-weight: 400;
    font-family: ProximaNova-Medium;
    letter-spacing: .7px;
}

.footer-bottom{
padding: 89px 0 15px;
}

.footer-bottom .form-group {
    position: relative;
    width: 328px;
    margin: 0 auto;
}

.footer-bottom .form-control {
    width: 100%;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    color: #a6a8aa;
    font-weight: 400;
    font-family: ProximaNova-Light;
    border: 1px solid #d0d1d3;
    border-radius: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
    background: #fff;
    padding: 0 15px 0 43px;
    letter-spacing: .3px;
}

.footer-bottom button {
    width: 32px;
    height: 33px;
    border-radius: 100%;
    background: #d0d1d3;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-bottom button .fa {
    font-size: 16px;
    line-height: 33px;
    color: #fff;
}