<div class="spotlight-block">
  <div class="bg-grey py-4 d-block d-sm-none">
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button bg-red text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              people
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body bg-grey p-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 p-0 mb-2">
                    <div class="bg-red">
                      <img appyoutubeimage sizes="(max-width: 576px) 600px,
                (max-width: 768px) 800px,
                (max-width: 992px) 600px,
                (max-width: 1200px) 700px,
                1300px" src="{{ highlightPeople.media | defaultImage:1300:730}}" class="img-fluid">
                      <a href="" class="position-relative m-0">
                        <div class="px-3 pt-3 pb-2 bg-red-condensed spotlight-card text-white">
                          <h5 class="text-uppercase"> {{ highlightPeople.title }} </h5>
                        </div>
                        <div class="px-3 pt-3 pb-2 text-white">
                          <p class="fs-6"> {{ highlightPeople.short_description}} </p>
                        </div>
                        <div class="px-3 pt-1 pb-1 bg-red-condensed spotlight-card text-white text-end">
                          <a href="" class="text-uppercase readmore-text text-white">Read More <i
                              class="fa fa-angle-right text-white"></i></a>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-12 p-0 scroll-container">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of peopleData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row d-flex mb-3">
                            <div class="col-md-7 mb-2">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                (max-width: 768px) 800px,
                                (max-width: 992px) 600px,
                                (max-width: 1200px) 700px,
                                1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-5 ">
                              <p class="text-white text-box">{{ item.title }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              franchisee
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 p-0 mb-2">
                    <div class="bg-red">
                      <img appyoutubeimage sizes="(max-width: 576px) 600px,
                (max-width: 768px) 800px,
                (max-width: 992px) 600px,
                (max-width: 1200px) 700px,
                1300px" src="{{ highlightFranchise.media | defaultImage:1300:730}}" class="img-fluid">
                      <a href="" class="position-relative m-0">
                        <div class="px-3 pt-3 pb-2 bg-red-condensed spotlight-card text-white">
                          <h5 class="text-uppercase"> {{ highlightFranchise.title }} </h5>
                        </div>
                        <div class="px-3 pt-3 pb-2 text-white">
                          <p class="fs-6"> {{ highlightFranchise.short_description}} </p>
                        </div>
                        <div class="px-3 pt-1 pb-1 bg-red-condensed spotlight-card text-white text-end">
                          <a href="" class="text-uppercase readmore-text text-white">Read More <i
                              class="fa fa-angle-right text-white"></i></a>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-12 p-0 scroll-container">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of franchiseeData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row d-flex mb-3">
                            <div class="col-md-7 mb-2">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                (max-width: 768px) 800px,
                                (max-width: 992px) 600px,
                                (max-width: 1200px) 700px,
                                1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-5 ">
                              <p class="text-white text-box">{{ item.title }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              franchisor
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
              plugin
              adds the appropriate classes that we use to style each element. These classes control the overall
              appearance,
              as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spotlight-tabs d-none d-sm-block">

    <div class="spotlight-top col-12 d-flex">
      <div class="container mt-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li class="spotlight-links"><a href="javascript:void(0)">Spotlight/</a></li>
          <li class="spotlight-links" [ngbNavItem]="1">
            <a ngbNavLink> people </a>
            <ng-template ngbNavContent>
              <div class="container">
                <div class="row">
                  <div class="col-md-4 p-0 ps-4">
                    <div class="bg-red">
                      <img appyoutubeimage sizes="(max-width: 576px) 600px,
                  (max-width: 768px) 800px,
                  (max-width: 992px) 600px,
                  (max-width: 1200px) 700px,
                  1300px" src="{{ highlightPeople.media | defaultImage:1300:730}}" class="img-fluid">
                      <a href="" class="position-relative m-0">
                        <div class="px-3 pt-3 pb-2 bg-red-condensed spotlight-card text-white">
                          <h5 class="text-uppercase"> {{ highlightPeople.title }} </h5>
                        </div>
                        <div class="px-3 pt-3 pb-2 text-white">
                          <p class="fs-6"> {{ highlightPeople.short_description}} </p>
                        </div>
                        <div class="px-3 pt-1 pb-1 bg-red-condensed spotlight-card text-white text-end">
                          <a href="" class="text-uppercase readmore-text text-white">Read More <i
                              class="fa fa-angle-right text-white"></i></a>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8 ps-4 scroll-container">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of peopleData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row d-flex mb-3">
                            <div class="col-md-7">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-5">
                              <p class="text-white text-box">{{ item.title }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="spotlight-links" [ngbNavItem]="2">
            <a ngbNavLink> franchisee </a>
            <ng-template ngbNavContent>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ highlightFranchise.media | defaultImage:1300:730}}"
                      class="img-fluid">
                    <p> {{ highlightFranchise.title }} </p>
                    <p> {{ highlightFranchise.short_description}}</p>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of franchiseeData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row">
                            <div class="col-md-6">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                              <p> {{ item.title }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="spotlight-links" [ngbNavItem]="3">
            <a ngbNavLink> franchisor </a>
            <ng-template ngbNavContent>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ hightlightFranchisor.media | defaultImage:1300:730}}"
                      class="img-fluid">
                    <p> {{ hightlightFranchisor.title }} </p>
                    <p> {{ hightlightFranchisor.short_description}} </p>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of franchisorData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row">
                            <div class="col-md-6">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                              <p>{{item.title}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="spotlight-links" [ngbNavItem]="4">
            <a ngbNavLink> industry </a>
            <ng-template ngbNavContent>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <img appyoutubeimage sizes="(max-width: 576px) 600px,
                  (max-width: 768px) 800px,
                  (max-width: 992px) 600px,
                  (max-width: 1200px) 700px,
                  1300px" src="{{ highlightIndustry.media | defaultImage:1300:730}}" class="img-fluid">
                    <p> {{ highlightIndustry.title }} </p>
                    <p> {{ highlightIndustry.short_description}} </p>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of franchisorData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row">
                            <div class="col-md-6">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                              <p>{{item.title}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="spotlight-links" [ngbNavItem]="5">
            <a ngbNavLink> columns </a>
            <ng-template ngbNavContent class="my-3">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{hightlightColumn.media | defaultImage:1300:730}}" class="img-fluid">
                    <p>{{ hightlightColumn.title }} </p>
                    <p> {{ hightlightColumn.short_description}}</p>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of columnsData?.data?.slice(1);let i = index;">
                        <div class="feature-block">
                          <div class="row">
                            <div class="col-md-6">
                              <img appyoutubeimage sizes="(max-width: 576px) 600px,
                                  (max-width: 768px) 800px,
                                  (max-width: 992px) 600px,
                                  (max-width: 1200px) 700px,
                                  1300px" src="{{ item.media | defaultImage:1300:730}}" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                              <p>{{item.title}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
    <div [ngbNavOutlet]="nav"></div>
  </div>




</div>
