<div class="spotlight-block">
  <div class="container">
    <div class="spotlight-tabs">

      <div class="container">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">SOPTLIGHT</a>
          </li>
          <li class="nav-item">
            <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">PEOPLE</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">FRANCHISEE</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-d" class="nav-link" data-toggle="tab" role="tab">FRANCHISOR</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-e" class="nav-link" data-toggle="tab" role="tab">INDUSTRY</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-f" class="nav-link" data-toggle="tab" role="tab">COLUMNS</a>
          </li>
        </ul>


        <div id="content" class="tab-content" role="tablist">
          <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="card-header" role="tab" id="heading-A">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse-A" data-parent="#content" aria-expanded="true" aria-controls="collapse-A">
                  Collapsible Group Item A
                </a>
              </h5>
            </div>
            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
              <div class="card-body">
                [Tab content A]
              </div>
            </div>
          </div>

          <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
            <div class="card-header" role="tab" id="heading-B">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-B" data-parent="#content" aria-expanded="false" aria-controls="collapse-B">
                  Collapsible Group Item B
                </a>
              </h5>
            </div>
            <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
              <div class="card-body">
                [Tab content B]
              </div>
            </div>
          </div>

          <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
            <div class="card-header" role="tab" id="heading-C">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content" aria-expanded="false" aria-controls="collapse-C">
                  Collapsible Group Item C
                </a>
              </h5>
            </div>
            <div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
              <div class="card-body">
                [Tab content C]
              </div>
            </div>
          </div>

          <div id="pane-d" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-d">
            <div class="card-header" role="tab" id="heading-d">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-d" data-parent="#content" aria-expanded="false" aria-controls="collapse-d">
                  Collapsible Group Item d
                </a>
              </h5>
            </div>
            <div id="collapse-d" class="collapse" role="tabpanel" aria-labelledby="heading-d">
              <div class="card-body">
                [Tab content d]
              </div>
            </div>
          </div>

          <div id="pane-e" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-e">
            <div class="card-header" role="tab" id="heading-e">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-e" data-parent="#content" aria-expanded="false" aria-controls="collapse-e">
                  Collapsible Group Item e
                </a>
              </h5>
            </div>
            <div id="collapse-e" class="collapse" role="tabpanel" aria-labelledby="heading-e">
              <div class="card-body">
                [Tab content e]
              </div>
            </div>
          </div>

          <div id="pane-f" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-f">
            <div class="card-header" role="tab" id="heading-f">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-f" data-parent="#content" aria-expanded="false" aria-controls="collapse-f">
                  Collapsible Group Item f
                </a>
              </h5>
            </div>
            <div id="collapse-f" class="collapse" role="tabpanel" aria-labelledby="heading-f">
              <div class="card-body">
                [Tab content f]
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
