<div class="spotlight-block">
    <div class="spotlight-tabs">
      <div class="spotlight-top">

        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <h3>SOPTLIGHT</h3>
          </li>
          <li class="nav-item">
            <a id="tab-B" href="#pane-B" class="nav-link active" data-toggle="tab" role="tab">PEOPLE</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">FRANCHISEE</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-d" class="nav-link" data-toggle="tab" role="tab">FRANCHISOR</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-e" class="nav-link" data-toggle="tab" role="tab">INDUSTRY</a>
          </li>
          <li class="nav-item">
            <a id="tab-C" href="#pane-f" class="nav-link" data-toggle="tab" role="tab">COLUMNS</a>
          </li>
        </ul>
        </div>
      <div class="spotlight-content">
        <div id="content" class="tab-content" role="tablist">
          <div id="pane-B" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-B">
            <div class="card-header" role="tab" id="heading-B">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-B" data-parent="#content" aria-expanded="false" aria-controls="collapse-B">
                  Collapsible Group Item B
                </a>
              </h5>
            </div>
            <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="{{peopleData.data[0].media.url}}" class="img-fluid" />
                    <p> {{ peopleData.data[0].title }} </p>
                    <p> {{ peopleData.data[0].short_description}} </p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="feature-block">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                  </div>
                                  <div class="col-md-6">
                                    <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-6">
                                <div class="feature-block">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                    </div>
                                    <div class="col-md-6">
                                      <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="feature-block">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                      </div>
                                      <div class="col-md-6">
                                        <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="feature-block">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                        </div>
                                        <div class="col-md-6">
                                          <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="feature-block">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                          </div>
                                          <div class="col-md-6">
                                            <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="feature-block">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                            </div>
                                            <div class="col-md-6">
                                              <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>

          <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
            <div class="card-header" role="tab" id="heading-C">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content" aria-expanded="false" aria-controls="collapse-C">
                  Collapsible Group Item C
                </a>
              </h5>
            </div>
            <div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{franchiseeData.data[0].media.url}}" class="img-fluid" />
                    <p> {{ franchiseeData.data[0].title }} </p>
                    <p> {{ franchiseeData.data[0].short_description}}</p>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="feature-block">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                  </div>
                                  <div class="col-md-6">
                                    <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-6">
                                <div class="feature-block">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                    </div>
                                    <div class="col-md-6">
                                      <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="feature-block">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                      </div>
                                      <div class="col-md-6">
                                        <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="feature-block">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                        </div>
                                        <div class="col-md-6">
                                          <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="feature-block">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                          </div>
                                          <div class="col-md-6">
                                            <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="feature-block">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                            </div>
                                            <div class="col-md-6">
                                              <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>

          <div id="pane-d" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-d">
            <div class="card-header" role="tab" id="heading-d">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-d" data-parent="#content" aria-expanded="false" aria-controls="collapse-d">
                  Collapsible Group Item d
                </a>
              </h5>
            </div>
            <div id="collapse-d" class="collapse" role="tabpanel" aria-labelledby="heading-d">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{franchisorData.data[0].media.url}}" class="img-fluid" />
                    <p> {{ franchisorData.data[0].title }} </p>
                    <p> {{ franchisorData.data[0].short_description}} </p>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="feature-block">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                  </div>
                                  <div class="col-md-6">
                                    <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-6">
                                <div class="feature-block">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                    </div>
                                    <div class="col-md-6">
                                      <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="feature-block">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                      </div>
                                      <div class="col-md-6">
                                        <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="feature-block">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                        </div>
                                        <div class="col-md-6">
                                          <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="feature-block">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                          </div>
                                          <div class="col-md-6">
                                            <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="feature-block">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                            </div>
                                            <div class="col-md-6">
                                              <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>

          <div id="pane-e" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-e">
            <div class="card-header" role="tab" id="heading-e">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-e" data-parent="#content" aria-expanded="false" aria-controls="collapse-e">
                  Collapsible Group Item e
                </a>
              </h5>
            </div>
            <div id="collapse-e" class="collapse" role="tabpanel" aria-labelledby="heading-e">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{industryData.data[0].media.url}}" class="img-fluid" />
                    <p> {{ industryData.data[0].title }} </p>
                    <p>  {{ industryData.data[0].short_description}} </p>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="feature-block">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                  </div>
                                  <div class="col-md-6">
                                    <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-6">
                                <div class="feature-block">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                    </div>
                                    <div class="col-md-6">
                                      <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="feature-block">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                      </div>
                                      <div class="col-md-6">
                                        <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="feature-block">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                        </div>
                                        <div class="col-md-6">
                                          <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="feature-block">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                          </div>
                                          <div class="col-md-6">
                                            <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="feature-block">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                            </div>
                                            <div class="col-md-6">
                                              <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>

          <div id="pane-f" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-f">
            <div class="card-header" role="tab" id="heading-f">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-f" data-parent="#content" aria-expanded="false" aria-controls="collapse-f">
                  Collapsible Group Item f
                </a>
              </h5>
            </div>
            <div id="collapse-f" class="collapse" role="tabpanel" aria-labelledby="heading-f">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{columnsData.data[0].media.url}}" class="img-fluid" />
                    <p>{{ columnsData.data[0].title }} </p>
                    <p> {{ columnsData.data[0].short_description}}</p>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="feature-block">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                  </div>
                                  <div class="col-md-6">
                                    <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-6">
                                <div class="feature-block">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                    </div>
                                    <div class="col-md-6">
                                      <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="feature-block">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                      </div>
                                      <div class="col-md-6">
                                        <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="feature-block">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                        </div>
                                        <div class="col-md-6">
                                          <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="feature-block">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                          </div>
                                          <div class="col-md-6">
                                            <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="feature-block">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <img src="../assets/img/feature-1.jpg"class="img-fluid"  />
                                            </div>
                                            <div class="col-md-6">
                                              <p>More Americans Are Quitting Their Jobs. That Could Be Big News For Franchising.</p>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>

        </div>
      </div>


    </div>



</div>
