@import "../../../../assets/scss/variables.scss";

.spotlight {
  background: $white;
  .sectionTitle {
    color: $red;
  }
  .tabs {
    ul {
      li {
        border-top: 0.5px solid $light_gray_8;
        border-bottom: 0.5px solid $light_gray_8;
        span {
          font-family: $proxiBold;
          color: $light_gray_8;
          &.active,
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
  .article {
    padding: 0 59px;
  }
}
