@import "../../../../assets/scss/theme-color.scss";
@import "../../../../assets/scss/variables.scss";

.editorial-section {
  background: $white;
  h2 {
    font-family: $balingerBold;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: $dark_red_2;
  }
  .innerContent {
    padding: 0 53px;
  }
  .tabs {
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
    .prev,
    .next {
      img {
        width: auto;
        cursor: pointer;
      }
    }
    .customContainer {
      .innerContent {
        li {
          background-color: $white;
          height: 60px;
          span {
            min-width: 132px;
            height: 100%;
            color: $light_gray_8;
            cursor: pointer;
            font-family: $proxiBold;
            font-weight: 700;
            font-size: 20px;
            line-height: 28.24px;
            &.active,
            &:hover {
              color: $primary;
              &::after {
                content: "";
                height: 7px;
                position: absolute;
                bottom: -13px;
                width: 7px;
                border-width: 16px 16px 0 16px;
                border-style: solid;
                border-color: $primary transparent transparent transparent;
              }
              &::before {
                content: "";
                height: 7px;
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: $primary;
              }
            }
          }
          border-color: $light-gray-1;
        }
      }
    }
  }
  .tabs-container {
    > .tabItemList {
      .spotlight-detail {
        padding: 8px 4px;
        h2 {
          font-family: $roboto;
          font-size: 14px;
          line-height: 16.38px;
          color: $dark-gray;
          font-weight: 700;
        }
        p {
          font-family: $roboto;
          font-size: 11px;
          line-height: 12px;
          color: $dark-gray;
          font-weight: 500;
        }
      }
      @media screen and (min-width: 992px) {
        .row {
          margin: 0 -5px;
          .col-md-4 {
            max-width: 20%;
            padding: 0 5px;
          }
        }
      }
    }
  }
}
a {
  color: $dark-gray;
}
