@import "../../../../assets/scss/variables.scss";

.spotlight {
  background: $white;
  .sectionTitle {
    color: $red;
  }
  .tabs {
    height: 62px;
    ul {
      border-top: 0.5px solid $dark_gray;
      border-bottom: 0.5px solid $dark_gray;
      li {
        span{
          font-family: $proxiBold;
        }
      }
    }
  }
}
