@import "../../../../assets/scss/variables.scss";

.banner {
    -webkit-box-shadow: 0 20px 8px rgb(0 0 0 / 8%);
    position: relative;
    z-index: 5;
    background: $dark_gray_1; 
    .container {
        max-width: 1380px !important;
        margin: 0 auto;
        display: block;
        width: 100%;
        padding:0 15px;
        .error-banner-details {
            margin: 0 auto;
            padding: 97px 38px 95px;
            h1 {
                font-size: 28.92px;
                line-height: 31px;
                color: $red;
                font-family: $proxiMedium;
                font-weight: 400;
                padding: 39px 0 19px;
                letter-spacing: .7px;
            }
            h3 {
                font-family: $proxiRegular;
                line-height: 28px;
                letter-spacing: .6px;
            }
            figure {
                line-height: 0;
                margin: 0;
                padding: 0;
                display: block;
                img {
                    max-width: 100%;
                    height: auto;
                    display: inline-block;
                }
            }
        }
        h3 {
            font-size: 24px;
            color: $white;
        }
        @media (min-width: 1200px){
            .col-xl-5 {
                flex: 0 0 41.6666666667%;
                max-width: 41.6666666667%;
            }
        }
       
    }
    
}
    
.trending-articles {
    background: $white;
    .back-home {
        margin-bottom: 100px;
        padding-top: 100px;
    }
    .back {
        width: 250px;
        height: 36px;
        color: $white;
        position: relative;
        margin: 0 auto;
        padding: 5px 15px 0 67px;
        font-family: $roboto;
        font-weight: 700;
        font-size: 16px;
        border-width: 0px;
        background-color: $red;
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            background: $dark_red;
            .fa {
                font-size: 25px;
                line-height: 36px;
                color: $white;
            }
        }
    }
}


