<div [ngClass]="commonService.trendingClass"></div>
<div class="banner sidebar-blur">
  <div class="container">
    <div class="error-banner-details text-center col-xl-5">
      <figure>
        <img
          data-src="{{ s3Url }}error.png"
          loading="lazy"
          width="59"
          height="58"
          alt="error"
          class="lazyload"
        />
      </figure>
      <h1 class="text-uppercase">404 PAGE NOT FOUND:</h1>
      <h3>
        Sorry, the page you have requested does not exist or has been moved
      </h3>
    </div>
  </div>
</div>
<div class="sidebar-blur">
  <div class="trending-articles">
    <app-trending-buzz></app-trending-buzz>
    <div class="back-home">
      <a href="/" class="back button d-block text-uppercase">
        BACK TO HOMEPAGE
        <span class="d-block text-center">
          <i class="fa fa-angle-left"></i>
        </span>
      </a>
    </div>
  </div>
</div>
