@import "../../../../assets/scss/theme-color.scss";
@import "../../../../assets/scss/typography.scss";
@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;  
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

img {
  width: 100%;
}
.c-video-section--wrapper {
  background: $sectionBGColor;
  padding: 25px 0;
  .c-section--title {
    font-size: 33px;
    font-weight: 700;
    font-family: $balingerBold;
    color: $dark-gray;
    line-height: 40px;
  }
  .c-section-header--subInfo {
    color: $section-info-color;
    margin-bottom: 6px;
    font-family: $balingerBold;
    font-weight: 700;

    &::before {
      content: "|";
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
    }
  }
}

.c-video-section--boxWrapper {
  .c-video-section--boxContent {
    height: 314px;
    .c-video-section--playBtn {
      width: 170px;
      height: 170px;
      img {
        width: 81px;
      }
    }
  }
  .c-video-section--title {
    margin-top: 20px;
    line-height: 23.4px;
  }
}

.c-video-section--boxContent {
  background: $light-gray-1;
  height: 136px;
  position: relative;
  .badge {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "ProximaNova-Semibold";
    font-weight: 600;
    background: $primary;
    padding: 8px 6px;
    font-size: 10px;
    border-radius: 0;
  }
  .c-video-section--playBtn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 73px;
    height: 73px;
    border: 1px solid $white;
    border-radius: 50%;
    img {
      width: 35px;
    }
  }
}
.c-video-section--title {
  font-family: $roboto;
  font-size: 18px;
  font-weight: 700;
  color: $dark-gray;
  margin-top: 7px;
  margin-bottom: 20px;
  line-height: 1.2rem;
}

.c-link--btn {
  color: $link-btn--color;
  font-weight: 700;
  font-size: 15px;
  font-family: "ProximaNova-Bold";
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}
.c-divider--wrapper {
  background: $dark-gray;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.tag {
  background: $dark_red_2;
  font-family: $balingerBold;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
  z-index: 1;
  border-radius: unset;
}

.main-image {
  .tag {
    width: 111px;
    height: 22px;
    line-height: 17px;
    padding: 3px 4px;
  }
  .video-btn {
    cursor: pointer;
    position: relative;
    .vide-play {
      position: absolute;
      left: calc(50% - 45px);
      top: calc(50% - 45px);
      z-index: 1000;
      height: 47px;
      width: 75.34px;
      border-radius: 12px;
    }
  }
}
.c-video-slider--wrapper {

  margin-top: 40px;
  @include tablet-landscape1
  { 
    margin-left: 50px;
  }
  @include desk-lg-below3
  {
    margin-top: 30px;
    padding-left: 15px;
    padding-right:30px;
  }
  @media (min-width: 800px) and (max-width: 1085px)
  {
    padding-right:50px;
  }

  .carousel-inner{
    > .item{
      transition: transform 500ms ease-in-out left;
    @include tablet-landscape1 
    {
      display: flex;
      align-items: center;
     }
    
    
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
  
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
  .carousel-control-prev{
    @include tablet-landscape1
    { 
      bottom:100%;
    }
    @include desk-lg-below3
    {top: 15%;
      bottom: 50%;
      justify-content: left;
      margin-left:-10px;
    }
    top: 25%;
    bottom: 50%;
    justify-content: left;
    margin-left:-20px;
  }
  .carousel-control-next{
    @include tablet-landscape1
    { 
      margin-right:70px;
      bottom:100%;
    }
    @media (min-width:360px) and (max-width:800px) 
    
    {
      margin-right:70px;
      justify-content: right;
    }
    @media (min-width: 375px) and (max-width: 954px) {  
        float:left;
        left: 250px;
        justify-content: right;
        bottom: 80px;
        top: -50px
    }
    @media (min-width: 1024px) and (max-width: 1365px)
    {
      background-color:sandybrown;
      right:150px;
      top: -10px;
      bottom: 80px;
      justify-content: right;
      margin-left:-10px;
    }
    @media (min-width: 750px) and (max-width: 1024px) {  
      left:460px;
      margin-left: 250px;
      background-color:rgb(235, 69, 19);
      top: -10px;
      bottom: 80px;
    }
    @media (min-width: 800px) and (max-width: 1085px)
    {
      background-color:rgb(1, 155, 53);
      right:100px;
    }
    top: 25%;
    bottom: 50%;
    justify-content: right;
    margin-right:-20px;
  }
}


.video-btn {
  cursor: pointer;
  position: relative;
  .vide-play {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 20px);
    z-index: 1000;
    height: 28px;
    width: 49px;
    border-radius: 5px;
  }
}
.modal-body {
  padding: 0rem !important;
}
.btn-close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 1rem;
  font-weight: 400;
  opacity: 1;
}

.video-img {
  padding-left: 6px;
  padding-right: 6px;
  min-height: 131px;

}
@include mobile-landscape {
  .video-img {
    width: 280px !important;
    align-items: center;
  }
  .c-video-section--title {
    margin-left: 40px;
    margin-right: 35px;
  }
}
