<div class="video sidebar-blur py-4" *ngIf="isLoaded && data">
  <div class="container customContainer">
    <div class="d-flex">
      <div class="col-lg-11">
        <h2 class="sectionTitle py-3 m-0">
          Videos
          <span class="subTitle py-3"> Covering the franchise industry </span>
        </h2>
      </div>
    </div>
  </div>
  <hr />

  <div class="container customContainer py-2 px-4">
    <div class="row row-cols-lg-2">
      <div
        *ngFor="let item of data | slice: 0:2; index as i"
        class="position-relative topSection"
      >
        <div class="tag position-absolute text-center top-0 text-uppercase">
          Featured Video
        </div>
        <a
          *ngIf="item?.media"
          (click)="openVideoPlayer = true"
          attr.data-src="{{ item.media.url }}"
          data-bs-target="#videoModal"
          data-bs-toggle="modal"
          (click)="updateVideoUrl(item.media.url)"
          href="#"
          class="d-flex justify-content-center align-items-center video-btn"
        >
          <img
            appYoutubeImage
            data-src="{{ item.media | defaultImage: 1280:720 }}"
            class="w-100 img-fluid lazyload story"
            alt="video"
            width="536"
            height="301"
            loading="lazy"
          />
          <img
            data-src="{{ s3Url }}videoIcon.png"
            alt="Play"
            class="img-fluid video-play lazyload"
            loading="lazy"
          />
        </a>
        <h2 class="m-0 pt-2 pb-5">
          {{ item.title }}
        </h2>
      </div>
    </div>
    <div class="row gx-2 d-flex bottomSection">
      <owl-carousel-o
        [options]="customOptions"
        class="position-relative videoCarousel"
      >
        <ng-template
          carouselSlide
          *ngFor="let item of data | slice: 2:10; index as i"
        >
          <div class="col-sm-12 col">
            <a
              *ngIf="item?.media"
              attr.data-src="{{ item.media.url }}"
              data-bs-target="#videoModal"
              data-bs-toggle="modal"
              (click)="updateVideoUrl(item.media.url)"
              href="#"
              class="video-btn"
            >
              <img
                appYoutubeImage
                data-src="{{ item.media | defaultImage: 1280:720 }}"
                class="img-fluid lazyload video-img d-inline"
                width="209"
                height="117"
                alt="video"
                loading="lazy"
              />
              <img
                data-src="{{ s3Url }}videoIcon.png"
                alt="Play"
                class="img-fluid video-play lazyload"
                loading="lazy"
              />
            </a>
            <h3 class="articleTitles align-items-center m-0 pt-2">
              {{ item.title }}
            </h3>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div
    class="modal fade"
    id="videoModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    (click)="openVideoPlayer = true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="openVideoPlayer = false"
          ></button>
          <iframe
            [src]="url | safeUrl"
            frameborder="0"
            width="100%"
            height="496px"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
