<div class="c-video-section--wrapper">
  <div class="container customContainer">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center c-section-header--wrapper">
          <div class="c-section-header--group d-flex align-items-end">
            <h2 class="c-section--title text-uppercase m-0">Videos</h2>
            <span class="c-section-header--subInfo">
              covering the franchise industry
            </span>
          </div>
          <div class="c-section-header--btnGroup ms-auto">
            <a href="#" class="c-link--btn"> SEE MORE > </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-divider--wrapper"></div>

  <div class="container customContainer">
    <div class="row">
      <div class="col-12">
        <div class="d-flex c-video-section--boxWrapper">
          <div class="c-video-section--box" *ngFor="let item of videoData | slice: 0:2;index as i;">
            <!-- <div class="c-video-section--boxContent"> -->
              <div class="badge badge-primary">FEATURED Video</div>
              <a
                *ngIf="item?.media"
                (click)="openVideoPlayer = true"
                data-bs-target="#videoModal{{index}}"
                data-bs-toggle="modal"
                href=""
                class="
                  video-btn
                  c-video-section--playBtn
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <img 
                src="{{ item.media | defaultImage: 600:300 }}" 
                class="img-fluid"
                alt="video"
                width="600"
                height="300"
                data-src="{{ item.media | defaultImage: 600:300}}"/>
                <img src="assets/img/play.png" alt="Play" class="img-fluid vide-play" />
                <!-- modal -->
                <div
                class="modal fade"
                id="videoModal{{index}}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
                (click)="openVideoPlayer = true"
                >
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="openVideoPlayer = false"
                      ></button>
                      <iframe
                        [src]="item?.media?.url | safeUrl"
                        frameborder="0"
                        width="100%"
                        height="496px"
                        allowfullscreen
                      >
                      </iframe>
                    </div>
                  </div>
                </div>
                </div>
              </a>
            <!-- </div> -->
            <div class="c-video-section--title">
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <owl-carousel-o
          [options]="customOptions"
          class="c-video-slider--wrapper d-block position-relative"
        >
          <ng-template
            carouselSlide
            *ngFor="let item of videoData | slice: 2:10; let i = index"
          >
            <div class="c-video-section--box">
              <!-- <div class="c-video-section--boxContent"> -->
                <a
                  *ngIf="item?.media"
                  href="#"
                  data-bs-target="#videoModal"
                  data-bs-toggle="modal"
                  class="
                    video-btn
                    c-video-section--playBtn
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <img 
                  src="{{ item.media | defaultImage: 300:150 }}" 
                  class="img-fluid"
                  width="300"
                  height="150"
                  alt="video"/>
                  <img
                    src="../../../../assets/img/play.png"
                    alt="Play"
                    class="img-fluid vide-play"
                  />
                </a>
              <!-- </div> -->
              <div class="c-video-section--title">
                {{ item.title }}
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>

