@import "../../../../assets/scss/typography.scss";
@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.video {
  background: $white_8;
  color: $black;

  .sectionTitle {
    line-height: 25.6px;
    color: $dark_gray;
  }

  .subTitle {
    color: $dark_gray_5;
    font-family: $roboto;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    text-transform: none;
    &::before {
      content: "|";
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
    }
  }
  .topSection {
    .video-play {
      height: 57px;
      width: 97px;
    }
    h2 {
      font-size: 20px;
      line-height: 23.4px;
      font-weight: 700;
      font-family: $aktiv;
    }
  }
  .bottomSection {
    .video-play {
      height: 22px;
      width: 38px;
    }
  }
  .videoCarousel {
    @include mobile-portrait {
      padding: 0 10px;
    }
  }
}

:host ::ng-deep {
  .owl-carousel {
    .owl-item {
      padding: 0 5px;
    }

    .owl-nav {
      div {
        background-color: transparent;
        position: absolute;
        top: 20%;
        transform: translateY(-20%);
        background-repeat: no-repeat;
        cursor: pointer;
        color: $dark_gray;
        font-size: 45px !important;
        &.owl-prev {
          left: -3%;
          @include tablet-landscape {
            left: -4%;
          }
          @include mobile-portrait {
            left: -8%;
          }
          &:hover {
            background-color: transparent;
            color: $dark_gray;
          }
        }
        &.owl-next {
          right: -3%;
          @include tablet-landscape {
            right: -4%;
          }
          @include mobile-portrait {
            right: -8%;
          }
          &:hover {
            background-color: transparent;
            color: $dark_gray;
          }
        }
      }
    }
  }
}
