@import "../../../assets/scss/theme-color.scss";
@import "../../../assets/scss/variables.scss";

.signUp {
  h2 {
    font-family: $balingerBold !important;
    width: 407px;
    font-size: 30px;
    line-height: 36px;
  }

  input {
    font-family: $proxiRegular;
    font-size: 13px;
    line-height: 16px;
    height: 37px;
    color: $dark-gray;

    &::placeholder {
      color: $dark-gray;
    }
  }

  .joinBtn {
    min-width: 189px;
    background: $dark-gray;
    border-color: $dark-gray;
    font-family: $proxiBold;
    font-size: 25px;
    line-height: 30px;
    height: 38px;
  }
}

.success {
  color: $white;
}

#hideAfter5Sec {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
