<div class="container-fluid">
    <div class="row p-4">
        <div class="col-md-8">
            <div class="row pb-3">
                <div class="col-md-12">
                    <img class="brand-img" src="../../../../assets/img/brand-info.jpg" alt="brand-img">
                </div>
            </div>
            <div class="question-container">
                <div class="question-section">
                    <div class="row d-flex justify-content-center align-items-center header header-highlighter">
                        <div class="title-highlighter">
                            LOREM IPSUM
                        </div>
                        <div class="col-md-12 title">
                            Why Sylvan Learning Franchise/Why Now
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-12">
                            <p>
                                For more than 40 years, Sylvan Learning has been a leader in the supplemental and enrichment education space. The brand, which has more than 750
                                points
                                of presence worldwide, provides a franchisee-centered business opportunity in a hot category by leveraging technology to create best-in-class
                                programs.
                                Sylvan pivoted quickly during the coronavirus pandemic to provide consistent revenue streams for franchisees and custom remote learning programs for
                                students and families.
                            </p>
                            <p>
                                In 2020, many franchise brands struggled to navigate the COVID-19 pandemic, but Sylvan Learning not only survived, but thrived. The brand signed for
                                21
                                new territories, opened 16 new centers, and completed 26 resales. Why? For more than four decades, Sylvan Learning has always been ahead of the
                                curve,
                                with a laser focus on developing one-of-a-kind programs for families, a variety of options for its franchisees, and a forward-thinking approach to
                                technology.
                            </p>
                            <p>
                                Because the abrupt shift to remote learning caused many students and families to struggle out of the classroom, Sylvan’s programs are more in-demand
                                than ever before. All of its centers are open socially distanced or virtually in order to adhere to state guidelines, and thanks to a strong
                                foundation
                                of virtual programs that were in motion long before the pandemic hit. Those programs include SylvanSync, which houses Sylvan’s entire curriculum
                                digitally, a cloud-based CRM system, which manages customer communication, and a cloud-based administration system that enables franchisees to
                                manage
                                their businesses remotely. All of these digital programs remain part of the Sylvan Learning system for in-person learning, increasing student
                                capacity
                                and igniting fast growth for franchisees.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="question-section">
                    <div class="row d-flex justify-content-center align-items-center header">
                        <div class="col-md-12 title">
                            What Sets Sylvan Learning Apart?
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-12">
                            <p>
                                In addition to the variety of business models and suite of programs, Sylvan Learning franchisees benefit from the lowest fees in the industry,
                                including a streamlined royalty rate and affordable initial investment. Other brands in the segment have a clunky, confusing fee structure, but
                                Sylvan has a flat rate of 16 percent, which includes contributing to the national ad fund, mandatory student assessments, Sylvan’s digital platform
                                SylvanSync, interactive online training platforms Sylvan University Now and Sylvan 101, as well as access to the Sylvan corporate team to get
                                guidance and support at every turn. This simplified royalty rate saves franchisees money and allows them to bring in higher revenues than other
                                brands in the space.
                            </p>
                            <p>
                                Forty-plus years in business means that Sylvan Learning has perfected its business model, providing hands-on support to its franchisees to set them
                                up for long-term success and help them achieve their individual growth goals. The corporate team, composed of industry executives, longtime Sylvan
                                employees and former franchisees, is incredibly in tune with what franchisees want and need, and have created the most streamlined systems and
                                processes and a robust pool of resources to help franchisees run their businesses — all designed to drive franchisee profitability.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="question-section">
                    <div class="row d-flex justify-content-center align-items-center header">
                        <div class="col-md-12 title">
                            Why the Supplemental Education Category Now More Than Ever?
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-12">
                            <p>
                                The COVID-19 pandemic has underscored the importance of education and of meeting students where they are in order to provide custom support in the
                                areas they most need it. Sylvan’s quick pivot to virtual learning provided much-needed relief to stressed children and families and offered a
                                glimpse into the future of the supplemental education industry.
                            </p>
                            <p>
                                The brand also rolled out its School Support program, providing students with in center, socially distanced, lower capacity school support needed to
                                login to virtual classrooms and get the help to complete their schoolwork without being in a typical classroom in person. Sylvan has continued to
                                evolve how the brand is helping families find success in their education as they continue to learn in an unpredictable environment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="question-section">
                    <div class="row d-flex justify-content-center align-items-center header">
                        <div class="col-md-12 title">
                            Why You:
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-12">
                            <p>
                                You’re passionate about helping children succeed academically and are driven to make a difference in your community and in those children's lives.
                                Many of Sylvan’s franchisees have an education background, have had children in the company’s programs, or are deeply interested in education, and
                                they also either have a business sense and entrepreneurial spirit or are able to partner with someone who does.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="question-section">
                    <div class="row d-flex justify-content-center align-items-center header">
                        <div class="col-md-12 title">
                            Why Franchisees Love the Brand:
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-12">
                            <p>
                                Sylvan’s brand awareness far outshines competitors in the industry. Not only that, but Sylvan also provides the widest range of programs for
                                children of all ages and all levels. Whether a child wants to accelerate their learning or get caught up, Sylvan has a program for them. Franchisees
                                are also able to diversify their revenue streams with programs such as college test preparation.
                            </p>
                            <p>
                                The Sylvan leadership team also provides strong support on everything from technology to operations to marketing; there to help franchisees find
                                success every step of the way. Sylvan franchisees are proud to represent the brand when they go out in public, knowing that they are truly making a
                                difference in the community and in the lives of students.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="financial-requirement-section">
                <div class="row d-flex justify-content-center align-items-center header">
                    <div class="col-md-12 title">
                        Financial Requirments
                    </div>
                </div>
                <div class="row p-3 financial-description">
                    <div class="col-md-12">
                        <p class="text">
                            Sylvan Learning offers the industry’s best fees, with a low initial investment and a simplified royalty structure of 16% of monthly growth revenues with
                            a total minimum annual royalty of no less than $32,000.
                        </p>
                        <p class="text">
                            Initial Franchise Fee: <span class="highlight-text"> $24,000 </span>
                        </p>
                        <p class="text">
                            Initial Investment Range: <span class="highlight-text"> $69,760 — $161,445 </span>
                        </p>
                        <p class="text">
                            Minimum Qualifications:
                        </p>
                        <p class="highlight-text min-qualification">
                            $75,000 minimum liquidity <br />
                            $150,000 minimum net worth
                        </p>
                        <p class="text">
                            Territory: Protected territory with geographic rights to the Sylvan system in a well-defined area
                        </p>
                        <p class="text">
                            With an average gross revenue of $518,159 among the top 25% of territories, Sylvan Learning offers a business opportunity with both financial and
                            emotional rewards.
                        </p>
                        <p class="text">
                            Top 25% average gross revenue: <span class="highlight-text">$518,159</span>
                        </p>
                        <p class="text">
                            Mid-upper 25% average gross revenue: <span class="highlight-text">$271,959</span>
                        </p>
                        <p class="text">
                            Mid-lower 25% average gross revenue: <span class="highlight-text">$180,972</span>
                        </p>
                        <p class="text">
                            Bottom 25% average gross revenue: <span class="highlight-text">$104,646</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="inquiry-form-section">
                <div class="row d-flex justify-content-center align-items-center header">
                    <div class="col-md-12 title">
                        INQUIRE NOW
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="first-name" id="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="last-name" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="phone" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="information-packet" id="informationPacket" placeholder="Are you looking for an information packet?"
                            required></textarea>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="schedule-call" id="scheduleCall" placeholder="Would you like to scedule a call?">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="become-franchisee" id="becomeFranchisee" placeholder="When do you envision becoming a franchisee?">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="min-requirement" id="minRequirement" placeholder="Do you meet the $75,000 minimum requirement?">
                    </div>
                </div>
            </div>
            <div class="divider-recent-feature">
                <div class="row"></div>
            </div>
            <div class="recent-feature-article-section">
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="title-tag">
                            RECENT FEATURES
                        </div>
                        <div class="recent-item">
                            <p class="title">Title Lorem Ipsum: Conset Entumi Abudi</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididun.A scelerisque purus semper eget..</p>
                        </div>
                        <div class="recent-item">
                            <p class="title">Title Lorem Ipsum: Conset Entumi Abudi Lorem Ipsum...</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididun.A scelerisque purus semper eget..</p>
                        </div>
                        <div class="recent-item">
                            <p class="title">Title Lorem Ipsum: Conset Entumi Abudi</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididun.A scelerisque purus semper eget..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-main"></div>
            <div class="feature-article-section">
                <div class="row p-3 d-flex align-items-center justify-content-center">
                    <div class="col-md-9">
                        <div class="feature-item">
                            <div class="image-tag">FEATURED ARTICLE</div>
                            <div class="image-area"></div>
                            <div class="image-description">
                                Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="image-tag">FEATURED ARTICLE</div>
                            <div class="image-area"></div>
                            <div class="image-description">
                                Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="image-tag">FEATURED ARTICLE</div>
                            <div class="image-area"></div>
                            <div class="image-description">
                                Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-main"></div>
            <div class="trending-section">
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="title-tag">
                            TRENDING
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade con do
                            </div>
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade
                            </div>
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade
                            </div>
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade con do
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>