@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/theme-color.scss";
@import "../../../../assets/scss/mixins.scss";

.brand-img {
  height: 506px;
  width: 100%;
}

.question-section {
  padding-top: 40px;
  @include tablet-landscape1{
    padding-top: 30px;
  }
  @include mobile-landscape1{
    padding-top: 20px;
  }
  + .question-section{
    padding-top: 30px;
    @include mobile-landscape1{
      padding-top: 15px;
    }
  }
  .header-highlighter {
    position: relative;
    .title-highlighter {
      color: $white;
      background-color: $red;
      position: absolute;
      font-family: $balinger;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      padding: 1px 7px;
      width: max-content;
      top: -18px;
    }
  }
  .header {
    height: 67px;
    background-color: $dark-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet-landscape1{
      height: 55px;
    }
    @include mobile-landscape1{
      height: 45px;
    }
    .title {
      color: $brand-info-question-title;
      font-family: $balinger;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      @include tablet-landscape1{
        font-size: 18px;
      }
      @include mobile-landscape1{
        font-size: 16px;
      }
    }
  }
  .description {
    padding-top: 25px;
    @include tablet-landscape1{
      padding-top: 15px;
    }
    p {
      font-family: $roboto;
      font-weight: 400;
      font-size: 13.76px;
      line-height: 137%;
      color: $black;
    }
  }
}
.financial-requirement-section {
  .header {
    height: 67px;
    background-color: $dark-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet-portrait{
      height: 60px;
    }
    @include mobile-landscape1{
      height: 50px;
    }
    .title {
      color: $white;
      font-family: $balinger;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      @include mobile-landscape1{
        font-size: 26px;
      }
    }
  }
  .financial-description {
    background-color: $border-color;
    font-family: $roboto;
    font-weight: 700;
    padding: 30px 23px;
    @include mobile-landscape1{
      padding: 15px;
    }
    .text {
      font-size: 17px;
      line-height: 19.89px;
      color: $dark-gray;
      @include tablet-portrait{
        font-size: 16px;
      }
      @include mobile-landscape1{
        line-height: 140%;
        font-size: 14px;
      }
    }
    .highlight-text {
      color: $red;
      margin-bottom: 0;
    }
    .min-qualification {
      padding-left: 35px;
    }
  }
}
.inquiry-form-section {
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $dark-gray;
    padding-left: 22px;
  }
  form{
    padding: 26px 22px 30px;
    background-color: $dark-gray;
    .inquirefrom-row{
      .isError {
        margin-bottom: 10px !important;
      }
      .invalid-feedback{
        margin-bottom: 10px;
      }
      .form-control{
        height: 54px;
        margin-bottom: 25px;
        background: $white;
        border: 1px solid #C4C4C4;
        border-radius: 0;
        position: relative;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &::placeholder{
          position: absolute;
          font-size: 13px;
          color: $dark-gray;
          top: 5px;
          left: 10px;
        }
      }
    }
  }
  .row {
    margin: 0;
    .inquirefrom-row{
      padding: 0;
    }
  }
  .header {
    height: 78px;
    border-bottom: 3px solid $red;
    .title {
      color: $brand-info-question-title;
      font-family: $balinger;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
    }
  }
  .row:last-child {
    .inquirefrom-row{
      .form-control {
        margin-bottom: 0;
      }
    }
  }
}
.divider-recent-feature .btn{
  height: 54px;
  background-color: $red;
  text-align: right;
}
.recent-feature-article-section {
  .row {
    background-color: $border-color;
  }
  .title-tag {
    color: $red;
    font-family: $roboto;
    font-weight: 500;
    font-size: 10px;
    line-height: 11.72px;
    padding-bottom: 15px;
  }
  .recent-item {
    width: 90%;
    .title {
      color: $dark-gray;
      font-family: $balinger;
      font-weight: bold;
      font-size: 18px;
      line-height: 21.06px;
      margin-bottom: 0.5rem !important;
    }
    .description {
      color: $medium-grey;
      font-family: $roboto;
      font-weight: 500;
      font-size: 12.97px;
      line-height: 16.7px;
      padding-bottom: 15px;
    }
  }
}
.divider-main {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 22px;
    height: 3px;
    width: 90%;
    background-color: $red;
  }
}
.feature-article-section {
  .row {
    background-color: $border-color;
  }
  .feature-item {
    padding-bottom: 20px;
    position: relative;
    .image-tag {
      position: absolute;
      background-color: $red;
      color: $white;
      font-family: $proxiSemiBold;
      font-size: 12.27px;
      padding: 4px;
    }
    .image-area {
      background-color: $light-gray-1;
      height: 126px;
    }
    .image-description {
      padding: 5px;
      background-color: #dce0e3;
      color: $dark-gray;
      font-family: $roboto;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.trending-section {
  .row {
    background-color: $border-color;
  }
  .title-tag {
    color: $red;
    font-family: $roboto;
    font-weight: 500;
    font-size: 10px;
    line-height: 11.72px;
    padding-bottom: 15px;
  }
  .trending-item {
    .image-area {
      height: 84px;
      width: 120px;
    }
    .image-description {
      color: $dark-gray;
      font-family: $roboto;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

//TABS CSS
 .tabs {
  height: 60px;
  margin: 0 -12px;
  margin-bottom: 37px;
  .prev{
    img{
      width: auto;
      cursor: pointer;
    }
  }
}
.primary-bg {
  background-color: $red;
}
.customContainer {
  max-width: 1210px !important;
}
.position-relative {
  position: relative!important;
}
.innerContent {
  padding: 0 53px;
  border-bottom: 1px solid #C4C4C4;
}
.customContainer {
  .innerContent {
    li {
      background-color: $white;
      height: 60px;
      padding: 0;
      span {
        min-width: 132px;
        height: 100%;
        color: $light-gray-1;
        cursor: pointer;
        font-family: $proxiRegular;
        font-weight: bold;
        font-size: 18px;
        @include desk-lg-below2{
          font-size: 13px;
        }
        &.active,
        &:hover {
          color: $red;
          &::after {
            content: "";
            height: 7px;
            position: absolute;
            bottom: -20px;
            width: 7px;
            border-width: 16px 16px 0 16px;
            border-style: solid;
            border-color: $red transparent transparent transparent;
          }
          &::before {
            content: "";
            height: 7px;
            position: absolute;
            bottom: -5px;
            width: 100%;
            background-color: $red;
          }
        }
      }
      border-color: $light-gray-1;
    }
  }
}
.title-highlighter{
  color: $white;
  background-color: $red;
  font-family: $balinger;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 1px 7px;
  width: -webkit-max-content;
  width: max-content;
  top: -18px;

}

// Latest story
.tabs-container
 > .tabItemList{
  .row {
    margin: 0 -5px;
    .col-md-4 {
      max-width: 20%;
      padding: 0 5px;
    }
  }
  .items {
    font-family: $balinger;
    font-weight: bold;
    img {
      width: 100%;
      min-height: 106px;
      background-color: #c4c4c4;
    }
    > .card-body {
      padding: 8px 16px 15px;
      > h6.card-title {
        font-size: 11px;
    }
    .card-text {
      font-size: 12px;
    }
    small {
      font-family: $proxiRegular;
      font-weight: 500;
      font-size: 10px;
    }
   }
  }
 }
 .primary-color {
  color: $red;
}

//Why I Bought

.wings {
  .frannews-top-left {
    margin-bottom: 67px;
  }
  .map-legend {
    margin-bottom: 40px;
    .map-legend-item {
      margin: 20px 15px 0;
    }
  }
}
.multi_conference-left{ 
  ul {
  margin-bottom: 18px;
    li {
      display: inline-block;
      float: left;
      padding: 0 31px 0 0;
      position: relative;
    }
  }
  h2 {
    letter-spacing: .6px;
  }
  p {
    color: #272525;
    line-height: 21px;
    letter-spacing: 0;
    margin-bottom: 18px;
 }
}

.frannews-top-left{
  ul{
    li {
      display: inline-block;
      float: left;
      padding: 0 31px 0 0;
      position: relative;
    }
  } 
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

//Availabe market

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.market-status-color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
.align-self-center {
  align-self: center!important;
}

.download-btn{
  padding-left: 15px;
  padding-top: 15px;
}
.submit-btn{
  background-color: $red;
  width: 300px;
}
.text-size{
  font-size: 15px;
}

//search popup
.search_pop_up {
  .modal-dialog {
    @media only screen and (min-device-width: 768px) {
      max-width: 800px;
      margin: 0 auto;
      top: 150px;
      left: 0;
      right: 0;
      @include desk-lg-below2 {
        max-width: 800px;
        height: auto;
      }
      @include tablet-portrait {
        max-width: 95%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (max-device-width: 1024px) {
      max-width: 800px;
      margin: 0 auto;
      top: 150px;
      left: 0;
      right: 0;
      @include desk-lg-below2 {
        max-width: 800px;
        height: auto;
      }
      @include tablet-portrait {
        max-width: 95%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (orientation: landscape) {
      max-width: 1134px;
      margin: 0 auto;
      top: 150px;
      left: 0;
      right: 0;
      @include desk-lg-below2 {
        max-width: 800px;
        height: auto;
      }
      @include tablet-portrait {
        max-width: 95%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (min-device-width: 768px) {
      max-width: 1134px;
      margin: 0 auto;
      top: 117px;
      left: 0;
      right: 0;
      @include desk-lg-below2 {
        max-width: 800px;
        height: auto;
      }
      @include tablet-portrait {
        max-width: 95%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (max-device-width: 1024px) {
      max-width: 1134px;
      margin: 0 auto;
      top: 38px;
      left: 0;
      right: 0;
      @include desk-lg-below2 {
        max-width: 800px;
        height: auto;
      }
      @include tablet-portrait {
        max-width: 95%;
      }
    }
  }
  .modal-dialog {
    @media only screen and (orientation: portrait) {
      max-width: 1134px;
      margin: 0 auto;
      top: 172px;
      left: 0;
      right: 0;
      @include desk-lg-below2 {
        max-width: 800px;
        height: auto;
      }
      @include tablet-portrait {
        max-width: 95%;
      }
    }
  }
  .modal-content {
    padding: 0 71px 0 91px;
    @include desk-lg-below2 {
      padding: 0 15px;
    }
  }
  &.modal {
    padding-right: 0 !important;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 !important;
  }
  button.close {
    position: absolute;
    right: 35px;
    top: 22px;
    color: $red;
    font-size: 39px;
    outline: 0;
    opacity: 1;
    border: 1px;
    background-color: $white;
    @include desk-lg-below1 {
      top: 10px;
      right: 15px;
    }
  }
  .sponsored-modal-content {
    padding: 70px 50px;
    h2 {
      color: $red;
      margin-bottom: 30px;
    }
    .email-content {
      display: flex;
      flex-direction: column;
      input {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 32px;
        color: $black;
        font-family: $proxiLight;
        font-weight: 400;
        width: 350px;
        background: $white;
        margin: 0 0 5px;
        height: 32px;
        padding: 0 12px;
        outline: 0;
        letter-spacing: .3px;
      }
      button {
        position: relative;
        background: #333;
        color: $white;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        margin-top: 40px;
        width: 200px;
        cursor: pointer;
        border: unset;
        border-radius: 0;
      }
    }
  }
  form {
    padding: 0 17px 0px 0;
    width: 69%;
    margin: 32px auto 0;
    @include desk-lg-below1 {
      margin: 45px auto 0;
      padding: 0 0 20px 0;
    }
    @include tablet-portrait {
    }
    @include mobile-portrait {
      width: 100%;
    }
    .form-group {
      position: relative;
      margin: 0;
    }
  }
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #0003;
  border-radius: .3rem;
  outline: 0;
}
button.close {
  padding: 0;
  background-color: initial;
  border: 0;
  -webkit-appearance: none;
}

.brand-main-img--wrapper{
  padding-bottom: 30px;
}
.pl-0{
  padding-left: 0;
}
.pr-0{
  padding-right: 0;
}
.brand-left-info--wrapper{
  padding-right: 15px;
  @include tablet-portrait{
    padding-right: 0;
  }
}
.brand-page-row--wrapper{
  padding: 0 45px;
  @include tablet-landscape1{
    padding: 0 20px 20px;
  }
  @include mobile-landscape1{
    padding: 0 0 20px;
  }
  @include tablet-portrait{
    padding: 0px 45px 15px 45px;
      }
}
.main-desc-bottom--wrapper{
  position: relative;
  .title-highlighter{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    @include mobile-portrait{
      top: 0;
      font-size: 14px;
    }
  }
}