<div class="container-fluid">
    <div class="tabs primary-bg">
        <div class="container customContainer position-relative">
          <div
            class="prev position-absolute top-50 start-0 translate-middle-y ps-3"
            [ngClass]="
              categories.length > this.commonService.vtabsItem ? '' : 'd-none'
            "
            (click)="prev()"
          >
            <img src="../../../../assets/img/left-arrow.svg" />
          </div>
          <ul class="row innerContent m-0">
            <li
              *ngFor="let item of categories; index as i"
              class="col col-sm-6 col-md-4 col-lg border-end text-center"
              [ngClass]="
                i < this.commonService.vtabsItem + this.skipTab && i >= this.skipTab
                  ? 'active'
                  : 'd-none'
              "
            >
              <span
                class=" position-relative"
                [ngClass]="i + 1 === activeTab ? 'active' : ''"
                (click)="setActiveTab(i + 1)"
                >{{ item?.name }}</span
              >
            </li>
          </ul>
          <div
            class="next position-absolute top-50 end-0 translate-middle-y pe-3"
            [ngClass]="
            categories.length > this.commonService.vtabsItem ? '' : 'd-none'
            "
            (click)="next()"
          >
            <img src="../../../../assets/img/right-arrow.svg" />
          </div>
        </div>
      </div>

    <div class="row p-4">
        <div class="col-md-8">
            <div class="row pb-3">
                <div class="col-md-12">
                    <img class="brand-img" src="../../../../assets/img/brand-info.jpg" alt="brand-img">
                </div>
            </div>
            <div class="question-container">
                <div class="title-highlighter">
                    {{ brandInfo?.name }} INFO
                </div>
                <div class="question-section"  *ngFor="let item of items; let i = index">
                    <div class="row d-flex justify-content-center align-items-center header header-highlighter">
                        <div class="col-md-12 title">
                         {{ item?.title }}
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-12">
                            <p  *ngIf="item?.short_description"
                            [innerHTML]="item?.short_description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="financial-requirement-section">
                <div class="row d-flex justify-content-center align-items-center header">
                    <div class="col-md-12 title">
                        Financial Requirments
                    </div>
                </div>
                <div class="row p-3 financial-description">
                    <div class="col-md-12">
                        <p class="text">
                            Sylvan Learning offers the industry’s best fees, with a low initial investment and a simplified royalty structure of 16% of monthly growth revenues with
                            a total minimum annual royalty of no less than $32,000.
                        </p>
                        <p class="text">
                            Initial Franchise Fee: <span class="highlight-text"> $24,000 </span>
                        </p>
                        <p class="text">
                            Initial Investment Range: <span class="highlight-text"> $69,760 — $161,445 </span>
                        </p>
                        <p class="text">
                            Minimum Qualifications:
                        </p>
                        <p class="highlight-text min-qualification">
                            $75,000 minimum liquidity <br />
                            $150,000 minimum net worth
                        </p>
                        <p class="text">
                            Territory: Protected territory with geographic rights to the Sylvan system in a well-defined area
                        </p>
                        <p class="text">
                            With an average gross revenue of $518,159 among the top 25% of territories, Sylvan Learning offers a business opportunity with both financial and
                            emotional rewards.
                        </p>
                        <p class="text">
                            Top 25% average gross revenue: <span class="highlight-text">$518,159</span>
                        </p>
                        <p class="text">
                            Mid-upper 25% average gross revenue: <span class="highlight-text">$271,959</span>
                        </p>
                        <p class="text">
                            Mid-lower 25% average gross revenue: <span class="highlight-text">$180,972</span>
                        </p>
                        <p class="text">
                            Bottom 25% average gross revenue: <span class="highlight-text">$104,646</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="inquiry-form-section">
                <div class="row d-flex justify-content-center align-items-center header">
                    <div class="col-md-12 title">
                        INQUIRE NOW
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="first-name" id="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="last-name" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="phone" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="information-packet" id="informationPacket" placeholder="Are you looking for an information packet?"
                            required></textarea>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="schedule-call" id="scheduleCall" placeholder="Would you like to scedule a call?">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="become-franchisee" id="becomeFranchisee" placeholder="When do you envision becoming a franchisee?">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="min-requirement" id="minRequirement" placeholder="Do you meet the $75,000 minimum requirement?">
                    </div>
                </div> 
            </div>
            <div class="divider-recent-feature">
                <div class="row"></div>
            </div>
            <div class="recent-feature-article-section">
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="title-tag">
                            RECENT FEATURES
                        </div>
                        <div class="recent-item">
                            <p class="title">Title Lorem Ipsum: Conset Entumi Abudi</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididun.A scelerisque purus semper eget..</p>
                        </div>
                        <div class="recent-item">
                            <p class="title">Title Lorem Ipsum: Conset Entumi Abudi Lorem Ipsum...</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididun.A scelerisque purus semper eget..</p>
                        </div>
                        <div class="recent-item">
                            <p class="title">Title Lorem Ipsum: Conset Entumi Abudi</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididun.A scelerisque purus semper eget..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-main"></div>
            <div class="feature-article-section">
                <div class="row p-3 d-flex align-items-center justify-content-center">
                    <div class="col-md-9">
                        <div class="feature-item">
                            <div class="image-tag">FEATURED ARTICLE</div>
                            <div class="image-area"></div>
                            <div class="image-description">
                                Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="image-tag">FEATURED ARTICLE</div>
                            <div class="image-area"></div>
                            <div class="image-description">
                                Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="image-tag">FEATURED ARTICLE</div>
                            <div class="image-area"></div>
                            <div class="image-description">
                                Title Lorem Ipsum Abudi Lorem Ipsum Yada Sed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-main"></div>
            <div class="trending-section">
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="title-tag">
                            TRENDING
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade con do
                            </div>
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade
                            </div>
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade
                            </div>
                        </div>
                        <div class="row p-2 d-flex justify-content-center align-items-center trending-item">
                            <div class="col-md-4 image-area p-3"></div>
                            <div class="col-md-8 image-decription">
                                Lorem ipsum morbi tristia con flubet o lemase asdew en asade con do
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>