<div *ngIf="type === 'brand_page'">
  <div class="trending mb-1">
  <div class="container-fluid text-center py-2">
    <span class="pe-md-5">
      <img src="assets/img/fire.svg" height="18" width="22" class="pe-2" />
      TRENDING
    </span>
  </div>
</div>
<div class="py-4">
<app-special-feature [apiUrl]="specialFeatureUrl" [slug]="slug"></app-special-feature>
<div class="most-popular">
    <div class="container customContainer">
      <h2 class="py-3 m-0 text-white">MOST POPULAR</h2>
    <hr class="m-0 mb-4" />
    <owl-carousel-o [options]="customOptions" class="d-block position-relative">
    <ng-container *ngFor="let item of data; index as i">
      <ng-template carouselSlide [id]="item.id">
        <div class="slideItem">
          <img appYoutubeImage
            srcset="{{item.media | defaultImage:238:133}} 238w, {{item.media | defaultImage:300:168}} 300w, 
          {{item.media | defaultImage:400:224}} 400w, {{item.media | defaultImage:555:310}} 555w"
            class="img-fluid"
            sizes="{{
              '(max-width: 576px) 555px,
              (max-width: 992px) 400px,
              (max-width: 1200px) 238px,
              300px'
            }}"
            width="380"
            height="155"
            data-src="{{ item.media | defaultImage: 100:95 }}"
            alt="most-popular"/>
          <div class="slide-body position-relative primary-bg px-3 d-block">
            <span class="position-absolute top-0 start-0 bg-white primary-color d-flex 
            align-items-center justify-content-center">POPULAR</span>
            <h3 class="position-relative ps-4 text-white">
              <span class="position-absolute top-0 start-0">{{ i + 1 }}</span>
              <strong class="ms-3 d-block">{{ commonService.formatTitle(item.title) }}</strong>
            </h3>
          </div>
          <div class="slide-footer primary-bg-1 d-flex flex-row-reverse py-1 px-2">
            <a routerLink="{{ commonService.readMore(item) }}" class="text-white">READ MORE ></a>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev">prev</div>
          <div class="owl-next">next</div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </owl-carousel-o>
</div>
</div>
 <div class="tabs primary-bg">
    <div class="container customContainer position-relative">
      <div class="prev position-absolute top-50 start-0 translate-middle-y ps-3"
        [ngClass]="tabName.length > this.commonService.vtabsItem ? '' : 'd-none'"
        (click)="prev()">
        <img src="assets/img/left-arrow.svg" />
      </div>
      <ul class="row innerContent m-0">
        <li *ngFor="let item of tabName; index as i"
          class="col col-sm-6 col-md-4 col-lg border-end text-center"
          [ngClass]="i < this.commonService.vtabsItem + this.skipTab && i >= this.skipTab ? 'active' : 'd-none'">
          <span class=" position-relative"
            [ngClass]="i + 1 === activeTab ? 'active' : ''"
            (click)="setActiveTab(i + 1,item)">{{ item?.name }}</span>
        </li>
      </ul>
      <div class="next position-absolute top-50 end-0 translate-middle-y pe-3"
        [ngClass]="tabName.length > this.commonService.vtabsItem ? '' : 'd-none'"
        (click)="next()">
        <img src="assets/img/right-arrow.svg" />
      </div>
    </div>
  </div> 
  <div class="tabs-container container customContainer">
    <div class="tabItemList innerContent mt-4 py-3">
      <ul class="row gx-2">
        <li class="mb-3 col-3" *ngFor="let item of items;index as i">
          <a routerLink="{{  commonService.readMore(item) }}">
            <div class="items card border-0 rounded-0">
              <img
                appYoutubeImage
                srcset="{{item.media | defaultImage:238:133}} 238w, {{item.media | defaultImage:300:168}} 300w, 
                {{item.media | defaultImage:400:224}} 400w, {{item.media | defaultImage:555:310}} 555w"
                class="card-img-top img-fluid"
                sizes="{{
                  '(max-width: 576px) 555px,
              (max-width: 992px) 400px,
              (max-width: 1200px) 238px,
              300px'
                }}"
                width="95"
                height="100"
                data-src="{{ item?.media }}"
                alt="editorial"/>
              <div class="card-body">
                <h6 class="
                    card-title
                    primary-color
                    text-uppercase text-truncate
                    fw-bold "></h6>
                <h4 class="card-text mb-1">
                  <strong> {{ item?.title }}</strong>
                </h4>
                <h4 class="card-text mb-1">
                   {{ item?.short_description }} 
                </h4>
                <small>{{ item.author?.name }}</small>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
<app-featured [apiUrl]="apiUrl" [slug]="slug"></app-featured>
</div> 
</div>

<div *ngIf="type === 'category_page'">
  <div class="empty"></div>
  <app-featured
    [type]="'Category'"
    [slug]="slug"
    [apiUrl]="apiUrl"
  ></app-featured>

  <app-category-trending [data]="categoryTrending" [subTitle]="categoryParam">
  </app-category-trending>

  <app-advertisement
    [slug]="'1851'"
    [type]="'Main Site Ad'"
  ></app-advertisement>

  <div *ngIf="mostRecent" class="frannews most-recent">
    <div class="container">
      <div class="frannews-details col-xl-11">
        <div class="frannews-top d-flex">
          <div class="frannews-top-left col-md-6 p-0">
            <ul class="desktop-only">
              <li class="header-title">
                <h4 class="text-uppercase">
                  <strong>MOST RECENT</strong>
                </h4>
              </li>
              <li>
                <h4 class="text-uppercase">
                  <span>{{ categoryParam }}</span>
                </h4>
              </li>
            </ul>
            <ul class="mobile-only">
              <li>
                <h4 class="text-uppercase">
                  <span
                    ><strong>MOST RECENT | </strong>{{ categoryParam }}</span
                  >
                </h4>
              </li>
            </ul>
          </div>
          <div class="frannews-top-right col-md-6">
            <a
              routerLink="/{{ readMore(mostRecent[0]) }}"
              fragment="{{ categoryParam }}"
              class="float-right"
            >
              READ MORE
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
        <app-five-column
          [slug]="'1851'"
          [contents]="mostRecent"
          [type]="'categoryPage'"
          [hasMore]="hasMore"
          [typeSlug]="categoryParam"
          (more)="getMoreData()"
        ></app-five-column>
      </div>
    </div>
  </div>
</div>

<div *ngIf="type === 'dynamic_page'">
  <div class="top-space"></div>
  <app-two-side-banner
    *ngIf="dynamicSecond != ''"
    [banner]="topBlock"
    [item]="dynamicSecond[0]"
    [type]="'dynamicPage'"
    [data]="dynamicFirst[0]"
  >
  </app-two-side-banner>
  <app-two-side-banner
    *ngIf="dynamicSecond == ''"
    [banner]="topBlock"
    [item]="dynamicFirst[0]"
    [type]="'dynamicPage'"
    [data]="dynamicFirst[0]"
  >
  </app-two-side-banner>

  <div class="frannews">
    <div class="container">
      <div class="frannews-details col-xl-11">
        <app-five-column
          [slug]="'1851'"
          [contents]="dynamicFirst"
          [type]="'dynamicPage'"
          [typeSlug]="'dynamicpage'"
        >
        </app-five-column>
      </div>
    </div>
  </div>

  <app-advertisement [slug]="'1851'" [type]="'Main Site Ad'">
  </app-advertisement>

  <div class="container dynamic-story">
    <div class="frannews-details col-xl-11">
      <app-five-column
        [slug]="'1851'"
        [contents]="dynamicSecond"
        [type]="'dynamicPage-bottom'"
        [hasMore]="hasMore"
        (more)="getMoreDynamic()"
        [typeSlug]="'dynamicpage'"
      >
      </app-five-column>
    </div>
  </div>
</div>
