<div [ngClass]="commonService.trendingClass"></div>
<div *ngIf="type === 'brand_page'">
  <app-most-popular 
  [slug]="slug" 
  [apiUrl]="'featured-articles?limit=6&offset=0'" 
  [type]="'homeFeature'" 
  [fragment]="'featured'"
   title="{{name}}"
  [subTitle]="'Features'"
  [class] ="'d-sm-none d-flex'">
</app-most-popular>
<app-franchise-research [slug]="slug"></app-franchise-research>

  <app-most-popular   [fragment]="'trending'"
  [slug]="slug" [apiUrl]="'trending?limit=9&offset=0'" [type]="'brand'" [title]="'Most Popular'" class="'d-sm-block'"></app-most-popular>

  <app-spotlight [slug]="slug"></app-spotlight>

  <app-video [slug]="slug"></app-video>

</div>

<div *ngIf="isCategory && type === 'category_page'">
  <app-category [slug]="slug" [type]="'1851'"></app-category>
</div>

<div *ngIf="type === 'dynamic_page'">
  <div class="banner position-relative container sidebar-blur">
    <img
      data-src="{{ topBlock.image | defaultImage: 1140:418 }}"
      width="1439"
      height="518"
      alt="banner"
      loading="lazy"
      class="lazyload img-fluid"
    />
    <div class="left-text position-absolute row">
      <a
        routerLink="/{{ commonService.readMore(dynamicStories[0]) }}"
        fragment="franbuzz"
      >
        <h1 class="mb-0">{{ topBlock?.title }}</h1>
        <p class="description">{{ topBlock?.description }}</p>
        <div class="">
          <button class="align-items-center text-white">Read More</button>
        </div>
      </a>
    </div>
  </div>
  <div class="container customContainer py-md-4 mt-2 sidebar-blur">
    <app-home-article
      [typeSlug]="'franbuzz'"
      [contents]="dynamicStories"
      [column]="'five'"
      [class]="'row-cols-md-2 row-cols-lg-5'"
    ></app-home-article>
  </div>
  <div
    class="nextBtn d-flex py-5 justify-content-center align-items-center"
    *ngIf="hasMore"
  >
    <div class="col-lg-5 col-sm-4 col-4 seeMoreLine"></div>
    <div
      class="
        col-lg-2 col-sm-4 col-4
        d-flex
        align-items-center
        justify-content-center
      "
    >
      <a (click)="getMoreDynamic()" class="pe-3">
        <i
          class="
            fa fa-caret-down
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            primary-bg
          "
          aria-hidden="true"
        ></i
      ></a>
      <span class="seeMore"><a (click)="getMoreDynamic()">See More</a></span>
    </div>
    <div class="col-lg-5 col-sm-4 col-4 seeMoreLine"></div>
  </div>
</div>
