@import "../../../assets/scss/variables.scss";

//Spotlight Section

.editorial-section {
  background: $dark-gray;
  font-family: Roboto;
  h2 {
    font-family: $balingerMedium;
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
  }
  .innerContent {
    padding: 0 53px;
  }

  .tabs {
    height: 60px;
    .prev {
      img {
        width: auto;
        cursor: pointer;
      }
    }
  }
  .primary-bg {
    background-color: #eb0444;
  }
  .customContainer {
    max-width: 1210px !important;
  }

  .customContainer {
    .innerContent {
      li {
        background-color: $white;
        height: 60px;
        span {
          min-width: 132px;
          height: 100%;
          color: $light-gray-1;
          cursor: pointer;
          font-family: $proxiRegular;
          font-weight: bold;
          font-size: 15px;
          &.active,
          &:hover {
            color: $red;
            &::after {
              content: "";
              height: 7px;
              position: absolute;
              bottom: -20px;
              width: 7px;
              border-width: 16px 16px 0 16px;
              border-style: solid;
              border-color: $red transparent transparent transparent;
            }
            &::before {
              content: "";
              height: 7px;
              position: absolute;
              bottom: -5px;
              width: 100%;
              background-color: $red;
            }
          }
        }
        > small {
          font-weight: 500;
          font-size: 12px;
          font-family: $balinger;
        }
        border-color: $light-gray-1;
      }
    }
  }
}
a {
  color: $dark-gray;
}
.trending {
  background-color: #e8eef2;
  color: #595959;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #243444;
  span {
    color: #eb0444;
    font-family: $balingerMedium;
  }
}
.tabs-container {
  > .tabItemList {
    .items {
      font-family: $balinger;
      font-weight: bold;
      img {
        width: 100%;
        min-height: 106px;
        background-color: $light-gray-1;
      }
      > .card-body {
        padding: 8px 16px 15px;
        > h6.card-title {
          font-size: 11px;
        }
        > .card-text {
          font-size: 12px;
        }
        > small {
          font-family: $proxiRegular;
          font-weight: 500;
          font-size: 10px;
        }
      }
    }
    @media screen and (min-width: 992px) {
      .row {
        margin: 0 -5px;
        .col-md-4 {
          max-width: 20%;
          padding: 0 5px;
        }
      }
    }
  }
}
.items {
  font-family: "Roboto";
  .card-body {
    padding: 1rem 0;
    h2 {
      font-size: 16px;
      line-height: 16.7px;
    }
    p,
    p a {
      font-size: 13px;
      line-height: 141.19%;
    }
  }
}
.gray-color {
  color: #243444;
}
.nextLine {
  &::after {
    content: "";
    position: absolute;
    top: 60%;
    width: 100%;
    height: 1px;
    background-color: #eb0444;
    transform: translateY(-50%);
  }
  .nextBtn {
    font-family: $proxiRegular;
    font-size: 17px;
    z-index: 1;
    img {
      cursor: pointer;
    }
  }
}
.banner {
  position: relative;
  .left-text {
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: $balinger;
    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: black;
    }
    h2 {
      font-weight: 700;
      font-size: 54px;
      line-height: 77px;
      color: black;
    }
    button {
      background-color: $red;
      color: white;
      position: absolute;
      border: 0;
      cursor: pointer;
      margin: auto;
    }
    .readmore-btn {
      text-align: center;
      padding-right: 25%;
    }
  }
}
.contact-banner {
  figure {
    img {
      min-height: 493px;
      object-fit: cover;
      height: 522px;
    }
  }
}
