<div class="top-space"></div>
<div class="container bws-sitemap main-sitemap-month">
  <div class="row">
    <div class="col l12 m12 s12 col-sm-12 col-xs-12">
      <h1 class="section-head bws-sitemap-title">
        <a href="/sitemap">Sitemap</a>
      </h1>
      <h2 class="bws-sitemap-subtitle">
        <a href="/sitemap">Sitemap</a> &gt; {{ year }} &gt; {{ month }}
      </h2>
      <ul class="nobullet col3">
        <li *ngFor="let item of sitemap">
          <a [href]="item['url']">{{ item["title"] }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
