@import "../../../assets/scss/theme-color.scss";
.toast {
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.25rem;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 99999;
  .toast-body {
    padding: 0.75rem;
    word-wrap: break-word;
    color: #fff;
  }
}

.d-flex {
  -webkit-flex-wrap: wrap;
  display: flex !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.banner-left_about {
  max-width: 79%;
  -webkit-flex: 0 0 79%;
  figure {
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
}
.video-btn {
  cursor: pointer;
  position: relative;
}

a {
  text-decoration: none !important;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in-out;
  color: #007bff;
  background-color: initial;
}
figure {
  line-height: 0;
  margin: 0;
  padding: 0;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.banner {
  -webkit-box-shadow: 0 20px 8px rgb(0 0 0 / 8%);
  position: relative;
  z-index: 5;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.banner-right_about {
  max-width: 21%;
  -webkit-flex: 0 0 21%;
  -webkit-box-shadow: 6px 0 15px #00000045;
  .info_btn {
    padding: 50px 42px 67px 34px;
    a {
      margin: 0 0 27px;
      width: 215px;
    }
    em {
      font-size: 18px;
      line-height: 21px;
      color: #f1f1f2;
      font-family: ProximaNova-LightIt;
      font-weight: 400;
      font-style: normal;
    }
  }
}
.banner-right-info {
  display: flex;
  -webkit-align-items: flex-end;
  background: #263645;
}
.buffalo_wings {
  padding: 0;
}
.info_btn {
  a {
    display: block;
    width: 100%;
    background: #ec0044;
    font-size: 20px;
    line-height: 52px;
    height: 52px;
    color: #fff;
    font-family: ProximaNova-Light;
    font-weight: 400;
    cursor: unset;
  }
  h1 {
    font-size: 33px;
    line-height: 39px;
    color: #fff;
    font-family: ProximaNova-Bold;
    font-weight: 400;
    padding: 0 0 8px;
  }
}

.franchise_main {
  background: #fff;
  padding: 99px 0 89px;
  box-shadow: 0 6px 12px #00000045;
  position: relative;
  z-index: 2;
  .franchise_data {
    padding: 0 230px;
    h1 {
      font-size: 30px;
      line-height: 32px;
      color: #263645;
      font-family: ProximaNova-Light;
      padding: 0 0 30px;
    }
    p {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: #263645;
    }
  }
}
.container {
  max-width: 1380px;
  margin: 0 auto;
  display: block;
}
.publication_main {
  box-shadow: 0 6px 12px #00000045;
  position: relative;
  z-index: 1;
}
.publication_content {
  background: #f0f0f1;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.publication_left {
  padding: 0;
  background: #fff;
  figure {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.publication_right {
  padding: 15px 0;
  h3 {
    line-height: 30px;
    color: #263645;
    padding: 0 0 15px;
  }
}
.publication_right_data {
  padding: 60px 0;
}
@media (max-width: 1800px) {
  .publication_right_data {
    max-width: 60%;
    -webkit-flex: 0 0 60%;
  }
}
p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.partner_main {
  background: #fff;
  padding: 73px 0;
  box-shadow: 0 13px 19px #00000045;
  position: relative;
}
.partner_left {
  padding: 0;
  vertical-align: middle;
}
.partner_right {
  padding: 0;
}

.partner_right_data {
  -webkit-flex: 0 0 80%;
  h4 {
    font-size: 20px;
    line-height: 68px;
    color: #fff;
    font-family: "ProximaNova-Medium";
    background: #ec0044;
    text-align: center;
    display: block;
    height: 68px;
    margin: 0 0 49px;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    color: #263645;
    letter-spacing: 0.1px;
    padding: 0 0 48px;
    text-align: left;
  }
  .submit_btn {
    display: block;
    text-align: center;
    width: 160px;
    color: #fff;
    background: #ec0044;
    font-size: 16px;
    line-height: 38px;
    height: 38px;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    padding: 0 34px 0 0;
    fa-icon {
      color: #fff;
      font-size: 25px;
      line-height: 36px;
      height: 36px;
      width: 36px;
      background: #b00034;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  input {
    font-family: "ProximaNova-Regular";
    height: 39px;
    &::placeholder {
      color: $dark-gray;
    }
  }
  textarea {
    font-family: "ProximaNova-Regular";
    &::placeholder {
      color: $dark-gray;
    }
  }
}

.modal-body {
  padding: 0rem !important;
}
.btn-close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 1rem;
  font-weight: 400;
  opacity: 1;
}
.f_error {
  display: block;
  margin: 10px 0;
  text-align: center;
  color: red;
}
.f_success {
  color: green;
  display: block;
  margin: 10px 0;
  text-align: center;
}
#hideAfter5Sec {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
