<div class="publication_main">
  <div
    *ngFor="let content of publication_contents; let i = index"
    class="publication_content d-flex flex-wrap"
    [class.flex-row-reverse]="i % 2 === 0"
  >
    <div class="publication_left col-lg-6 col-md-12">
      <figure>
        <img
          *ngIf="i === 0"
          [src]="content['media']['url']"
          width="720"
          height="485"
          alt="about_img2"
          (load)="imageLoad()"
        />
        <img
          *ngIf="i === 1"
          [src]="content['media']['url']"
          width="720"
          height="485"
          alt="about_img2"
          (load)="imageLoad()"
        />
      </figure>
    </div>
    <div
      class="
        publication_right
        d-flex
        justify-content-center
        align-items-center
        col-lg-6 col-md-12
      "
    >
      <div class="publication_right_data col-lg-5 col-md-12">
        <h3>{{ content.title }}</h3>
        <p
          style="color: black !important"
          [innerHtml]="content.short_description"
        ></p>
      </div>
    </div>
  </div>
</div>
