<div class="header-block navbar-fixed-top">
  <div class="container">
    <div class="menu-block">
      <button class="btn btn-grey" id="sidebarToggle"><i class="fas fa-bars"></i></button>
    </div>
    <div class="logo">
      <a href="#"><img src="{{ menu?.logo?.url }}" alt="Logo" /></a>
    </div>
    <div *ngIf="menu['monthly-cover']" class="header-media-img">
      <a href="menu['monthly-cover'].media.url.conver_url">
        <img appYoutubeImage src="{{menu['monthly-cover'].media | defaultImage:119:157}}"
        width="119" height="157" alt="img1"> 
      </a>
  </div>
  <div class="search-btn">
      <a href=""><i aria-hidden="true" class="fa fa-search"></i></a>
    </div>
    <nav class="navbar navbar-expand-lg ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ menu["Franchise Brands"]?.title?.toUpperCase() }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul>
                  <li *ngFor="let item of menu['Franchise Brands'].dropdown" >
                      <a href="{{item.url}}" [target]="item['isExternalLink']? '_blank': ''" class="text-uppercase">{{item.title}}</a>
                  </li>
              </ul>
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ menu.Learn.title.toUpperCase() }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul>
                  <li *ngFor="let item of menu.Learn.dropdown" >
                      <a href="{{item.url}}" [target]="item['isExternalLink']? '_blank': ''" class="text-uppercase">{{item.title}}</a>
                  </li>
              </ul>
          </div>
          </li>
        </ul>
      </div>

    </nav>

  </div>
</div>
