<div *ngIf="data" class="banner d-flex flex-row-reverse">
  <div class="banner-left-info col-sm-9 col-12 p-0">
    <div *ngIf="checkMediaValid(data)">
      <a
        href="#"
        onclick="return false;"
        class="d-block video-btn"
        data-bs-toggle="modal"
        data-bs-target="#brandInfoModal"
      >
        <figure>
          <img
            appYoutubeImage
            src="{{ data['media'] | defaultImage: 953:535 }}"
            width="953"
            height="535"
            alt="brand-img6"
          />
        </figure>
        <img
          appYoutubeImage
          *ngIf="data['media']['type'] === 'video'"
          class="video-maker"
          src="assets/img/youtube.svg"
          data-bs-toggle="modal"
          data-bs-target="#brandInfoModal"
          alt=""
        />
      </a>
      <app-modal
        *ngIf="data['media']['type'] === 'video'"
        [modalId]="'brandInfoModal'"
        [videoUrl]="data.media.url"
      ></app-modal>
    </div>
  </div>
  <div class="banner-right-info col-sm-3 col-12 p-0">
    <div class="buffalo_wings">
      <div class="info_btn text-center">
        <a class="text-center" href="#">FRANCHISE NEWS & INFO</a>
        <h1>{{ data.name | uppercase }}</h1>
      </div>
      <div class="buffalo_rings">
        <a
          *ngFor="let article of data['articles']; let i = index"
          href="{{ goReadMore(article) }}"
        >
          <p>{{ article.title }}</p>
          <a class="text-uppercase" href="{{ goReadMore(article) }}"
            >Read More <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </a>
      </div>
    </div>
  </div>
</div>
