<div class="d-block top-slider position-relative">
  <div class="row g-0 flex-sm-row-reverse align-items-stretch">
    <div class="col-12 col-md-8 col-lg-9">
      <a
        class="d-block sliderImg position-relative video-btn"
        data-bs-toggle="modal"
        data-bs-target="#brandInfoModal"
      >
        <img
          appYoutubeImage
          class="right"
          alt="brand"
          height="535"
          width="953"
          src="{{ data?.media | defaultImage: 953:535 }}"
        />
        <img
          appYoutubeImage
          *ngIf="isVideo(data)"
          class="video-maker"
          src="assets/img/youtube.svg"
          data-bs-toggle="modal"
          data-bs-target="#brandInfoModal"
        />
        <div *ngIf="isVideo(data)">
          <app-modal
            [modalId]="'brandInfoModal'"
            [videoUrl]="data.media.url"
          ></app-modal>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 col-lg-3 pt-2 pt-md-4 flex-row align-self-end">
      <div class="listhead p-2 p-md-4">
        <a class="d-block text-center text-white py-2 py-md-3 fs-6 mb-2 mb-md-3"
          >FRANCHISE NEWS & INFO</a
        >
        <h2 class="text-white text-center">{{ data?.name?.toUpperCase() }}</h2>
      </div>
      <ul
        class="
          list-group list-group-flush
          align-self-stretch
          sliderList
          py-md-3
        "
      >
        <li *ngFor="let item of data.articles" class="p-2 py-2 p-md-4 py-md-2">
          <p class="text-white mb-1">
            {{ item.title }}
          </p>
          <small
            ><a href="{{ item.link }}"
              >READ MORE <i class="fa fa-angle-right"></i></a
          ></small>
        </li>
      </ul>
    </div>
  </div>
</div>
