@import "./variables.scss";
.timeStamp{
    color: $red;
}
.bottom-head{
    font-family: $aktiv;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}
header{
    .middle-head{
        .articleTitles{
            color: $dark_gray;
        }
    }
    .eeLogo
    {
        display: none;
    }
}
.most-popular{
    .card{
        .card-body{
            span{
                color:$dark_gray;
            }
        }
    }
}
.tag {
    background: $dark_gray;
}
.articles{
    .sectionTitle{
        color: $white_2 !important;
    }
}
.most-like-articles{
    h5{
        font-family: $aktiv !important;
    }
}
.article{
    .card-title{
        color: $black_4 !important;
    }
}