@import "./variables.scss";
.timeStamp{
    color: $dark_red;
}
.bottom-head{
    font-family: $aktiv;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}
header{
    .navItem {
        padding-top: 2rem!important;
        @include mobile-portrait{
            padding-top: 0.5rem !important;
        }
        &.brandHeader{
            padding-top: 0.75rem !important;
        }
    }
    .middle-head{
        .articleTitles{ 
            color: $dark_gray !important;
            font-family: $roboto !important;
            font-weight: 500;
        }
        .sponsorLogo{
            background: url("https://dmprqkmvewks9.cloudfront.net/1903Logo_subscribe.png")
                        no-repeat 100% 0 !important;
            padding: 0 17px 0 0 !important;
            background-size: 14px !important;
        }
    }
    .top-head{
        color: $red !important;
    }
    .mainLogo{
        @include tablet-landscape1{
            display: none;
        }
    }
}
.most-popular{
    .card{
        .card-body{
            span{
                color:$dark_gray;
            }
            .articleTitles{
                color: $white_2 !important;
            }
        }
    }
}
.articles{
    .sectionTitle{
        color: $white_2 !important;
    }
    h4{
        color: $white_2 !important;
    }
    .title {
        h1{
            color: $black_5 !important;
        }
    }
}
.most-like-articles{
    h5{
        font-family: $aktiv !important;
    }
    .seeMore{
        border-bottom: 1px solid $black_5 !important;
    }
    .articleTrending{
        .card-title{
            color: $black_4 !important;
        }
    }
}
.articleTitles{
    color: $black_5 !important;
}
.footerText{
    font-size: 107px !important;
    line-height: 151.07px !important;
    padding-right: 50px !important;
}
.footer-middle{
    h4{
      font-family: $roboto !important;
    }
}
.nextBtn{
    .seeMoreLine {
        border: 1px solid $black_5 !important;
        background-color: $black_5 !important;
    }
}
.video{
    .topSection{
        h2{
            color: $black_5;
        }
    }
}
@include mobile-portrait{
    .download-pdf--wrapper{
       .frannews-right--wrapper{
           .frannews-image--wrapper,img{
               width: 100% !important;
               height: auto !important;
           }
        }
    }
} 
.widget7, .widget9{
    .card-body{
        span{
            color: $red !important;
        }
    }
    .card-footer{
        background-color: $blue_3 !important;
    }
}
.widget2{
    .articleTitles, h2, h3{
        color: $dark_red !important;
    }
}
.awards{
    .bottomSection{
        .articleTitles{
            color: $white !important;
        } 
    }
} 
.widget3{
    h3{
        color: $dark_red !important;
    }
}
.widget4{
    h3{
        color: $white !important;
    }
}