<h6 class="text-uppercase sponsored" *ngIf="type === 'trendingbrandbuzz'">
  SPONSORED
</h6>
<div
  class="
    fran-content-block
    row row-cols-1 row-cols-md-4 row-cols-sm-3 row-cols-lg-5
  "
  [ngClass]="
    type === 'monthlydetails' || type === 'categoryPage' ? 'story-block' : ''
  "
>
  <div class="col" *ngFor="let item of contents; let i = index">
    <a href="{{ readMore(item) }}">
      <img
        appYoutubeImage
        srcset="{{item?.media | defaultImage:545:305}} 545w, {{item?.media | defaultImage:355:199}} 355w, {{item?.media | defaultImage:300:168}} 300w, {{item?.media | defaultImage:210:118}} 210w"
        sizes="{{
          '(max-width: 576px) 545px,
                    (max-width: 768px) 355px,
                    (max-width: 992px) 300px,
                    210px'
        }}"
        src="{{ item?.media | defaultImage: 210:118 }}"
        alt=""
        class="img-fluid"
      />
      <div
        class="socialmedia"
        [ngClass]="type === 'authorpage' ? 'author' : ''"
      >
        <p>
          {{ item?.title }}
        </p>
      </div>
    </a>
    <div
      class="sponsored-number text-center"
      *ngIf="type === 'trendingbrandbuzz'"
    >
      <span class="d-inline-block"> {{ i + 1 }} </span>
    </div>
  </div>
</div>
<a
  *ngIf="hasMore && (type === 'monthlydetails' || type === 'categoryPage')"
  href="javascript:void(0)"
  id="loadMore"
  class="text-center loadmore-btn d-block"
  (click)="getMoreData()"
>
  <i class="fa fa-angle-down" aria-hidden="true"></i>
</a>
