<div>
  <div class="top-container">
    <img
      src="assets/img/powerranking.jpg"
      height="759"
      alt="power-ranking-image"
    />
    <div class="text-box">
      <div style="padding: 15px 0">
        <h1 class="title">{{ contents.title }}</h1>
        <p class="description">
          {{ contents.short_description }}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 g-0">
      <div class="c-filter-with-box--wrapper">
        <div class="list-data--section">
          <div class="list-data--wrapper isHead">
            <div class="list-data--item isBrandCol">Rank</div>
            <div class="list-data--item isBrandCol">Brand Page</div>
            <div class="list-data--item isInvestmentCol">Trending</div>
            <div class="list-data--item isLstSotryCol">Latest Story</div>
          </div>
          <div class="list-data--contentWrapper">
            <ng-container
              *ngFor="let item of items | slice: 0:9; let i = index"
            >
              <div
                class="list-data--wrapper isRow"
                [ngClass]="
                  i % 2 == 0 ? 'list-data-wrapper--1' : 'list-data-wrapper--2'
                "
              >
                <div class="list-data--item rankCol">
                  <p class="list-data--rank">
                    {{ item.rank }}
                  </p>
                </div>
                <div class="list-data--item brandCol">
                  <a routerLink="/{{ item.slug }}">
                    <img
                      class="list-data--itemImg"
                      src="{{ item.logo }}"
                      alt="logo"
                      width="149px"
                      height="103px"
                  /></a>
                </div>
                <div class="list-data--item lastWeekCol">
                  <p class="list-data--trending">Last Week</p>
                  <p class="list-data--number">
                    {{ item.last_week_rank }}
                  </p>
                </div>
                <div class="list-data--item isLstSotryCol">
                  <p class="list-data--latestStory">
                    <a
                      routerLink="/{{ item.slug }}/{{ item.latest_story.slug }}"
                      fragment="brand-latest-stories"
                      class="list-data--latestStoryLink"
                    >
                      {{ item.latest_story_title }}
                    </a>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- bottom -->
      <div class="list-data--wrapper otherBrand list-data-wrapper--2">
        <div *ngFor="let item of items.slice(9, 13)">
          <div class="row justify-content-center align-items-center">
            <div class="col-xs-4 list-data--item rankCol">
              <p class="list-data--bottom-rank">
                {{ item.rank }}
              </p>
            </div>
            <div class="col-xs-8 list-data--item brandCol">
              <a routerLink="/{{ item.slug }}">
                <img
                  class="list-data--itemImg"
                  src="{{ item.logo }}"
                  alt="logo"
                  width="162px"
                  height="79px"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-data--wrapper otherBrand list-data-wrapper--1">
        <div class="col-md-3" *ngFor="let item of items.slice(13, 17)">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xs-4 list-data--item rankCol">
              <p class="list-data--bottom-rank">
                {{ item.rank }}
              </p>
            </div>
            <div class="col-xs-8 list-data--item brandCol">
              <a routerLink="/{{ item.slug }}">
                <img
                  class="list-data--itemImg"
                  src="{{ item.logo }}"
                  alt="logo"
                  width="162px"
                  height="79px"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
