@import "../../../assets/scss/theme-color.scss";
@import "../../../assets/scss/typography.scss";
@import "../../../assets/scss/media.scss";

.top-container {
  height: 760px;
  position: relative;
  @include media("<xl"){
    height: 680px;
  }
  @include media("<lg"){
    height: auto;
  }
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // height: 80vh;
    @include media("<md") {
      height: 600px;
    }
    @include media("<sm") {
      height: 600px;
    }
  }
  .text-box {
    position: absolute;
    // top: 80vh;
    bottom: 47px;
    left: 20vw;
    margin-left: -50px;
    border-top: 3px solid $dark-gray;
    border-bottom: 3px solid $dark-gray;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: $white;
    @include media("<md") {
      // top: 55vh;
      width: 70%;
      left: 0;
      right: 0;
    }
    @include media("<sm") {
      // top: 55vh;
      width: 70%;
    }
    .title {
      margin: 0;
      color: $dark-gray;
      font-family: "Ballinger Condensed";
      font-weight: bold;
      font-size: 44px;
      @include media("<md"){
        font-size: 26px;
      }
    }
    .description {
      width: 430px;
      margin: 0 auto;
      color: $primary;
      font-family: "Ballinger Condensed";
      font-weight: bold;
      font-size: 20px;
      margin: 5px auto;
      @include media("<md") {
        width: calc(100% - 15px);
        font-size: 16px;
      }      
    }
  }
}

.list-data--contentWrapper {
  border-top: 1px solid $light-gray-1;
}
.list-data--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include media("<md") {
    flex-flow: row wrap;
  }

  @include media("<lg") {
    padding-left: 0 !important;
  }

  &.isHead {
    background: $border-color;
    font-family: "ProximaNova-Bold";
    color: $dark-gray;
    font-size: 20px;
    padding: 15px 15px;
    text-align: center;
    @include media("<md") {
      display: none;
    }
  }

  &.list-data-wrapper--2 {
    background-color: $text-secondary-color;    
  }

  &.list-data-wrapper--1 {
    background-color: $white;
  }
  .list-data-row--wrapper{
    @include media("<lg"){
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include media("<sm"){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .list-data--item {
    flex: 1 0 25%;
    max-width: 25%;
    padding: 0 15px;
    @include media("<md") {
      flex: 1 0 100%;
      max-width: 100%;
    }
    &.brandCol {
      text-align: center;
      .list-data--itemImg {
        max-width: 190px;
        @include media("<xl") {
          max-width: 140px;
        }
        @include media("<md") {
          max-width: 120px;
          margin-bottom: 15px;
        }
        @include media("<sm") {
          max-width: 120px;
        }
      }
    }
    &.rankCol {
      .list-data--rank {
        font-family: "ProximaNova-Regular";
        font-weight: bold;
        color: $primary;
        font-size: 84px;
        margin-bottom: 0;
        text-align: center;
        @include media("<xl"){
          font-size: 56px;
        }
      }
      .list-data--bottom-rank {
        font-family: "ProximaNova-Regular";
        font-weight: bold;
        color: $primary;
        font-size: 56px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &.lastWeekCol {
      .list-data--trending {
        font-family: "ProximaNova-Regular";
        color: $dark-gray;
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;

        @include media("<md") {
          margin-bottom: 10px;
        }
      }
      .list-data--number {
        font-family: "ProximaNova-Regular";
        color: $primary;
        font-size: 38px;
        margin-bottom: 0;
        text-align: center;

        @include media("<md") {
          margin-bottom: 10px;
        }
      }
    }
    &.isLstSotryCol {
      .list-data--latestStory {
        margin-bottom: 0;
        .list-data--latestStoryLink {
          font-family: "Ballinger Condensed Medium";
          color: $primary;
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
        @include media("<md") {
          font-size: 18px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }
}

.c-filter-with-box--wrapper {
  position: relative;
  width: 100%;
  display: flex;
  @include media("<lg") {
    flex-flow: row wrap;
  }

  .list-data--section {
    flex: 1 1 100%;
  }
}
.otherBrand {
  height: 200px;
  @include media("<lg") {
    height: auto;
    flex-wrap: wrap;
  }
}

