@import "../../../assets/scss/typography.scss";
@import "../../../assets/scss/media.scss";
@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
.powerranking {
  .topSection {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .centerContent {
      position: absolute;
      background-color: $white;
      border-top: 3px solid $dark_gray;
      border-bottom: 3px solid $dark_gray;
      top: 80%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &.row-cols-2 > * {
        width: 59%;
        @include mobile-portrait {
          width: 100%;
        }
        @include tablet-landscape {
          width: 100%;
        }
      }
      @include mobile-portrait {
        position: static;
        transform: none;
        border: none;
        justify-content: start !important;
        align-items: start !important;
        padding: 2rem !important;
      }
      @include tablet-landscape {
        position: static;
        transform: none;
        justify-content: start !important;
        align-items: start !important;
        padding: 2rem !important;
      }
      .large-main-article {
        margin: 0;
        color: $dark_black;
        line-height: 42.5px;
        @include mobile-portrait {
          line-height: 25.74px;
          font-size: 22px;
          padding-bottom: 0.5rem;
        }
      }
      .description {
        color: $red;
        font-family: $aktiv;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.72px;
      }
    }
  }
  .bottomSection {
    background-color: $white_3;
    height: 250px;
    &.bottomSection2 {
      background-color: $white;
    }
    img {
      width: 120px;
      max-width: 160px;
    }
    p {
      font-family: $proxiBold;
      font-weight: 700;
      color: $red;
      font-size: 56px;
      line-height: 68.21px;
      margin-bottom: 0;
    }
  }
  .highRank {
    font-family: $proxiBold;
    font-weight: 700;
    color: $red;
    font-size: 84px;
    line-height: 102.31px;
  }
  .lastWeekText {
    font-family: $roboto;
    font-weight: 700;
    color: $dark_black;
    font-size: 12px;
    line-height: 14.06px;
  }

  .list-data--wrapper {
    min-height: 160px;

    &.isHead {
      font-family: $proxiBold;
      font-weight: 700;
      line-height: 28.24px;
      color: $dark_black;
      font-size: 20px;
      padding: 30px 10px 20px;
      text-align: center;
      min-height: auto;
    }
    &.list-data-wrapper--1 {
      background-color: $white_8;
    }

    &.list-data-wrapper--2 {
      background-color: $white;
    }

    .list-data--item {
      flex: 1 0 25%;
      max-width: 25%;
      padding: 0 15px;

      &.rank-number--wrapper {
        flex: 1 0 15%;
        max-width: 15%;
      }
      &.brandCol {
        text-align: center;
        flex: 1 0 35%;
        max-width: 35%;

        .list-data--itemImg {
          width: 120px;
          max-width: 160px;
        }
      }
      &.isBrandCol {
        flex: 1 0 35%;
        max-width: 35%;
      }
      &.rankCol {
        flex: 1 0 15%;
        max-width: 15%;
      }
      &.lastWeekCol {
        .list-data--number {
          font-family: $roboto;
          font-weight: 700;
          color: $red;
          font-size: 38px;
          line-height: 44.53px;
          margin-bottom: 0;
          text-align: center;
        }
      }
    }
  }

  .c-filter-with-box--wrapper {
    .list-data--section {
      flex: 1 1 100%;
    }
  }
  .latestStory {
    font-family: $aktiv;
    color: $red;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.72px;
  }

  .mobileView {
    .lastWeekText {
      &.lastRank {
        color: $red;
      }
    }
    .bottomLogo {
      width: 90px;
      height: 55px;
    }
    .shortRank {
      font-family: $proxiBold;
      color: $red;
      font-size: 39.24px;
      font-weight: 700;
      line-height: 47.79px;
    }
  }
}
