<div [ngClass]="commonService.trendingClass"></div>
<div class="powerranking sidebar-blur">
  <div class="position-relative topSection">
    <img
      data-src="{{ s3Url }}powerranking.jpg"
      width="1280"
      height="720"
      alt="power-ranking-image"
      loading="lazy"
      class="lazyload img-fluid"
    />
    <div
      class="
        row row-cols-2
        flex-column
        py-5
        justify-content-center
        align-items-center
        centerContent
      "
    >
      <h2
        class="
          large-main-article
          m-0
          d-flex
          align-items-center
          justify-content-center
        "
      >
        {{ contents?.title }}
      </h2>
      <p class="description m-0 pb-2 text-center">
        {{ contents.short_description }}
      </p>
    </div>
  </div>

  <div class="desktop-only">
    <div class="c-filter-with-box--wrapper d-flex position-relative">
      <div class="list-data--section">
        <div class="list-data--wrapper align-items-center d-flex isHead">
          <div class="list-data--item rank-number--wrapper">Rank</div>
          <div class="list-data--item isBrandCol">Brand Page</div>
          <div class="list-data--item isInvestmentCol">Trending</div>
          <div class="list-data--item isLstSotryCol">Latest Story</div>
        </div>
        <div>
          <ng-container *ngFor="let item of items | slice: 0:10; let i = index">
            <div
              class="list-data--wrapper align-items-center d-flex isRow"
              [ngClass]="
                i % 2 == 0 ? 'list-data-wrapper--1' : 'list-data-wrapper--2'
              "
            >
              <div class="list-data--item rankCol">
                <p class="highRank m-0 text-center">
                  {{ item.rank }}
                </p>
              </div>
              <div class="list-data--item brandCol">
                <a routerLink="/{{ item.slug }}">
                  <img
                    class="list-data--itemImg"
                    data-src="{{ item.logo }}"
                    alt="logo"
                    width="149px"
                    loading="lazy"
                    class="lazyload"
                /></a>
              </div>
              <div class="list-data--item lastWeekCol">
                <p class="lastWeekText m-0 text-center">Yesterday</p>
                <p class="list-data--number">
                  {{ item.last_week_rank }}
                </p>
              </div>
              <div class="list-data--item isLstSotryCol">
                <a
                  routerLink="/{{ item.slug }}/{{ item.latest_story.slug }}"
                  fragment="brand-latest-stories"
                >
                  <p class="latestStory m-0">
                    {{ item.latest_story.title }}
                  </p>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- bottom -->
    <div class="bottomSection align-items-center justify-content-center d-flex">
      <div class="container">
        <div class="row row-cols-lg-5 row-cols-md-3">
          <ngContainer *ngFor="let item of items | slice: 10:15">
            <div class="d-flex">
              <p class="text-center pe-4">
                {{ item.rank }}
              </p>
              <a routerLink="/{{ item.slug }}">
                <img class="lazyload" data-src="{{ item.logo }}" alt="logo"
              /></a>
            </div>
          </ngContainer>
        </div>
      </div>
    </div>
    <div
      class="
        bottomSection
        bottomSection2
        align-items-center
        justify-content-center
        d-flex
      "
    >
      <div class="container">
        <div class="row row-cols-lg-5 row-cols-md-3">
          <ngContainer *ngFor="let item of items | slice: 15:20">
            <div class="d-flex">
              <p class="text-center pe-4">
                {{ item.rank }}
              </p>
              <a routerLink="/{{ item.slug }}">
                <img class="lazyload" data-src="{{ item.logo }}" alt="logo"
              /></a>
            </div>
          </ngContainer>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-only mobileView">
    <ng-container *ngFor="let item of items | slice: 0:10; let i = index">
      <div
        class="list-data--wrapper p-4 d-flex flex-column"
        [ngClass]="i % 2 == 0 ? 'list-data-wrapper--1' : 'list-data-wrapper--2'"
      >
        <div class="d-flex">
          <p class="highRank m-0 px-4">
            {{ item.rank }}
          </p>
          <a routerLink="/{{ item.slug }}" class="px-4 pt-3">
            <img
              class="list-data--itemImg"
              data-src="{{ item.logo }}"
              alt="logo"
              width="149px"
              loading="lazy"
              class="lazyload"
          /></a>
        </div>
        <div class="ps-3">
          <p class="lastWeekText mb-1 text-uppercase">
            Yesterday
            <span class="lastWeekText lastRank">
              {{ item.last_week_rank }}
            </span>
          </p>

          <a
            routerLink="/{{ item.slug }}/{{ item.latest_story.slug }}"
            fragment="brand-latest-stories"
          >
            <p class="latestStory m-0">{{ item.latest_story_title }}</p>
          </a>
        </div>
      </div>
    </ng-container>
    <div class="row row-cols-2 px-3">
      <div
        class="list-data--wrapper"
        *ngFor="let item of items | slice: 10:20; let i = index"
        [ngClass]="
          oddRows.includes(i) ? 'list-data-wrapper--1' : 'list-data-wrapper--2'
        "
      >
        <div class="col-6 d-flex py-4">
          <p class="pe-3 shortRank">
            {{ item.rank }}
          </p>
          <a routerLink="/{{ item.slug }}">
            <img
              class="lazyload bottomLogo"
              data-src="{{ item.logo }}"
              alt="logo"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
