.banner {
    -webkit-box-shadow: 0 20px 8px rgb(0 0 0 / 8%);
    position: relative;
    z-index: 5;
}
.top-banner {
    figure {
        width: 100%;
    }    
     img {
        display: block;
        width: 100%;
    }
}

.contact-banner {
    figure {
        img {
    min-height: 493px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 522px;
    }
 } 

}
.top-banner-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin: 0 auto;
    background: #263645;
   h1,  h2 {
        font-size: 28.92px;
        line-height: 31px;
        color: #fff;
        font-family: ProximaNova-Medium;
    }
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    display: block;
}
.top-banner-content {
    padding: 43px 5px 33px;
}
.contact-banner {
    h1,  h2 {
    letter-spacing: .8px;
    }
}