.franchise_main {
  background: #fff;
  padding: 99px 0 89px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 27%);
  position: relative;
  z-index: 2;
}
.franchise_main .franchise_data {
  padding: 0 230px;
  p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: #263645;
  }
  h1 {
    font-size: 30px;
    line-height: 32px;
    color: #263645;
    font-family: ProximaNova-Light;
    padding: 0 0 30px;
  }
}
