<div class="article gx-3 row row-cols-sm-1 row-cols-sm-2" [ngClass]="rowClass">
  <ng-container *ngFor="let item of contents; index as i">
    <div class="py-2">
      <a
        routerLink="/{{ commonService.readMore(item) }}"
        fragment="{{ typeSlug | lowercase }}"
      >
        <div
          class="card rounded-0 border-0 h-100"
          [ngClass]="typeSlug == 'monthlydetailspage' ? 'bg-gray' : ''"
        >
          <img
            appYoutubeImage
            data-src="{{ item.media | defaultImage: 1280:720 }}"
            class="w-100 img-fluid lazyload"
            width="196"
            height="110"
            alt="editorial"
            loading="lazy"
          />
          <div class="card-body p-0 pt-2 rounded-0">
            <span class="small-red-headers" *ngIf="type === 'four-brand'">
              {{ item?.brand.name }}</span
            >
            <h3 class="card-title articleTitles mb-0 ps-3">
              {{ item.title }}
            </h3>
          </div>
          <div class="card-footer ps-3 border-0 pt-0">
            <span *ngIf="commonService.isUpdate(item)" class="timeStamp"
              >{{ item.last_modified | date: "MM-dd-YYYY" }} |
              {{ item.last_modified | date: "shortTime" }}
            </span>
            <span *ngIf="!commonService.isUpdate(item)" class="timeStamp"
              >{{ item.posted_on | date: "MM-dd-YYYY" }} |
              {{ item.posted_on | date: "shortTime" }}</span
            >
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
