<div class="article row row-cols-md-2 row-cols-lg-4" [ngClass]="class">
  <ng-container *ngFor="let item of contents; index as i">
    <a
      href="/{{ commonService.readMore(item) }}"
      fragment="{{ typeSlug | lowercase }}"
      class="py-2"
    >
      <div class="card rounded-0 border-0 h-100">
        <figure>
        <img
          data-src="{{ item.media | defaultImage: 267:150 }}"
          srcset="{{item.media | defaultImage:545:305}} 545w,
            {{item.media | defaultImage:355:199}} 355w, 
            {{item.media | defaultImage:267:150}} 267w"
          sizes="{{
            '(max-width: 576px) 545px,
              (max-width: 768px) 355px,
              (max-width: 992px) 300px,
              267px'
          }}"
          class="w-100 lazyload img-fluid card-img-top"
          width="267"
          height="150"
          alt="story"
          loading="lazy"
        /></figure>
        <div class="card-body p-0 pt-2 rounded-0">
          <span class="small-red-headers ps-3" *ngIf="type === 'brandNews'">
            {{ item?.brand.name }}</span
          >
          <h3 class="card-title articleTitles mb-0 px-3">
            {{ item.title }}
          </h3>
        </div>
        <div
          class="card-footer ps-3 border-0 pt-0"
          *ngIf="type !== 'articleTrending'"
        >
          <span *ngIf="commonService.isUpdate(item)" class="timeStamp"
            >{{ commonService.formatDate(item.last_modified) }} |
            {{ commonService.formatTime(item.last_modified) }}
          </span>
          <span *ngIf="!commonService.isUpdate(item)" class="timeStamp"
            >{{ commonService.formatDate(item.posted_on) }} |
            {{ commonService.formatTime(item.posted_on) }}
          </span>
        </div>
      </div>
    </a>
  </ng-container>
</div>
