@import "../../../../assets/scss/mixins.scss";
@import "../../../../assets/scss/variables.scss";

.article {
  img {
    @include tablet-landscape {
      height: auto;    
    } 
    height:150px;
  }
  .small-red-headers {
    padding-bottom: 5px;
  }
  .card-footer {
    border-radius: 0px;
    background-color: unset;
  }
  &.articleTrending {
    padding-top: 10px;
    img {
      @include mobile-landscape{
        height: 110px !important;
      }
      @include tablet-landscape {
        height: auto;    
      } 
      height:110px;
    }
    .card-title,
    .card-footer {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  
}
