@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";

.article {
  .small-red-headers {
    padding-bottom: 5px;
  }
  .card-footer {
    border-radius: 0px;
    background-color: unset;
  }
  &.articleTrending {
    padding-top: 10px;
    
    .card-title,
    .card-footer {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  &.newsSection {
    .card-img-top {
      height: 9vw;
    }
  }
}
