@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.featured{
    img {
        @include mobile-landscape {
          height: auto;    
        }            
        height: 150px;
      }
    .sectionTitle{
        color: $dark_gray;
    }
    .seeMore{
        color: $red;
    }
}