@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.featured{
    img {
        width:100%;
    }
    .sectionTitle{
        color: $dark_gray;
    }
    .seeMore{
        color: $red;
    }
}