<div class="featured sidebar-blur pb-4" *ngIf="brandInfoNews">
    <div class="container customContainer">
      <div class="col-12 d-flex">
        <h2 class="sectionTitle py-4 m-0">
        Franchise Research
        </h2>
      </div>
    </div>
    <hr />
  
    <div class="container customContainer pb-2 px-4">
      <div class="d-flex row row-cols-sm-1 row-cols-md-4">
          <ng-container
            *ngFor="let item of brandInfoNews | slice: 0:10; index as i"
          >
            <div >
              <h3 class="small-red-headers  m-0 py-2" *ngIf="item.headline">
                {{ item.headline }}
              </h3>
              <a
              *ngIf="item.isExternal"
                href="{{item.url}}"
                target="_blank"
              >
                <img
                appYoutubeImage
                data-src="{{ item.media | defaultImage: 210:118 }}"
                srcset="{{item.media | defaultImage:545:305}} 545w, 
                  {{item.media | defaultImage:355:199}} 355w,
                  {{item.media | defaultImage:210:118}} 210w"
                class="w-100 img-fluid lazyload "
                alt=""
                width="210"
                height="118"
                loading="lazy"
                sizes="{{
                  '(max-width: 576px) 545px,
                  (max-width: 768px) 355px,
                  (max-width: 992px) 300px,
                  210px'
                }}"/>
              </a>
              
                <a
                *ngIf="!item.isExternal"
                href="{{item.url}}"
                >
                
                  <img
                  appYoutubeImage
                  data-src="{{ item.media | defaultImage: 210:118 }}"
                  srcset="{{item.media | defaultImage:545:305}} 545w, 
                    {{item.media | defaultImage:355:199}} 355w,
                    {{item.media | defaultImage:210:118}} 210w"
                  class="w-100 img-fluid lazyload "
                  alt=""
                  width="210"
                  height="118"
                  loading="lazy"
                  sizes="{{
                    '(max-width: 576px) 545px,
                    (max-width: 768px) 355px,
                    (max-width: 992px) 300px,
                    210px'
                  }}"
                  />
    
                  <h3 class="articleTitles align-items-center m-0 pt-2" *ngIf="item.description">
                    {{ item.description }}
                  </h3>
                </a>

            </div>
          </ng-container>
      </div>
    </div>
  </div>
  