@import "src/assets/scss/fonts";
@import "src/assets/scss/mixins";
@import "src/assets/scss/sidebar";
@import "src/assets/scss/trending";
@import "src/assets/scss/featured";
@import "src/assets/scss/spotlight";
@import "src/assets/scss/franchise";
@import "src/assets/scss/footer";
@import "src/assets/scss/common";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "ProximaNova-Regular";
  src: url(./assets/fonts/ProximaNova-Regular.woff) format("woff");
}

@font-face {
  font-family: "ProximaNova-Medium";
  src: url(./assets/fonts/ProximaNova-Medium.woff) format("woff");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url(./assets/fonts/ProximaNova-Semibold.woff) format("woff");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url(./assets/fonts/ProximaNova-Bold.woff) format("woff");
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url(./assets/fonts/ProximaNova-Light.woff) format("woff");
}

html,
body {
  overflow-x: hidden;
}

h6 {
  font-size: 15px;
  line-height: 17px;
  color: #263645;
  font-weight: 400;
  letter-spacing: 0.7px;
}

ul li,
p {
  font-family: "ProximaNova-Regular" !important;
}

h3 {
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
  font-family: ProximaNova-Medium;
  letter-spacing: 0.3px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: ProximaNova-Medium;
  margin: 0;
}

a {
  text-decoration: none !important;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
}
h5 {
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 20px !important;
  line-height: 22px !important;
  color: #263645;
  font-weight: 400 !important;
  font-family: ProximaNova-SemiBold !important;
  letter-spacing: 1px !important;
}

h5 {
  font-size: 18px !important;
  line-height: 20px !important;
  color: #263645 !important;
  font-weight: 400 !important;
  font-family: ProximaNova-Medium !important;
  letter-spacing: 0.8px !important;
}

.float-right {
  float: right !important;
}
.menu-open {
  .menu-details {
    left: 0;
  }
  .hide {
    display: block;
    padding: 0 0 0 6px;
  }
  .show {
    display: none;
  }
}
.fa {
  color: #ec0044;
}
.menu-details {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  overflow: auto;
  background: #2b2b2b;
  z-index: 9;
  padding: 29px 18px;
  -webkit-transition: 0.3s ease-in-out;
  a {
    color: #fff;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
.menu .hide {
  display: none;
}
.menu {
  padding: 7px 0 0;
  a small {
    font-size: 11px;
    line-height: 13px;
    color: #263645;
    font-weight: 400;
    font-family: ProximaNova-Light;
    padding: 6px 0 0;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: block;
  @media (max-width: 1420px) {
    max-width: 100% !important;
  }
}

.addeLeftSpace
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-white.pb-0.pt-3 {
  left: 300px;
  width: 100%;
  transition: all 0.4s ease;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

.text-capitalize-capital {
  text-transform: lowercase !important;
}
.text-capitalize-capital:first-letter {
  text-transform: capitalize !important;
}

.content-padding {
  padding: 66px 41px 0 40px;
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  font-size: 3em !important;
  top: 29%;
  margin-left: -49px !important;
  display: block !important;
  border: 0px solid black;
  background: none !important;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  font-size: 3em !important;
  top: 29%;
  right: -40px !important;
  display: block !important;
  border: 0px solid black;
  background: none !important;
}
.owl-prev i,
.owl-next i {
  color: #fff;
}
