@import "src/assets/scss/mixins";
@import "src/assets/scss/header";
@import "src/assets/scss/sidebar";
@import "src/assets/scss/trending";
@import "src/assets/scss/featured";
@import "src/assets/scss/spotlight";
@import "src/assets/scss/footer";
@import "src/assets/scss/common";

/* You can add global styles to this file, and also import other style files */


.fran-block {
  padding: 50px 0;
  .fran-top-block {
    border-bottom: 2px solid #bbbcbf;
    padding: 0 0 10px;
    margin: 0 15px 15px 15px;
    a{
      text-align: right;
      color:$color-black;
      font-size: 12px;
      width: 100%;
      display: inline-block;
      text-decoration: none;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        float: left;
        padding: 0 31px 0 0;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 7px;
          right: 16px;
          background: #a6a8aa;
          width: 2px;
          height: 15px;
        }

        &:last-child {
          content: none;

          &:after {
            content: none;
          }
        }

        &.frannews-subtitle {
          font-size: 15px;
          line-height: 24px;
          color: #a6a8aa;
        }
      }
    }
  }
  .fran-two-block{
    .fran-two-l{
      padding-left: 15px;
    }
    .fran-two-r{
      background-color: $dark-blue;
      color: $color-white;
      height: 350px;
      h2{

      }
      p{

      }
    }
  }
  .fran-content-block {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        width: 20%;
        float: left;
        padding: 0 15px 40px 15px;

        img {}

        p {
          font-size: 15px;
          line-height: 18px;
          color: #272525;
          margin-top: 15px;
        }
      }
    }
  }
}



.five-col-art-block{
  h4{
    color:$color-white;
  }
  .read-more-btn{
    color:$color-white!important;
  }
  .fran-top-block{
    border-bottom: 2px solid #ec0044;
  }
}



.fran-slider-block{
  .items {
      width: 100%;
      margin: 0px auto;
      margin-top: 20px
  }
  .slick-slide{
    background-color: $color-white;
    margin: 10px;
    .read-more-btn{
      width: 100%;
      background: #b00034;
      display: inline-block;
      text-align: right;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      padding: 5px 15px;
    }
    img{
      width: 100%;
      border: 0px solid #fff
    }
  }
}

.add-banner-block{
  padding-bottom: 30px;
  .title-r{
    float: right;
  }
  .add-banner-border{
    border-top: 1px solid #d0d1d3;
    border-bottom: 1px solid #d0d1d3;
    padding: 34px 10px;
    text-align: center;
  }
}

.more-franchise-block{
  background-color:#f1f1f2;
  padding: 102px 80px 62px;
}
