// custom responsive break points
$screen-lg-desktop:1400px;

// fonts
$font_family_1:'ProximaNova-Light';
$font_family_2:'ProximaNova-Medium';
$font_family_3:'ProximaNova-Bold';
$font_family_4:'ProximaNova-LightIt';
$font_family_5:'ProximaNova-Regular';
$font_family_6:'ProximaNova-Semibold';
$font_family_7:'SinhalaSangamMN';

$color1:#ffffff;
$color2:#000000;
$color3:#263645;
$color4:#EC0044;
$color5:#6c6d6f;
$color6:#D0D1D3;
$color7:#233746;
$color8:#EC0044;
$color9:#B00034;
$color10:#4d5a67;
$color11:#A6A8AA;
$color12:#BBBCBF;
$color13:#272525;
$color14:#F1F1F2;
$color15:#1B2935;
$color16:#929496;
$color17:#EC0B43;
$color18:#2B2B2B;
$color19:#741f34;
$color20:#818184;
$color21:#adaeb0;
$color22:#b0b2b3;
$color23:#1A1A1A;
$color24:#ba1644;
$color25:#d4d5d6;
$color26:#929496;
$color27:#808183;
$color28:#434345;
$color29:#006600;
$color30:#EC0B43;
$color31:#adafb1;
$color32:#ec1e52;
$color20_1:#121c23;
$color21_1:#e3e3e3;
$color22_1:#f1f1f2;
$color23_1:#929496;
$color24_1:#c8c9ca;
$color25_1:#d0d1d2;
$color26_1:#c1c2c3;
$color27_1:#cecfd1;
$color28_1:#f0f0f1;
$color29_1:#6d6e70;
$color30_1:#0f0;
$color31_1:#babbbe;
$color32_1:#ececed;
$color33_1:#808080;
$color34_1:#8e9092;
$color35_1:#a30332;
$color36_1:#223644;
$color37_1:#59595b;
$color38_1:#6eae52;
$color39_1:#bcbcbf;

$grade_bg1:rgba(129, 129, 132, 0.8);
$grade_bg2:rgba(26, 26, 26,0.7);

$grade_bg1_1:rgba(0, 0, 0, 0.52);
$grade_bg2_1:rgba(39, 37, 37, 0.9);
$grade_bg3_1:rgba(0, 0, 0, 0.15);
$grade_bg4_1:rgba(0, 0, 0, 0.27);

$bg_color1:#f7dad6;
$bg_color2:#f6f3f3;
$bg_color3:#f9bcc6;
