<div *ngIf="details" class="articles">
  <div class="banner d-block container">
    <a
      *ngIf="media && media.type === 'video'"
      class="d-block video-btn"
      (click)="openVideoPlayer = true"
      data-bs-toggle="modal"
      attr.data-bs-target="#storyModal{{ index }}"
      href="#"
      onclick="return false;"
    >
      <img
        appYoutubeImage
        width="1440"
        data-src="{{ media | defaultImage: 1440:697 }}"
        height="auto"
        data-srcset="{{ media | defaultImage: 800:400 }} 800w,
                        {{ media | defaultImage: 950:475 }} 950w,
                         {{ media | defaultImage: 1000:500 }} 1000w,
                          {{ media | defaultImage: 1210:605 }} 1210w,
                         {{ media | defaultImage: 1400:697 }} 1400w"
        data-sizes="{{
          '(max-width: 576px) 800px,
            (max-width: 768px) 950px,
            (max-width: 992px) 1000px,
            (max-width: 1200px) 1210px,
            1400px'
        }}"
        alt="article"
        class="lazyload"
      />
      <img
        data-src="assets/img/play.png"
        alt="Play"
        class="img-fluid vide-play lazyload"
        loading="lazy"
      />
    </a>
    <a
      *ngIf="media && media.type !== 'video'"
      class="d-block"
      href="#"
      onclick="return false;"
    >
      <img
        appYoutubeImage
        width="1440"
        height="auto"
        data-src="{{ media | defaultImage: 1440:754 }}"
        alt="article"
        class="lazyload"
      />
    </a>
  </div>
  <!-- main articles details -->
  <div class="container customContainer">
    <div class="row">
      <div class="col-12 col-md userDetail">
        <div class="userImage position-relative">
          <a routerLink="/author/{{ details?.author?.slug }}"
            ><img data-srcset="{{
              details.author.media | defaultImage: 400:600
            }}
            550w , {{ details.author.media | defaultImage: 400:475 }} 400w,
            {{ details.author.media | defaultImage: 300:390 }} 300w,
            {{ details.author.media | defaultImage: 200:290 }} 260w,
            {{ details.author.media | defaultImage: 179:269 }} 269w"
            data-sizes="{{
              "(max-width: 576px) 550px,
              (max-width: 768px) 400px,
              (max-width: 992px) 300px,
              (max-width: 1200px) 260px,
              269px"
            }}" data-src="{{
              details.author.media.url | defaultImage: 179:269
            }}" alt="author" width="179px" <<<<<<< HEAD height="auto" =======
            height="100%" >>>>>>> 5bad80d5a9e26f313c5420ba7882fd556e0e7c95
            class="position-absolute d-block lazyload" /></a
          >
        </div>
        <a routerLink="/author/{{ details?.author?.slug }}"
          ><h3 class="mb-0">{{ details.author.name }}</h3></a
        >
        <h5 class="primary-color" [innerHTML]="designation"></h5>
        <span *ngIf="isDate()">
          <span *ngIf="isUpdate()"
            >Updated {{ last_modified | date: "h:mm a" }} •
            {{ last_modified | date: "MM/dd/yy" }}
          </span>
          <span *ngIf="!isUpdate()"
            >{{ date_time | date: "h:mm a" }} •
            {{ date_time | date: "MM/dd/yy" }}</span
          >
        </span>
        <hr />

        <!-- social icons -->
        <div id="{{ 'inline-buttons-' + index }}" class="social-links"></div>
        <!-- social icons -->
        <hr />

        <h5 class="fs-21 mb-0">TRENDING ARTICLES</h5>
        <fa-icon
          [icon]="faCaretDown"
          [styles]="{ width: '14px', 'margin-top': '-6px' }"
          class="primary-color"
          size="lg"
        ></fa-icon>

        <ul class="most-like-articles list-group mt-4 mb-3">
          <li *ngFor="let item of trendingNews; index as i" class="mb-2">
            <div class="newsImage me-2 pe-1 position-relative">
              <a href="{{ readMore(item, 'trending') }}">
                <img
                  appYoutubeImage
                  width="139"
                  height="84"
                  data-src="{{ item.media | defaultImage: 139:84 }}"
                  alt="news"
                  class="lazyload"
                />
              </a>
            </div>
            <div>
              <p class="m-0">
                <a href="{{ readMore(item, 'trending') }}"> {{ item.title }}</a>
              </p>
              <span class="m-0">
                <a href="#" class="primary-color text-uppercase"
                  >By {{ author_name }}</a
                >
              </span>
            </div>
          </li>
        </ul>
      </div>

      <!-- Articles detail section -->
      <div class="col-12 col-md ps-md-5">
        <div class="details position-relative bg-white">
          <div
            class="
              detailHead
              position-absolute
              bg-white
              w-100
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <div
              class="
                category
                position-absolute
                top-0
                start-50
                translate-middle
                primary-bg
                text-white text-center
                py-1
              "
              *ngIf="category.name"
            >
              <a routerLink="/{{ category.slug }}" class="text-white">{{
                category.name
              }}</a>
            </div>
            <h1 class="title text-center text-black" [innerHTML]="title"></h1>
          </div>

          <h2
            class="subTitle text-white gray-bg position-relative mb-4 p-3"
            [innerHTML]="short_description"
          ></h2>
          <div id="{{ id }}" class="description" [innerHTML]="content"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- next article line -->
  <div class="nextLine position-relative mb-5 mt-2">
    <div class="container customContainer">
      <div class="row">
        <div class="col d-none d-md-block userDetail"></div>
        <div class="col d-flex justify-content-center align-items-center">
          <div class="nextBtn px-5 bg-white">
            <img
              data-src="assets/img/nextIcon.svg"
              width="32"
              alt="next articles"
              class="me-3 lazyload"
            />
            <span class="gray-color next-article">Next Article</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- news blocks -->
  <div class="ArticlesNewsSection gray-bg py-5">
    <div class="container customContainer py-md-2">
      <div class="row">
        <div class="col-12">
          <h4 class="primary-color mb-3">Featured Franchise News</h4>
        </div>

        <div
          class="col-sm-6 col-md-3 mb-2 card-group"
          *ngFor="let mainItem of mainNews; index as i"
        >
          <div class="items card border-0 rounded-0">
            <a href="{{ readMore(mainItem, 'frannews') }}">
              <img
                appYoutubeImage
                width="257"
                height="138"
                data-src="{{ mainItem.media | defaultImage: 257:138 }}"
                alt="article"
                class="card-img-top lazyload"
              />
            </a>
            <div class="card-body">
              <h6 class="card-title m-0">
                <a
                  href="{{ readMore(mainItem, 'frannews') }}"
                  class="text-black"
                  fragment="frannews"
                  >{{ mainItem.title }}</a
                >
              </h6>
              <span class=""
                ><a href="#">By {{ mainItem.author.name }}</a></span
              >
              <p class="card-text mb-1">
                <a
                  href="{{ readMore(mainItem, 'frannews') }}"
                  class="text-black"
                  >{{ mainItem.short_description }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h4 class="primary-color mb-3">Featured Brand News</h4>
        </div>
        <div
          class="col-sm-6 col-md-3 mb-2 card-group"
          *ngFor="let brandNew of brandNews; index as i"
        >
          <div class="items card border-0 rounded-0">
            <a href="{{ readMore(brandNew, 'frannews') }}">
              <img
                appYoutubeImage
                width="257"
                height="138"
                data-src="{{ brandNew.media | defaultImage: 257:138 }}"
                alt="article"
                class="card-img-top lazyload"
              />
            </a>
            <div class="card-body">
              <h6 class="card-title m-0">
                <a
                  href="{{ readMore(brandNew, 'frannews') }}"
                  class="text-black"
                  fragment="frannews"
                  >{{ brandNew.title }}</a
                >
              </h6>
              <span
                ><a href="#">By {{ brandNew.author.name }}</a></span
              >
              <p class="card-text mb-1">
                <a
                  href="{{ readMore(brandNew, 'frannews') }}"
                  class="text-black"
                  fragment="frannews"
                  >{{ brandNew.short_description }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div
  class="modal fade"
  id="storyModal{{ index }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close btn-close-black"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="openVideoPlayer = false"
        ></button>
        <iframe
          *ngIf="openVideoPlayer"
          [src]="url | safeUrl"
          frameborder="0"
          width="100%"
          height="496px"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
