/* development fonts here */

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Medium";
  src: url("/assets/fonts/ProximaNova-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("/assets/fonts/ProximaNova-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("/assets/fonts/ProximaNova-LightIt.woff") format("woff");
  font-display: swap;
}
