@import "../../../../assets/scss/media.scss";
@import "../../../../assets/scss/variables.scss";

.article-section{
    .items {
    font-family: $roboto;
    font-weight: 700;
    img {
        background-color: $light-gray-1;
    }
    
        border-radius: 0;
        > .card-body {
            padding: 8px 16px 15px;
            > .card-text {
            font-size: 10px;
            }
            a {
            > small {
                font-family: $roboto;
                font-weight: 500;
                font-size: 11px;
                line-height: 12px;
            }
            }
        }
    }
   
    .bg-gray{
        .card{
            background-color: $white_8;
        }
    }
}
@media screen and (min-width: 992px) {
    .row {
        margin: 0 -5px;
        .col-md-5 {
        max-width: 20%;
        padding: 0 5px;
        }
     }
}