@import "./../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.series {
  .sectionTitle {
    color: $dark_gray;
  }
  .seeMore {
    color: $red;
  }
  .title {
    font-family: $aktiv;
    font-size: 30px;
    font-weight: 700;
    line-height: 125%;
    color: $black;
    margin-top: 10px;
    span {
      float: right;
    }
  }
  .leftSide {
    .seeAll{
      @include mobile-landscape{
        align-items: unset !important;
        padding-top: 10px !important
      }
      .seeMore{
        @include mobile-landscape{
          margin-right: unset !important;
        }
      }
    }
    figure {
      img {
        @include tablet-landscape {
          height: auto;    
        }       
        height: 417px;
      }
    }
  }
  .rightSide {
    
    @include mobile-portrait {
      padding-top: 2rem;
    }
    li {
      border-bottom: 1px solid $dark_gray_5;
      padding: 25px 0;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        border: 0;
      }
    }
  }
}
i {
  color: $red;
  font-weight: 700;
font-size: 14px;
}