<div class="series">
<div class="container customContainer">
    <h2 class="py-3 m-0 sectionTitle  ">Featured Series</h2>
<hr>
    <div class="row">
        <div class="col-8 col-md-8">
            <div class="position-relative">
                <div class="tag text-center top-0 position-absolute text-uppercase">featured series</div>
                <a>
                    <img
                        appYoutubeImage
                        class="img-fluid lazyload"
                        width="780"
                        height="425"
                        data-src="{{ seriesData[0].media | defaultImage: 780:425}}"
                        data-srcset="{{ seriesData[0].media | defaultImage: 555:300 }} 555w, 
                            {{ seriesData[0].media | defaultImage: 700:400 }} 760w, 
                            {{ seriesData[0].media | defaultImage: 600:340 }} 600w, 
                            {{ seriesData[0].media | defaultImage: 700:400 }} 700w, 
                            {{ seriesData[0].media | defaultImage: 780:450 }} 780w"
                        data-sizes="{{
                            '(max-width: 576px) 555px,
                            (max-width: 768px) 760px
                            (max-width: 992px) 600px,
                            (max-width: 1200px) 700px,
                            780px'
                        }}"
                        alt="series"
                        loading="lazy"
                        />
                    <h2 class="highlight">{{ seriesData[0]?.title }}
                        <span class="timeStamp float-right">SEE ALL <fa-icon [icon]="faAngleRight" class="fa-icon"></fa-icon></span>
                    </h2>
                    
                </a>
            </div>
        </div>
        <div class="col-4 col-md-4">
            <span class="small-red-headers">featured series</span>
            <ul>
                <li *ngFor="let item of seriesData | slice:1:4 ">
                    <div>
                        <a>
                            <img
                              appYoutubeImage
                              class="img-fluid lazyload"
                              data-srcset="{{ item.media | defaultImage: 238:93 }} 238w, 
                              {{ item.media | defaultImage: 244:133 }} 244w, 
                              {{ item.media | defaultImage: 400:224 }} 400w, 
                              {{ item.media | defaultImage: 555:310 }} 555w"
                              data-sizes="{{
                                '(max-width: 576px) 555px,
                                (max-width: 992px) 400px,
                                (max-width: 1200px) 238px,
                                244px'
                              }}"
                              width="244"
                              height="133"
                              data-src="{{ item.media | defaultImage: 244:133 }}"
                              alt="featured"
                              loading="lazy"
                            />
                        </a>
                    </div>
                    <div>
                        <h3 class="d-flex articleTitles"> {{ item.title }} </h3>
                        <span class="timeStamp">SEE ALL <fa-icon [icon]="faAngleRight" class="fa-icon"></fa-icon></span>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>