<div class="sidebar-blur category" *ngIf="isLoaded">
  <div class="banner" [style.background-image]="'url(' + banner + ')'">
    <div class="container customContainer position-relative py-3">
      <div class="row row-cols-2 flex-column py-5 justify-content-center align-items-center content">
        <h3 class="text-capitalize d-flex align-items-center justify-content-center">{{ mainText }}</h3>
        <span class="d-flex description m-0 py-0 text-center" *ngIf="description">{{
          description
        }}</span>
      </div>
    </div>
  </div>
  <!-- tabs -->
  <div class="bottomSection">
    <div class="tabs primary-bg">
      <div class="container customContainer position-relative">
        <div
          class="prev position-absolute top-50 start-0 translate-middle-y ps-3"
          [ngClass]="tabName?.length > commonService.vtabsItem ? '' : 'd-none'"
          (click)="prev()"
        >
          <img
            data-src="{{ s3Url }}left-arrow.svg"
            width="20px"
            height="39px"
            loading="lazy"
            alt="arrow"
            class="lazyload"
          />
        </div>
        <ul class="row m-0 px-5 row-cols-md-3 row-cols-sm-1" [ngClass]="rows">
          <li
            *ngFor="let item of tabName; index as i"
            class="border-end text-center"
            [ngClass]="
              i < commonService.vtabsItem + skipTab && i >= skipTab
                ? 'active'
                : 'd-none'
            "
          >
            <span
              class="
                d-inline-flex
                justify-content-around
                align-items-center
                mx-auto
                position-relative
              "
              [ngClass]="i + 1 === activeTab ? 'active' : ''"
              (click)="setActiveTab(i + 1, item)"
            >
              {{ item?.shortName }}
            </span>
          </li>
        </ul>
        <div
          class="next position-absolute top-50 end-0 translate-middle-y pe-3"
          [ngClass]="
            tabName?.length > this.commonService.vtabsItem ? '' : 'd-none'
          "
          (click)="next()"
        >
          <img
            data-src="{{ s3Url }}right-arrow.svg"
            loading="lazy"
            width="20px"
            height="39px"
            alt="arrow"
            class="lazyload"
          />
        </div>
      </div>
    </div>

    <div class="container customContainer mt-4 py-3 article">
      <app-home-article
        [typeSlug]="tab"
        [contents]="featuredData"
        [class]="'row-cols-md-2 row-cols-lg-5 gx-2'"
      ></app-home-article>
    </div>
    <div class="nextBtn d-flex py-5 justify-content-center align-items-center" *ngIf="hasMore">
      <div class="col-lg-5 col-sm-4 col-4 seeMoreLine"></div>
      <div
        class="
          col-lg-2 col-sm-4 col-4
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <a (click)="getMore(slug)" class="pe-3">
          <i
            class="
              fa fa-caret-down
              rounded-circle
              d-flex
              justify-content-center
              align-items-center
              primary-bg
            "
            aria-hidden="true"
          ></i
        ></a>
        <span class="seeMore"><a (click)="getMore(slug)">See More</a></span>
      </div>
      <div class="col-lg-5 col-sm-4 col-4 seeMoreLine"></div>
    </div>
  </div>
</div>
