<div class="container py-5 ">
  <div class="row">
    <div class="col-md-8 mb-3 mb-sm-0">
      <div class="row">
        <div>
          <div class="position-relative">
            <div class="tag position-absolute text-center top-0 text-uppercase">
              {{ slug.replace("-", " ") }}
            </div>
            <img
              appYoutubeImage
              srcset="{{ featuredData[0]?.media | defaultImage:1008:450 }}"
              class="img-fluid"
              sizes="{{
                '(max-width: 576px) 555px,
                  (max-width: 992px) 400px,
                  (max-width: 1200px) 238px,
                  300px'
              }}"
              width="1008"
              height="450"
              src="/{{ featuredData[0]?.media }}"
              alt="featured"
              loading="lazy"
            />
            <div
              class="
                over-layer
                position-absolute
                text-capitalize
                bottom-0
                fw-bold
                w-100
              "
            >
              {{ featuredData[0]?.title }}
              <a
                routerLink="{{ commonService.readMore(featuredData[0]) }}"
                class="stretched-link"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="
      position-relative
        col-md-4
        mb-3
        mb-sm-0
        border-start
        border-2
        latestListing
      "
    >
      <ul class="news-list noScrollBar list-group">
        <li
          *ngFor="let item of featuredData | slice: 1; index as i"
          [ngClass]="
            i === featuredData.length - 1
              ? 'pb-0 pb-md-0'
              : 'pb-2 pb-md-3 mb-2 mb-md-3'
          "
        >
          <div class="me-2 me-md-3">
            <img
                appYoutubeImage
                srcset="{{item.media | defaultImage:145:130}} 238w, {{item.media | defaultImage:300:168}} 300w, 
                {{item.media | defaultImage:400:224}} 400w, {{item.media | defaultImage:555:310}} 555w"
                class="img-fluid"
                sizes="{{
                  '(max-width: 576px) 555px,
                (max-width: 992px) 400px,
                (max-width: 1200px) 238px,
                300px'
                }}"
                width="145"
                height="130"
                src="{{ item.media | defaultImage: 145:130 }}"
                alt="category-featured"
                loading="lazy"
            />
          </div>
          <div>
            <h3 class="m-0">
              <a routerLink="/{{ commonService.readMore(item) }}">
                {{ item.title }}
              </a>
            </h3>
            <span>By{{ item.author.name }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container customContainer py-4">
  <div class="col-12 sm-6 lg-3 py-4 most-recent">
    <ul class="row py-3">
      <li class="col-3 col-md-3 py-3" *ngFor="let item of mostRecent">
        <a routerLink="/{{ commonService.readMore(item) }}">
          <img
            appYoutubeImage
            width="290"
            height="160"
            class="img-fluid"
            src="{{ item?.media | defaultImage: 290:160 }}"
            alt="category-feature"
            loading="lazy"
          />
            <h3 class="py-2">
              <strong>{{ item?.title }}</strong>
            </h3>
          <h4>{{ item?.short_description }}</h4>
        </a>
      </li>
    </ul>
  </div>
</div>
