@import "../../../../assets/scss/variables.scss";


@media screen and (min-width: 992px) {
    .latestListing {
      max-width: 318px;
      p {
        line-height: 114.99%;
      }
    }
  }
  
  .news-list {
    font-family: Roboto;
    height: calc(100% - 27px);
    width: calc(100% - 30px);
    a {
      color: $red;
    }
    li {
      display: flex;
      border-bottom: 1px solid $border-color;
      &:last-child {
        border: 0;
      }
      img {
        min-width: 100px;
      }
      h3 {
        font-weight: bold;
        font-size: 17.5px;
        color: $red;
      }
      span {
        font-size: 10px;
        color: $dark-gray;
      }
    }
    @media screen and (max-width: 960px) {
      position: relative;
      height: 100%;
      overflow: visible;
      width: 100%;
    }
  }
  .tag {
    background: $red;
    font-family: $balingerRegular;
    color: $white_2;
    font-weight: bold;
    font-size: 17.1429px;
    box-sizing: border-box;
  }
  .over-layer {
    font-family: $roboto, sans-serif;
    background: rgba(232, 238, 242, 0.67);
    font-size: 36px;
  }

  .most-recent{
      h3{
          font-weight: 700;
          font-style: normal;
          font-size: 16px;
          line-height: 18.72px;
          font-family: $balingerRegular;
          color: $dark-gray;
      }
      h4{
          font-weight: 600;
          font-style: normal;
          font-size: 12.97px;
          line-height: 16.7px;
          font-family: $balingerRegular;
          color: $dark-gray;
      }
      @media screen and (max-width: 450px) {
          .col-3 {
            flex: 0 0 auto;
            width: 100%;
          }
      }
  }
  @media screen and (max-width: 760px) {
    .tag {
      font-size: 12px;
    }
    .over-layer {
      font-size: 24px;
    }
    .small-image {
      .over-layer {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .latestListing {
      max-width: 318px;
      p {
        line-height: 114.99%;
      }
    }
  }
  .content{
    h3{
      text-decoration: none;
      font-family: $balinger;
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 103%;
      color: $dark-gray;
    }
    p{
      font-family: $balingerRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 141.19%;
      color: $black;
    }

  }
  .video-btn {
    cursor: pointer;
    position: relative;
    .vide-play {
      position: absolute;
      left: calc(50% - 45px);
      top: calc(50% - 45px);
      z-index: 1000;
      height: 90px;
      width: 90px;
    }
  }
  .modal-body {
    padding: 0rem !important;
  }
  .btn-close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 1rem;
    font-weight: 400;
    opacity: 1;
  }