<div class="banner banner_search">
  <figure>
    <img
      src="assets/img/banner_search_page.jpg"
      width="1440"
      height="495"
      alt="banner_search"
    />
  </figure>
  <div class="search_form col-lg-6">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm)">
      <div class="form-group d-block">
        <input
          type="text"
          class="form-control"
          placeholder="FIND AN 1851 BRAND..."
          [formControl]="searchForm.controls['searchInput']"
        />
        <button
          type="button"
          class="d-block text-center"
          (click)="onSearchSubmit(searchForm)"
        >
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</div>
