<div class="five-col-art-block">
  <div class="fran-block bg-dark-color" *ngIf="columnData.data?.length">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="fran-top-block">
            <div class="row">
              <div class="col-md-9">
                <ul>
                  <li>
                    <h4>COLUMNS</h4>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <a class="read-more-btn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="fran-slider-block">
          <div class="row items">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <div
                class="col-md-4 items-block"
                *ngFor="let item of columnData.data.slice(0, 3); let i = index"
              >
                <img
                  appYoutubeImage
                  alt=""
                  srcset=""
                  src="{{ item.media | defaultImage: 415:232 }}"
                  class="img-fluid"
                />
                <figure *ngIf="!item.media">
                  <img
                    src="assets/images/video-img2.jpg"
                    width="415"
                    height="232"
                    alt=""
                    srcset=""
                    class="img-fluid"
                  />
                </figure>
                <h5>{{ item.title }}</h5>
                <p>
                  {{ item.short_description }}
                </p>
                <a href="" class="read-more-btn">READ MORE</a>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
