@import "./variables.scss";
.timeStamp{
    color: $red;
}
.bottom-head{
    font-family: $aktiv;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}
header{
    .nav{
        padding-top: 1rem !important;
    }
    .middle-head{
        .articleTitles{
            color: $dark_gray;
        }
        @include mobile-portrait1{
            .logoDiv{
                padding-left: 1.25rem !important;
            }  
            .subscribe{
                padding-right: 0.5rem !important;
            }
        }
        .logo{
            img {
                @include tablet-landscape1{
                  width: 50px !important;
                  height: auto !important;
                }
                @include mobile-portrait1 {
                    width: 30px !important;
                    height: auto !important;
                }
            }
        }
    }
    .mainLogo{
        @include tablet-landscape1{
            display: none;
        }
    }
}
.most-popular{
    .card{
        .card-body{
            span{
                color: $red;
            }
        }
    }
}
.awards {
    .seeMore {
      color: $red;
    }
  }