@import "./variables.scss";
.timeStamp{
    color: $red;
}
.bottom-head{
    font-family: $aktiv;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}
header{
    .nav{
        padding-top: 0.25rem !important;
    }
    .middle-head{
        .articleTitles{
            color: $dark_gray;
        }
    }
    .eeLogo
    {
        display: none;
    }
}
.most-popular{
    .card{
        .card-body{
            span{
                color: $red;
            }
        }
    }
}
.awards {
    .seeMore {
      color: $red;
    }
  }